[2019-09-14 10:36] thomlom opened #1 "Support promise-syntax"
The `await-async-query` doesn't supports the Promise syntax yet. For example:

[code]

Using the promise syntax is not that common but it doesn't cost much to support it.

[2019-09-14 10:45] thomlom opened #2 "Support assignments and awaiting them"
We need to handle the case where a user stores the result of a `find*` query in a variable and later on await this variable, for example:

[code]

We need to keep track of the user assignements and check on every one of them if the user effectively uses an `await` statement.

[2019-09-16 16:44] #1 closed

[2019-09-16 16:44] #2 closed

[2019-09-30 13:54] Belco90 opened #12 "Improvement: no-dom-import suggesting proper framework module"
As discussed in https://github.com/Belco90/eslint-plugin-testing-library/pull/11#discussion_r329562380 we need to use eslint context.options for passing proper testing library framework to `no-dom-import` rule so it can report the issue properly and autofix it properly in the future.

Additionaly, that option should be automatically setup for react, vue and angular configs by passing corresponding

[2019-10-01 21:07] Belco90 commented on #12
Solved in https://github.com/Belco90/eslint-plugin-testing-library/pull/14

[2019-10-01 21:07] #12 closed

[2019-10-10 20:36] benmonro opened #20 "Feature Request: new rule prefer-targeted-queries"
it would be nice to have an autofixable rule that converted
this
[code]
to this:
[code]

and similarly:
[code]
to this:
[code]

if autofix is too hard, at least reporting on it would be nice. :)

[2019-10-11 06:15] thomlom commented on #20
Hey @benmonro, thank you for contributing again! The rule makes sense and definitely improves the readability of the test files.

The only difficulty I'm seeing right now is that `toBeInTheDocument` requires `jest-dom`. However, it's possible that you extend Jest matchers in a global test setup file. So we'll have to make sure `jest-dom` is referencing in the user's `package.json` before autofixin

[2019-10-11 07:59] Belco90 commented on #20
Hi again! Interesting rule here and few things to discuss.

As @thomlom pointed out, `toBeInTheDocument` is a matcher from `jest-dom` so our plugin can't just autofix that code as we can't assume the matchers available (we could do this through rules options, but I would leave the autofix for a future version). About the reporting, the rule itself seems completely dependent on `jest` matcher when

[2019-10-11 08:36] thomlom commented on #20
@Belco90 It is possible to check if a file is in the system. [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import/blob/master/src/rules/no-unresolved.js) does it right here. If it's possible to check the contents of a `package.json` file, then we can check whether a user has `jest-dom` in his dependencies or not. I've never done that in an ESLint plugin, so I don't know if that

[2019-10-11 08:43] Belco90 commented on #20
About checking file in the system and analyze the package.json: that looks too much for a simple rule, I prefer to just leave it configurable in rule options but not passing `{"jest-dom": true}` but the name of the matcher you want to use for replacement (you are assuming everyone wants to use that one from jest-dom).

About apply the rule to the plugin: again, apart from being attached to jest-do

[2019-10-11 18:31] benmonro commented on #20
yeah i totally get what you guys are saying.  I almost feel like there could be a whole category of rules that are specific to jest-dom.  Part of me wants to just say "this is a jest-dom specific rule" and part of me wants to go the config option route you guys mentioned, but i'm on the fence.  And while i hear what you're saying about this being a testing-library specific plugin, jest-dom is also

[2019-10-11 18:33] benmonro commented on #20
perhaps a phase 1 would be just reporting these errors.  then do the auto-fix in a separate PR (or not at all if it's too hairy)

[2019-10-13 18:54] Belco90 commented on #20
After thinking about it these are my thoughts about this rule.

These are some cases I've identified as valid:
[code]

And these are some cases I've identified as invalid:
[code]

But then what about this? Should be treated as an error? I guess not but I'm not sure.
[code]

As you can see there are tons of edge cases, some of then pending to idenfity. I'm not really convinced yet about it, this lo

[2019-10-13 22:12] benmonro commented on #20
Makes a lot of sense to me. I dig it

[2019-10-14 08:22] thomlom commented on #20
It's surely going to take more work. Maybe we could release a first version of the rule just with `jest` and `jest-dom` and then extend it to `chai` and other assertions or add autofix features.

I don't feel like the rule has a lot of edge cases though. In the end, it's just forbidding `toHaveLength(0)` and `toHaveLength(1)` for queries.
However, after thinking about it, I've changed my mind. Thi

[2019-10-14 08:47] Belco90 commented on #20
That's the point: `toHaveLength(0)` and `toHaveLength(1)` can be replaced by more accurate assertions, which seems something related to jest/chai but then the reason for that it's that there are betters ways to assert for length 0 or 1 with testing library, as it could be completely fine for another thing tested like checking a util method returns an empty array or just an array with one method. T

[2019-10-14 08:49] thomlom opened #21 "Avoid using throwing queries with expect: no-expect-get-by-query"
## Problem

According to the [cheatsheet](https://testing-library.com/docs/dom-testing-library/cheatsheet), `getBy`, `getAllBy` are queries that throw an error if there are no matches. Thus, it doesn't make sense to use `expect` with a query that throws:

[code]

I don't know if that's a thing but I'm more used to use:

[code]

## Solution

The rule (let's call it `no-expect-throwing-query` but I'

[2019-10-14 11:46] Belco90 commented on #21
Nice, [this is recommended in testing library doc](https://testing-library.com/docs/guide-disappearance#asserting-elements-are-not-present) too so it would definitely be a good addition.

Anyway, there are couple of examples in your invalid cases I don't understand:
`expect(findByText("foo")).not.toBeNull()`
Why is this one wrong? There is no alternative in this case for async queries.

`expect(fi

[2019-10-14 13:14] benmonro commented on #20
Yeah I hear you guys but that said they are only coupled to the respective expect styles as they relate to testing library.  If not this plugin then where?  The plugin already supports Vue and react right?  Testing library transcends platforms. That's what I love about it.  🤓

[2019-10-14 15:48] thomlom commented on #21
Yeah, true. I updated the comment!

[2019-10-14 15:51] Belco90 commented on #21
Could, everything lgtm now! Do you want to take care of this one? I'll try to build something for #20 meanwhile.

[2019-10-14 16:50] thomlom commented on #21
Sure! 🙂

[2019-10-15 07:57] Belco90 commented on #20
Leave me give this a try, I hope I can come back at the end of the week with something.

[2019-10-15 13:32] emmenko commented on #21
FYI: my team and I started recently to also implement some eslint rules for RTL. In fact we have one that basically solves this problem

https://www.npmjs.com/package/eslint-plugin-testing-library-react

@Belco90 would you be open if we contribute to your list of rules, so that we deprecate our package? WDYT?

[2019-10-15 13:52] Belco90 commented on #21
Hey @emmenko! Absolutely, I'll be more than happy if you contribute to this plugin with that rule and even collaborate together in the future with more rules. The only thing is I see your plugin is focused in just react, but the rule should be generic enough to work also with dom, vue and angular for this plugin, which I think it already is but we would have to double check.

I'm not sure how to p

[2019-10-15 13:59] emmenko commented on #21
Sure thing. Let me know if we have the green light to make a PR with our rule.

[2019-10-15 14:06] Belco90 commented on #21
Of course! There is no better way to review the rule being included here for sure.

[2019-10-15 17:57] thomlom commented on #21
I haven't done nothing yet @Belco90, so you can open a PR @emmenko 🙂
Thanks for contributing!

[2019-10-16 07:17] emmenko commented on #21
I opened a PR with the new rule.

[2019-10-16 13:04] #21 closed

[2019-10-18 13:57] benmonro opened #27 "Transfer to testing library org on GitHub."
Love this plugin.  If you guys are interested we can transfer it over to the testing library org on GitHub.  This would give the plugin a lot of visibility and maybe spur more contributions.  I did this for the testcafe-testing-library I wrote and it definitely helped.  Up to you of course.

[2019-10-18 14:27] Belco90 commented on #27
Yes, I already discussed this with Kent! In the original issue https://github.com/testing-library/dom-testing-library/issues/345 I mentioned I prefer to have it in my repo for a while until the plugin is mature itself (couple of things related to CI, docs and guidelines have to be improved), and after that I'll consider transferring the plugin to testing library org definitely.

[2019-10-18 14:32] Belco90 commented on #27
I just remembered another reason for not transferring the plugin at the moment also commented in the original issue: avoiding scoped package. [It's definitely allowed by ESLint](https://eslint.org/docs/developer-guide/working-with-plugins) but not really adopted yet and it doesn't seem like a standard for their plugins so everyone is looking for these plugins as `eslint-plugin-*` rather than `@*/e

[2019-10-18 15:02] benmonro commented on #27
you wouldn't have to make it a scoped package just because it's in the github org.  Actually, i think most folks (myself included) would prefer it that way.    Anyway, up to you guys, but cool, glad Kent brought it up.

[2019-10-18 15:03] benmonro commented on #27
regarding docs, it would be really great to have them in the `testing-library.com` docs, though personally I think the docs are fine.

[2019-10-18 15:19] Belco90 commented on #27
Good point about the scoped package, something less to be worried about then.

About the doc: I'm not really sure about having that in a different project as it feels completely attached to the development of the rules themselves and I would like to include danger JS to help contributors not forgetting about adding/updating corresponding doc when adding new rules or updating existing ones. I found

[2019-10-18 16:18] benmonro commented on #27
yeah actually after posting that i noticed there's a link from there to here anyway for the docs, so all good.  any way kudos for starting this. 👍

[2019-10-18 17:09] Meemaw opened #28 "No get* to assert element is in document"
I have seen some people started using get* (because it is short) to assert elements are in DOM:

[code]
(note that there is no assignment or anything, just the call)

I would prefer if line was changed to:
[code]

It's longer, but I think we should be explicit in tests on what exactly is being tested. Also, someone new to RTL has no idea get* selectors throw and this is why one can use them to be

[2019-10-19 08:06] thomlom commented on #28
From my point of view, seeing `getByText("text")` in a test to assert an element's presence doesn't shock me though I prefer the readable one. Maybe it's because I'm used to them? I don't know.

While we could create a rule for that, I think it's worth it to discuss it before implementing it. What's your take on this @Belco90?

[2019-10-19 08:17] thomlom commented on #27
I think bringing this repo to the org would be great too! I think it would help in increasing its visibility and it would make it more "official". But that's just my two cents 🙂

[2019-10-21 07:57] Belco90 commented on #28
I like this rule! It seems like a reasonable new rule to me (I even found myself trying to force this before) and should be easy to implement, but it shouldn't be included in the recommended config probably as it's a controversial rule that completely depends on personal opinion about asserting on this way.

I'd go for it with something like `prefer-assert-expect` or something similar, and leave t

[2019-10-21 08:03] thomlom commented on #28
Completely agree with you @Belco90 🙂

[2019-10-21 08:04] emmenko commented on #28
I'm wondering if this is more of a rule for the async behavior 🤔

For instance, I would expect to do something like `await waitForElement(() => getByText("Text"))`.

Assuming that you meant to do `expect(queryByText('Text').toBeInTheDocument()` might be a bit too opinionated.

Thoughts?

[2019-10-21 08:10] Belco90 commented on #28
Not really related to async behavior.

For this one
`await waitForElement(() => getByText("Text"))`
The rule should not complain, as it's waiting for that get for doing something else after.

The rule shouldn't aim to autofix it to `expect(queryByText('Text').toBeInTheDocument()`anyway (this should be the ideal assert, but there are few others alternatives), it would only complain about having a `

[2019-10-21 08:15] Belco90 commented on #28
(I have updated my rule name suggestion for clarification)

[2019-10-21 08:21] emmenko commented on #28
Ok yeah, so it should recommend to either await for it or to wrap it in an expect (which then the other rule kicks in to use `queryBy`). Did I get it right?

[2019-10-21 10:15] Meemaw commented on #28
I like the name `no-get-by-assert` 👍 I can give it a try in weekend, but fell free to implement it before if you have some spare time.

[2019-10-21 16:41] Belco90 commented on #20
Still getting my head around this and not having so much spare time lately, so still working on this.

[2019-10-21 18:55] Belco90 commented on #28
@Meemaw I was inspired this evening and got quick implementation for this rule. Let me know what you think.

[2019-10-23 19:19] benmonro opened #30 "jest-dom rule for enabled/disabled"
would be nice to have a rule (auto-fixable) that auto-fixes

`expect(element).toHaveProperty('disabled', true)`

into

`expect(element).toBeDisabled()`

and similar for `toBeEnabled()`

I realize this is part of jest-dom, but jest-dom is in the testing-library org, so it made sense to me to have the rule in here.  could probably come up w/ a bunch of other rules like this for jest-dom.... thoughts

[2019-10-24 07:16] Belco90 commented on #30
I'll comment in the corresponding PR, but seeing this rule and #20 I think we should just implement them specifically for `jest-dom` syntax, specifying it properly in the dom and also prefixing the rules with `jest-dom- *`.

[2019-10-24 07:46] Belco90 commented on #20
After `jest-dom-*` prefix I commented in #30 I'll repurpose this rule so it's just focused on jest-dom variant so we can code it simpler and even autofix the code. The only pending thing is to find a better name as `prefer-targeted-queries` sounds too generic, any suggestions?

[2019-10-24 08:31] thomlom commented on #30
It makes sense to support these rules in the plugin as long as the user knows it has to install `jest-dom` to use the rules. Prefixing the rules with `jest-dom` is a great way to communicate this idea.

There are a lot of rule possibilities to implement then, not just `toBeEnabled` and `toBeDisabled`. You could also have the same rule for `toBeRequired`, `toBeVisible`, etc.

I think it would make

[2019-10-24 08:39] #28 closed

[2019-10-24 08:45] Belco90 commented on #28
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/Belco90/eslint-plugin-testing-library/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-24 09:50] Belco90 commented on #30
I'm not sure about having a single rule for all that because:

- it makes more sense to add the rules individually so you can set them up individually as they are checking different things. I don't think you should use the rule option for actually setting up which rules to enable. I prefer to have them individually and add a shareable config for jest-dom rules if necessary
- how we could implement

[2019-10-24 09:56] Belco90 commented on #28
@all-contributors please add @Meemaw for ideas

[2019-10-24 10:08] thomlom commented on #30
Of course, totally forgot we could create shareable configs 🤦‍♂
Yeah, that makes sense!

[2019-10-24 10:24] Belco90 commented on #30
Glad to hear this makes sense to you, so what I would do is implement this one as `jest-dom-*` rule and then when we have few more of these rules implemented, we can add proper shareable config for jest-dom. Does that sounds fine? @thomlom @benmonro

[2019-10-24 10:29] Belco90 commented on #30
Sure, I guess we can add some to our "backlog", tho we already have this one and #20

[2019-10-24 13:21] benmonro commented on #30
All sounds good to me. I will push not changes to my PR later today.

[2019-10-24 21:41] benmonro commented on #27
@Belco90 you should totally move this over.  I think you would get more contributors.  The issues you mentioned can still be worked on after it transfers and you'll still be the owner.  I would love to see this plugin get more adoption and then more contributions.

[2019-10-25 07:37] Belco90 commented on #27
Not worried about losing the ownership to be honest, just leaving everything in good place before transferring it. Everything related to semantic release and all contributors is set up. I'm finishing a proposal for CONTRIBUTING guidelines and issue templates. After that (which I'm closed to finish) I'll probably transfer it.

[2019-10-28 00:35] #30 closed

[2019-10-28 09:44] Belco90 opened #36 "Code coverage improvements"
Now that we have 100% coverage in the repo, it would be nice to set proper coverage threshold and check it on corresponding PRs.

For accomplishing this we would have to:

- set coverage threshold to 100%
- add necessary script to execute the tests in coverage mode
- execute the coverage mode in the CI
- prevent PRs to be merged in coverage has been decreased

[2019-10-28 09:59] thomlom commented on #36
Will do it 🙂

[2019-10-28 19:47] #36 closed

[2019-10-31 15:29] Meemaw opened #40 "prefer-explicit-assert does not work as expected"
![Screen Shot 2019-10-31 at 4 28 35 PM](https://user-images.githubusercontent.com/8524109/67961108-8d730800-fbfb-11e9-8f43-f5af70067a5b.png)

[2019-10-31 15:36] thomlom commented on #40
If I get it right, the thing is when you destructure queries statement such as `getByText` from `render`, the rule throws while it shouldn't.

I'll take a look at this.

[2019-10-31 15:39] Belco90 commented on #36
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/Belco90/eslint-plugin-testing-library/releases/tag/v1.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-01 12:03] afontcu commented on #40
I just wanted to confirm that I'm also getting linting errors on destructuring lines 👍

[2019-11-06 10:38] #40 closed

[2019-11-06 10:41] Belco90 commented on #40
:tada: This issue has been resolved in version 1.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/Belco90/eslint-plugin-testing-library/releases/tag/v1.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-11 10:10] Meemaw opened #45 "Prefer explicit assert should check if node property is accessed"
In my opinion the following snippet should not raise a linting error (I know that this could be avoided by extracting it into a a temp variable).

![Screen Shot 2019-11-11 at 11 08 48 AM](https://user-images.githubusercontent.com/8524109/68579148-bef99800-0473-11ea-9021-d6a5400d2fe3.png)

[2019-11-13 10:02] thomlom commented on #45
Indeed. I'll investigate this issue and will get back to you on this 🙂

[2019-11-19 15:06] Belco90 commented on #45
Interesting bug. I'll try to take a look at it this week as I'm back from holidays!

[2019-11-19 15:06] Belco90 commented on #45
Also, this bug makes me think about if we can have more issues like this one in other rules, as @thomlom mentioned to me it would be a good idea to implement more "realistic" tests to cover this kind of edge cases.

[2019-11-25 06:12] lkostrowski opened #48 "TypeError: references is not iterable / cant parse expect(findBy*)"
Error stack

[code]

Probably related code:
https://github.com/Belco90/eslint-plugin-testing-library/blob/b38689c69702f08954b456d03752d73b1bee7171/lib/rules/await-async-query.js#L38

Can't provide right now an example , I have to strip few hundreds lines, but maybe its just a matter of  checking for `references` if its actually an array?

Also basing on code it should be expecting await from query

[2019-11-26 21:02] bcarroll22 commented on #27
I agree, I think it'd be really nice to have this moved over! I just now saw this, I never even knew it existed.

Kinda related, I think all of these rules work for React Native as well, including the one where you shouldn't import from DOM Testing Library (lol kinda obvious in RN though).

[2019-12-03 15:06] Belco90 commented on #20
Closing this one as it could be moved to the new eslint plugin I think.

[2019-12-03 15:06] #20 closed

[2019-12-03 15:07] Belco90 commented on #27
Hey all! Sorry about not giving you any update about this. My idea is to go back to this in Christmas and then transferring this to testing-library organization for sure when I have some spare time.

[2019-12-03 15:08] Belco90 commented on #45
I hope I can go back to this in Christmas when I have some spare time. Sorry!

[2019-12-03 15:08] Belco90 commented on #48
I hope I can go back to this in Christmas when I have some spare time. Sorry!

[2019-12-09 18:48] tknickman commented on #48
Just ran into this as well. I can look into a PR later on

[2019-12-10 08:01] cdagli opened #49 "Enforce await on async utilities"
Currently https://github.com/Belco90/eslint-plugin-testing-library/blob/master/docs/rules/await-async-query.md rule only supports findBy* and findByAll*. What do you think about enabling it for other async utilities, too?

https://testing-library.com/docs/dom-testing-library/api-async

[code]

[2019-12-10 08:19] thomlom commented on #49
Thanks for suggesting this idea @cdagli!
This rule currently exists because `findBy` and `findByAll` doesn't (in my opinion) expresses the fact that there are actually asynchronous queries.
However, it's pretty clear that the other async utilities such as `wait` or `waitForElement` are asynchronous. I'm not sure if we would need to enable them 🤔
Have you encountered a use case where someone forgot

[2019-12-10 08:23] cdagli commented on #49
Yes, I know couple of people that keeps forgetting to add await these methods 😄 (Myself included)

Weird stuff starts to happen if you forget to await. And for example if you have a test case that ends up with `waitForElementToBeRemoved` and if you don't await, your test might pass magically.

[2019-12-10 08:47] Belco90 commented on #49
I just realized eslint is not warning about that (as those async utils are fixed, not as `findBy*` queries which are dynamically generated): I thought it did but it was my IDE! So this is an interesting idea, maybe something like `await-async-utils`?

[2019-12-10 09:10] thomlom commented on #48
I opened a PR about that. Sorry about the delay, I have little spare time lately!

@Belco90 This issue hides, however, another issue. Indeed, we are not handling the case where a user wraps a query in an `expect` statement and then uses `resolves` or `rejects`. For example, the following statement will trigger an error even if it's a valid case:

[code]

I'm opening up another issue 🙂

[2019-12-10 09:10] #48 closed

[2019-12-10 09:14] Belco90 commented on #48
:tada: This issue has been resolved in version 1.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/Belco90/eslint-plugin-testing-library/releases/tag/v1.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-10 09:17] thomlom opened #51 "Support resolves/rejects matchers for asynchronous queries"
As stated in #48, we are not handling the case where a user wraps a query in an `expect` statement and then uses the `resolves` or `rejects` matchers. For example, the following statement will trigger an error even if it's a valid case:

[code]

[2019-12-10 11:40] thomlom commented on #49
In the end, forgetting to `await` an async function is a common mistake, not just when using Testing Library's tools. I tried to search if there was a way to prevent this globally but haven't found anything.
It would be cool to have a tool that performs this check when calling async functions.

[2019-12-10 14:42] #45 closed

[2019-12-10 15:15] Belco90 commented on #45
:tada: This issue has been resolved in version 1.3.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/Belco90/eslint-plugin-testing-library/releases/tag/v1.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-16 17:42] benmonro commented on #49
👍 I would love this rule!

[2019-12-18 17:58] tknickman opened #55 "Rule to enforce consistent data-testid format"
Hey, great plugin!

I recently wrote a custom rule that we are using internally at my company to enforce consistent values for `data-testid`. (I found this plugin because I wanted to use the same name 😂). We have a giant monorepo and teams were using everything from camelCase to PascalCase to kebab-case to snake_case to who-knows-what-case when writing test Id's.

This rule allows specifying a reg

[2019-12-18 19:54] Belco90 commented on #55
Hey Thomas!

Thanks for your message! This rule seems quite interesting and it would be awesome if you could create a PR to include it as a rule (I want to use it now at my code base actually).

I don't fully get how few things work for this rule (like what's the exact behavior of that `componentName`), but I guess I can find them out when you implement the rule (including tests and proper doc). A

[2019-12-18 19:57] tknickman commented on #55
Sounds good! I'll get a PR together.

I think this can be general rule. `componentName` is react specific, but it's optional in the regex. If it's present, I dynamically build the regex with the inferred component name of the current file being linted.

It's tricky to determine the actual component name via AST, so I use the file name as a standin (unless it's index, then I use the parent director

[2020-01-10 18:03] thomlom commented on #27
Any updates on this issue @Belco90 ? 🙂

[2020-01-10 18:33] Belco90 commented on #27
Yes sorry! I created an issue for it here https://github.com/testing-library/dom-testing-library/issues/424 (same repo were I opened rhe original issue for the eslint plugin, didn’t find a better place) but didn’t get any update yet.

[2020-01-13 16:27] #55 closed

[2020-01-13 16:29] Belco90 commented on #55
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/Belco90/eslint-plugin-testing-library/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-15 11:26] Belco90 opened #59 "Remove `prefer-expect-query-by` rule from shareable configs"
After checking `prefer-expect-query-by` rule with different people and getting different feedback about it, this rule is definitely too opinionated to be enabled by default in shareable configs. Also, the motivation of the rule is not really clear, so we need to improve the rule doc to clarify what's the use case and corresponding motivation for it.

[2020-01-15 12:17] emmenko commented on #59
Do you know what the confusion is about? Is the doc not clear enough? The main use case is when asserting that an element is not in the document, in which case it's recommended to use `expect(queryBy` as [mentioned in the docs](https://testing-library.com/docs/guide-disappearance#asserting-elements-are-not-present). The rule then ensures some sort of consistency of always using `queryBy` with `exp

[2020-01-15 12:22] Belco90 commented on #59
I found this chat in spectrum about it: https://spectrum.chat/testing-library/general/prefer-expect-query-by-linting-rule~802a01db-1afd-4ca3-b753-1dfcfcc5d1ca

After that, I discussed with @thomlom about the rule and we agreed it looks too opinionated to be enabled by recommended preset. Then I shared with some coworkers and they found it as a weird rule by default too.

About if doc is clear enou

[2020-01-15 13:08] emmenko commented on #59
I see, thanks for the clarification. Yeah let's do it like this then.

[2020-01-15 13:11] Belco90 commented on #59
I guess that ideally we could have a rule enabled by default  that forces you to use `queryBy` instead of `getBy` when asserting elements are not present, but I'm not sure how to implement that (checking `expect().not.toBeInTheDocument` and `expect().toBeNull()` or something similar? I'm afraid we would have to check tons of combination for different matchers and negations), so I think best think

[2020-01-17 15:10] Belco90 commented on #59
Closed by #60

[2020-01-17 15:10] #59 closed

[2020-01-17 15:15] Belco90 commented on #59
@emmenko By the way: as discussed with Kent C in twitter, probably this rule should evolve to something that prevents using `getBy` queries when asserting element is not present or its disappearance instead of preventing just asserting always using `getBy`. That's complex as there are tons of different cases for that: asserting with `.not.toBeInTheDocument()`, asserting with `.toBeNull()`, asserti

[2020-01-17 15:20] emmenko commented on #59
Yeah definitely! Let's track this as an issue first.

[2020-01-17 15:21] Belco90 commented on #59
I'm creating an issue so we can discuss further details there.

[2020-01-17 15:48] Belco90 opened #61 "Replace `prefer-expect-query-by` by better rule"
Motivated by #59 it looks like we need to replace `prefer-expect-query-by`* by better implementation to only force users to replace `getBy` queries by `queryBy` when:

- [asserting elements are not present](https://testing-library.com/docs/guide-disappearance#asserting-elements-are-not-present)
- [waiting for disappearance](https://testing-library.com/docs/guide-disappearance#waiting-for-disappear

[2020-01-17 15:58] Belco90 commented on #49
I'm back to handle this issue. Just to clarify, the expected utils checked here would be:

- `wait`
- `waitForElement`
- `waitForDomChange`
- `waitForElementToBeRemoved`

Right?

[2020-01-17 16:07] benmonro commented on #49
Might as well include findBy queries as well @Belco90

[2020-01-17 20:22] jsphstls opened #62 "New Rule: Disallow DOM exploration properties"
This is not a great way to select elements, but is allowed:
`parentElement.parentElement.parentElement`

It would be great if there were an optional rule that discouraged the use of properties such as `parentElement`, `previousSibling`, and the rest.

The rule could be highly configurable by allowing each property key to be enabled or disabled. It could also allow a certain level of traversing so

[2020-01-18 17:26] Belco90 commented on #62
This is a really good idea! I guess this rule should prevent some of [Node properties](https://developer.mozilla.org/en-US/docs/Web/API/Node) from being used but we need to agree which ones (I guess those returning another Node).

I love the idea of restricting level of traversing them, but I think we need to think about how we want to config this: for all the properties? by individual properties?

[2020-01-18 18:56] thomlom commented on #61
This rule makes more sense to me. I'll write it next week.
I think the name is fine, I don't have a better idea right now!

About maintaining `prefer-expect-query-by`, I'm in favour of just replacing it with this rule.

[2020-01-18 18:57] thomlom commented on #51
I'll write a fix next week for that issue.

[2020-01-18 21:51] jsphstls commented on #62
That's a good name. I'm not familiar with rule creation but I have seen that rule configuration can become problematic. What if the rule begins with no configuration and then configuration is added based on input after release?

I think starting with a default list of properties that return another node is safe. I don't think traverse level should be set by property.

[2020-01-19 19:09] Belco90 commented on #62
I'm happy with restricting all the rules returning another node for first approach (without enabling the rule by default in any shareable config) and the we see what we do. How should the traverse level work then?

[2020-01-19 20:20] jsphstls commented on #62
The traverse level can be an integer property, similar to [complexity](https://eslint.org/docs/rules/complexity). This could help with adoption as the level is gradually decreased while making fixes in a codebase.

Maybe we are looking at two different rules? One that handles traverse level at a minimum of one and another that disallows all properties but also allows whitelisting?

[2020-01-20 09:46] Belco90 commented on #62
Mmm I like the idea about splitting this in two different rules. What do you think @emmenko @thomlom ?

[2020-01-20 10:30] Belco90 opened #63 "New rule: Disallow manual cleanups"
The `cleanup` util to unmount React trees mounted with `render` will be call automatically if:

- [testing framework you are using supports global `afterEach`](https://testing-library.com/docs/react-testing-library/api#cleanup)
- [you don't skip the auto cleanup with RTL_SKIP_AUTO_CLEANUP](https://testing-library.com/docs/react-testing-library/setup#skipping-auto-cleanup)

So in order to avoid add

[2020-01-20 15:00] Belco90 commented on #62
@thomlom Fair enough, your proposal seems best approach for now. @jsphstls do you want to give this rule a try?

[2020-01-20 15:53] jsphstls commented on #62
I cannot promise enough time or expertise, so it is open to anyone really. This got more momentum than I expected 😅

[2020-01-21 19:24] kentcdodds commented on #27
I've added you to the org. You should be able to transfer this repo to the org now.

Thanks everyone!

[2020-01-22 09:30] #27 closed

[2020-01-22 14:52] #51 closed

[2020-01-22 14:55] Belco90 commented on #51
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-24 08:55] thomlom commented on #63
I think this rule is "easy" to implement to a certain extent. For example, I don't see how you could detect if the user has set `RTL_SKIP_AUTO_CLEANUP` or his testing framework. We could add these settings in the config options of an ESLint rule but it looks unintuitive to me.

If you mean that the rule only detects the `cleanup` keyword and reports it systematically, then yes, it should be pretty

[2020-01-24 09:04] Belco90 commented on #63
No sorry, I didn't mean to detect that at all. I was just elaborating the different scenarios to justify why this rule can't be enabled automatically due to auto cleanup could not be set up.

[2020-01-28 14:41] #49 closed

[2020-01-28 15:04] #61 closed

[2020-01-28 15:07] Belco90 commented on #49
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-28 15:07] Belco90 commented on #61
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-29 11:06] thomlom commented on #63
I'll take care of this rule. By playing with the different cases where the rule should fire, I noticed something.

`cleanup` has to be imported from a `@testing-library` to be used right? So instead of reporting the use of `cleanup` somewhere in the code, why not reporting it immediately as soon as the user imports it? It makes more sense to me that way. What do you think @Belco90 ?

[2020-01-29 11:19] Belco90 commented on #63
Oh wow, that would be amazing! It would need more stuff to test of course but it makes sense to me.

[2020-01-30 18:08] #63 closed

[2020-01-30 18:11] Belco90 commented on #63
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-31 10:11] thomlom commented on #62
Anyone for this issue? 🙂

[2020-02-03 09:56] thomlom opened #76 "`debug` doesn't seem to work when wrapped in a test case"
I just encountered a case where `debug` doesn't seem to work.

[code]

Apparently, the `render` method doesn't seem to be detected when it's wrapped in a test case. Moving the `render` method outside the test case seems to trigger the `no-debug` rule.

I'm going to see how to fix it as soon as I can. But if anyone feels like contributing, feel free to fix it 🙂

By the way, it's not the first time

[2020-02-04 15:59] #76 closed

[2020-02-04 16:01] Belco90 commented on #76
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-07 09:13] thomlom opened #80 "Add new shareable configurations for libraries"
Currently, we are supporting Angular, React and Vue for shareable configurations. The configuration contains the following rules:

- await-async-query
- await-async-utils
- no-await-async-query
- no-debug
- no-dom-import

It would be nice to add shareable configurations for other libraries such as:

- [Native Testing Library](https://testing-library.com/docs/native-testing-library/intro)
- [Preact

[2020-02-07 09:22] Belco90 commented on #80
Indeed! Would be nice to include all those presets, and even check if there are special cases for them as async fire event for vue so we can add additional rules to those presets in a next step.

I'll try to find more info about what of our current rules could/should be applied for each and share it here for further discussion.

[2020-02-10 15:49] Belco90 commented on #80
I did a quick research for Native Testing Library. Even if it's implemented in a completely different way under the hood (as it's not looking for elements in the DOM of course) the main core of the API remains the same. These are the main differences I've found:

- Additional [NativeTestInstance](https://www.native-testing-library.com/docs/api-test-instance) with additional properties. This would

[2020-02-11 09:19] Belco90 opened #83 "Rule no-get-by-for-checking-element-not-present is giving false positives"
The rule `no-get-by-for-checking-element-not-present` is giving false positives for some matchers when it shouldn't.

If you are getting an element with `getBy` query and asserting something with a negated matcher, it should not complain unless the matcher is `toBeInTheDocument` (or additional ones checking the element itself is not present).

But if you are asserting something like `expect(getByT

[2020-02-11 10:18] #83 closed

[2020-02-11 10:21] Belco90 commented on #83
:tada: This issue has been resolved in version 2.2.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v2.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-12 08:06] thomlom commented on #80
Thanks for the details! There is also a difference for Marko Testing Library for `no-dom-import` as the package name is `@marko/testing-library` and not `@testing-library/marko`.

[2020-02-12 08:25] Belco90 commented on #80
Maybe we should split this in a project to be able to implement and review each library separated and then merge everything together.

[2020-03-13 10:08] Belco90 opened #85 "Update await-async-utils with changes from dom-testing-library v7"
After release of [dom-testing-library v7](https://github.com/testing-library/dom-testing-library/releases/tag/v7.0.0) there are couple of things to be updated for `await-async-utils` rule:

- include `waitFor` as valid async util
- update the doc to mention `wait`, `waitForElement` and `waitForDomChange` are now deprecated
- make sure when `waitForElementToBeRemoved` receives an element rather tha

[2020-03-13 21:07] timdeschryver opened #86 "RFC: fixer for `wait` (V7)"
Would it be an option to add a fixable rule for the changes made to `wait`?
The implementation could look like [this](https://astexplorer.net/#/gist/52cd2d7008f89a1baa11819d361f3bb5/22406c2aef432778000274ff6178e0b11ba7b543)

[code]

input:

[code]

output:

[code]

[2020-03-13 22:03] Belco90 commented on #86
This seems really interesting! I guess the rule could be called something like `prefer-wait-for` and we could also check `waitForDomChange` right? The replace would be the same I think.

I'll give it a try tomorrow.

[2020-03-13 23:04] timdeschryver commented on #86
@Belco90 yep that should work, see the [updates astexplorer](https://astexplorer.net/#/gist/52cd2d7008f89a1baa11819d361f3bb5/3af4f03d819d38374c8eb1084d5dab70a44588b3) for an implementation of the rule

[2020-03-16 16:01] benmonro opened #90 "Feature request: convert no-get-by-for-checking-element-not-present to be prefer-appropriate-query-for-expect"
[code]
In addition as discussed below in the comments, the use of `get*` queries inside of waitForElementToBeRemoved will no longer report an error either in a callback or directly as a parameter.

[code]

[2020-03-16 19:50] Belco90 commented on #90
I was afraid about something like this. I'll take care of it.

[2020-03-16 20:05] Belco90 commented on #90
I don't see any reference for this in the doc:

- [waitForElementToBeRemoved doc](https://testing-library.com/docs/dom-testing-library/api-async#waitforelementtoberemoved) has examples with `queryBy*` or callbacks.
- [dom-testing-library v7 changelog](https://github.com/testing-library/dom-testing-library/releases/tag/v7.0.0) has an example with an existing element inside, not an inline `getBy*`.

[2020-03-17 12:40] benmonro commented on #90
@Belco90 i like the rule actually when used in expects but this new approach is actually a very good practice and the rules should not discourage it.

Actually in your second example it is essentially the same.  If it throws the test will fail which is fine and it's it doesn't throw it will wait for the removal. So effectively it's the exact code path.

I still maintain that

[code]

[2020-03-17 12:45] Belco90 commented on #90
Sure. But those 2 examples are not technically the same and it's explained why.

As mentioned, even if the `getBy*` works directly within `waitForElementToBeRemoved` this rules aims to avoid using it as a best practice, so I don't see the point of having a rule for not using `getBy*` which allows using `getBy*`. The only _workaround_ I see is to make the rule configurable so you can choose if you

[2020-03-17 12:49] benmonro commented on #90
How is it a best practice to not use getBy with waitForElementToBeRemoved?  Is there a scenario you had in mind when the rule was written?  I'm of the opinion it actually is better to use getBy when something is supposed to exist because it gives you better erroring. In this case an element needs to exist before it can be removed so what am I missing?

[2020-03-17 12:52] benmonro commented on #90
Also to be clear, the rule is for prefer get by for checking non existence.  It's not a rule for not using get by as you commented.

[2020-03-17 12:56] benmonro commented on #90
Also I was thinking the rule could be expanded to include using queryBy for checking existence.

Ie `expect(queryByText("Foo")).toBeInTheDocument()`

Should report, do you agree?

[2020-03-17 13:00] Belco90 commented on #90
The rule was originated by:

- [disappearance recipe](https://testing-library.com/docs/guide-disappearance#waiting-for-disappearance) mentioning to use `queryBy*` rather than `getBy*`
-  testing library examples not using `getBy*` (as per my first comment)
- improving a previous rule that wasn't working as expected. Original issue [here](https://github.com/testing-library/eslint-plugin-testing-lib

[2020-03-17 13:08] benmonro commented on #90
The issue on adding presence with queryBy is it does not give you good errors when it fills to find the element in the way that getBy or findBy does.  Would you be open to it being in a septate rule?

With regards to the use of getBy in waitForElementToBeRemoved I'd be curious to hear from @kentcdodds  on if there's any reasons to use queryBy over getBy.  It seems to work just fine to me...

[2020-03-17 13:14] Belco90 commented on #90
I'm fine to get another issue for a new rule to prefer asserting with `getBy*` over `queryBy*`, and even better if you create a PR :)

Again, even if `waitForElementToBeRemoved` works within inline `getBy` (it used to work for me some versions ago but didn't try on this one) this is about a good practice to follow. It would be similar to use `awaitForElement+  getBy*` queries on prev versions: it

[2020-03-17 13:18] benmonro commented on #90
Yeah I'll file a new request for that. 👍

Using get by in a waitForElementToBeRemoved isn't the same as using findBy instead of waitFor + queryBy

Still not seeing how it's a best practice but maybe Kent will give some insight

[2020-03-17 13:22] benmonro opened #91 "New rule: no queryBy for checking existence"
The following should report an error

`expect(queryByText("Foo")). toBeInTheDocument()`

As it does not give good errors when it fails

[2020-03-17 14:17] kentcdodds commented on #90
Actually, these are the same thing:

[code]

Both of those should work equally well.

The disappearance recipe works just as well with `get*` as it does with `query*` and I wouldn't have a rule about that either way.

I believe this should report:

[code]

[2020-03-17 14:30] Belco90 commented on #90
Both should work equally well is not the same as they are the same thing tho. In first example you are 100% sure nothing will throw within `waitForElementToBeRemoved`. In the second, it can throw inside `waitForElementToBeRemoved`. If `waitForElementToBeRemoved` handles the error, they work equally as you said, but they are not technically the same thing. This is what I meant.

If `waitForElementT

[2020-03-17 14:38] kentcdodds commented on #90
I think you're confused @Belco90. Look carefully:

[code]

Just like:

[code]

[2020-03-17 14:44] Belco90 commented on #90
@kentcdodds I don't think is comparable as we are talking about `getBy*` queries which can throw, not a simple assignment, but nevermind.

[2020-03-17 14:45] benmonro commented on #90
Personally I would vote for changing that rule name to prefer-appropriate-query-for-expect or something to that effect, rather than having 2 separate rules as ultimately they are just inverses of the same thing.

[2020-03-17 14:47] kentcdodds commented on #90
I'm sorry I'm not able to communicate this effectively to you @Belco90, but you're still misunderstanding. I think you're reading it like this:

[code]

[2020-03-17 14:54] Belco90 commented on #90
If we end up just leaving the expect check, I agree on that (tho it would mean a breaking change).

@kentcdodds yeah I noticed it's not wrapped withing a function anymore. I feel I can't communicate properly what I want, but if the method works properly using `getBy*` queries directly and there is any kind of disadvantage on doing it, it's not worth it try to rephrase myself. What I want to make s

[2020-03-17 14:57] benmonro commented on #90
@Belco90 I've personally seen it work just fine previous to v7.  we have tests that do this:

[code]

[2020-03-17 15:02] Belco90 commented on #90
Then I'll close #91 in favour of of repurposing this one to convert the rule into a different one.

[2020-03-17 15:03] Belco90 commented on #91
Closing in favour of including it as part of #90

[2020-03-17 15:03] #91 closed

[2020-03-17 15:05] benmonro commented on #90
cool thanks @Belco90 !

[2020-03-17 15:05] benmonro commented on #90
I'll update the description to include that as well.

[2020-03-17 15:10] benmonro commented on #90
@Belco90 updated the description, let me know if that sounds good to you?

[2020-03-17 16:14] Belco90 commented on #90
So just to sum up:

-  we remove current `no-get-by-for-checking-element-not-present` as `waitForElementToBeRemoved` doesn't need to be tested within that rule.
- we add a new rule in replacement of previous mentioned one, called `prefer-appropriate-query-for-expect` which tests: 1) presence of elements is checked using `getBy*` query (because `queryBy*` error info is worse) and 2) absence of elem

[2020-03-17 16:15] Belco90 commented on #90
I think we should improve the name, as this doesn't apply to all expects in general but only those checking presence/absence of elements.

[2020-03-17 16:33] benmonro commented on #90
Yeah agreed just couldn't think of a better name.

Everything you summed up looks good to me

[2020-03-17 16:38] Belco90 commented on #90
Can't come up with something better than `prefer-appropriate-expect-presence-query`.

[2020-03-17 16:41] Belco90 commented on #90
This shouldn't be really complex to implement to be honest, but I'd like to wrap this together these other changes for v3:

- new rule `prefer-wait-for` #88
- update rule `await-async-utils` #89
-  new rule `no-wait-for-empty-cb`. Still pending to be implemented, but would be a rule to complain about empty callbacks passed to `waitFor`.

[2020-03-17 16:43] benmonro commented on #90
I'd say less is more just go with `prefer-appropriate-presence-query` but yours is fine too if you feel strongly about it.

[2020-03-18 19:16] Belco90 opened #92 "New rule: no-wait-for-empty-cb"
New `waitFor` method added in [dom-testing-library v7](https://github.com/testing-library/dom-testing-library/releases/tag/v7.0.0) introduces a new restriction on empty async utils: a callback must be passed as param. Empty callbacks are allowed but not recommended. Quoting changelog itself:

Because of that, a new rule called `no-wait-for-empty-cb` could enforce to pass non-empty callbacks to `wa

[2020-03-18 19:16] Belco90 commented on #92
@thomlom @emmenko thoughts?

[2020-03-18 19:19] Belco90 opened #93 "Release v3"
Recent update on dom-testing-library to v7 has originated few improvements for some existing rules and ideas for some new others. I'll wrap all those changes under release of plugin v3 for several reasons:

- One of them implies a breaking change so I think it's better to put everything under same major version rather than be releasing different minors and one major at some point.
- Most of them a

[2020-03-19 17:17] timdeschryver commented on #93
Let me know if/how I can help!

[2020-03-19 17:23] Belco90 commented on #93
@timdeschryver thanks!

- Issue 1) should be really easy to implement, I have that one under control.
- Issue 2) is merged
- I'm still trying to find out best way to put all your code together for issue 3). It works but tests are not passing because of the same reason as previous fixers. I got couple of ideas, if none work I'll pin you.
- For issue 4) I only have the idea, but didn't have time to

[2020-03-19 17:32] timdeschryver commented on #92
I'll try to implement this one !

[2020-03-19 17:51] timdeschryver commented on #92
Could we reuse this one? https://github.com/eslint/eslint/blob/master/lib/rules/no-empty-function.js
And just do the check for the wait functions?

[2020-03-19 17:55] Belco90 commented on #92
Of course! Didn't realize ESLint already has a rule for empty functions! How are you planning to reuse it tho? I don't know if there is a way to _extend_ rules but that would be ideal.

[2020-03-19 18:01] timdeschryver commented on #92
I was just about to copy paste it 😅
Just fyi, I think you should be able to extend it (like I did but for tslint at [ngrx-tslint-rules](https://github.com/timdeschryver/ngrx-tslint-rules/blob/master/src/recommended.ts#L2)) but then it will warn on every empty callback, not only for the wait functions

[2020-03-19 18:04] Belco90 commented on #92
I see. I thought ESLint had a more fancy way of doing that, but that's probably too much magic haha.

[2020-03-20 08:47] Belco90 commented on #93
I think I'll add to this release dropping support for node v8. I'll update pipeline for making sure it accepts same versions as ESLint does.

[2020-03-20 11:31] timdeschryver commented on #93
@Belco90 what about a rule about the usage of `screen`?

[code]

No idea how tho, perhaps add all queries and verify that the `callee` of these queries is `screen`?

[2020-03-20 12:22] Belco90 commented on #93
That seems interesting. Could be something like `prefer-screen-queries`. Can you create an issue so we discuss further details there?

[2020-03-21 12:42] timdeschryver opened #95 "RFC: new rule to prefer the usage of screen"
It's preferred to use `screen` when using the query functions.

[code]

For a first implementation we can verify that the queries used have `screen` as callee.
This doesn't take the following into account, but it makes the rule simpler.

[code]

[2020-03-21 17:32] Belco90 commented on #95
I guess we can skip that last case for now. What about?

[code]

I think this one should be included too, which would be queries without a calle?

[2020-03-21 20:44] timdeschryver commented on #95
Imho these would also be a warning.

[2020-03-22 13:21] Belco90 commented on #95
Cool, so we can create a new rule called `prefer-screen-queries` which report all queries not called from `screen.<query>`.

[2020-03-22 13:22] #92 closed

[2020-03-22 13:22] Belco90 commented on #92
This will be released on v3

[2020-03-22 13:23] Belco90 commented on #86
This will be released on v3

[2020-03-22 13:23] #86 closed

[2020-03-22 13:23] Belco90 commented on #85
This will be released on v3

[2020-03-22 13:23] #85 closed

[2020-03-23 18:45] timdeschryver commented on #95
👍 I'll try to implement this rule later this week

[2020-03-23 19:00] Belco90 commented on #95
That would be awesome :)

[2020-03-26 18:19] timdeschryver commented on #95
Closed by #99

[2020-03-26 18:19] #95 closed

[2020-03-28 19:45] #90 closed

[2020-03-29 17:25] #93 closed

[2020-03-29 17:28] Belco90 commented on #93
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-29 17:28] Belco90 commented on #85
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-29 17:28] Belco90 commented on #86
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-29 17:29] Belco90 commented on #90
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-29 17:29] Belco90 commented on #92
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-29 17:29] Belco90 commented on #95
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-30 08:32] tdeekens opened #101 "TypeError: Cannot read property 'name' of undefined for `no-debug`"
We adopted the react preset recently and are seeing failing builds on CI with the error `TypeError: Cannot read property 'name' of undefined`. Which seems to originate from this code:

[code]

in no-debug.js on line 95.

<img width="1226" alt="CleanShot 2020-03-30 at 10 29 58@2x" src="https://user-images.githubusercontent.com/1877073/77891713-ab5b9c00-7271-11ea-8a98-9f60e08ac7fb.png">

We are also

[2020-03-30 08:41] Belco90 commented on #101
Hey Tobias, thanks for reporting the error. Sorry about this, I'll take a look a it this morning, should be easy to fix. Pretty awesome how much info you added to the issue :)

[2020-03-30 09:09] tdeekens commented on #101
You're welcome. I do some Open Source myself so I know how hard (also emotionally) it can be to get an issue with little to no context 😄. Thanks for the quick response.

[2020-03-30 10:41] Belco90 commented on #101
I found the issue: wildcard imports like `import * as rtl from '@testing-library/react';` are not taken into account properly. Checking how to fix it properly.

[2020-03-30 16:05] Belco90 commented on #101
@tdeekens fixed btw, just waiting for the PR to be approved. I'm checking meanwhile another rule that could be affected by the same issue!

[2020-03-30 16:19] tdeekens commented on #101
Wow, super fast. Thanks!

[2020-03-31 07:08] #101 closed

[2020-03-31 07:11] Belco90 commented on #101
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-31 07:14] tdeekens commented on #101
Thanks bot. Thanks human :)

[2020-03-31 07:16] Belco90 commented on #101
@all-contributors please add @tdeekens for bug

[2020-04-01 10:07] SimenB commented on #80
One not mentioned in the OP is [`cypress`](https://testing-library.com/cypress)

[2020-04-01 10:11] Belco90 commented on #80
@SimenB added to the description! That would need some specific rules I guess so you can limit the queries to only `findBy*` ones for example.

[2020-04-01 11:48] SimenB commented on #80
It seems they'll deal with that themselves

![image](https://user-images.githubusercontent.com/1404810/78133816-6b3a1c00-741f-11ea-9f48-eec5cdb5b9e2.png)

But at least `prefer-explicit-assert` would be nice

[2020-04-01 13:40] Belco90 commented on #80
I see, something less to worry about!

For including cypress within `prefer-explicit-assert` you mean check that all `findBy*` following the pattern `cy.<other optional chained methods>.findByText(<some element>)` have a final method right? So:

[code]

Is this right? I'm not sure if this is what you meant.

[2020-04-01 13:52] SimenB commented on #80
Yeah, that's what I meant 👍

[2020-04-02 07:37] Belco90 commented on #80
Cool! It should be easy to implement that. I hope after some internal refactors we are doing we can go back to this ticket. Cypress seems like an easy one to add, probably would be nice start from that one.

[2020-04-07 17:10] doniyor2109 opened #109 "Restrict using `cy.query*`"
Recently `cypress-testing-library` depracated `query*` methods. https://github.com/testing-library/cypress-testing-library/pull/130

It would be great to warn this behavior also.

[2020-04-08 09:39] Belco90 commented on #109
Thanks. We have [this issue](#80) for adding more shareable configs to the plugin. You can see there there was some discussion around cypress, so I'll close this ticket in favor of keep the discussion there until we can add those new configs.

[2020-04-08 09:39] #109 closed

[2020-04-14 23:26] benmonro opened #110 "New Rule: No use of `not.toBeNull()` with *AllBy queries."
`*AllBy` Queries always return an array.  As such if you use them in conjunction with `not.toBeNull()` or `not.toBe(null)` you will have a false positive test as the result of query by will always be an array.  This is probably less of an issue for `get*` and `find*` as they will throw, but `query*` will not throw so you can easily get a false positive test w/ that.

So this new rule should preven

[2020-04-14 23:36] benmonro commented on #110
@Belco90 my colleague is interested in writing this rule.  would you prefer it to be a new rule or part of prefer-presense-queries?

[2020-04-14 23:41] benmonro commented on #110
ah looks like you tagged it as a new rule so let's go with that.

[2020-04-14 23:45] Belco90 commented on #110
I would go for a new rule. Also, as `prefer-presence-queries` is doing, this new rule should check against other truthy/falsy matchers like `.toBeDefined`, `.not.toBeTruthy` or `.toBeFalsy`.

[2020-04-14 23:47] benmonro commented on #110
i think you mean the other way around right?  `toBeTruthy()` and `.not.toBeFalsy()` ?

[2020-04-14 23:49] Belco90 commented on #110
Of course 🤦‍♂️

[2020-04-16 21:13] C-Higgins opened #111 "Error with no-manual-cleanup in files with "require" imports"
`TypeError: Cannot read property 'match' of undefined
    at VariableDeclarator (node_modules/eslint-plugin-testing-library/lib/rules/no-manual-cleanup.js:62:66)`

This is the only rule that fails in any file. It seems to fail in every file which uses `require` imports.

This is the value of `node.init.arguments[0]` when it has no value
[code]

[2020-04-17 08:18] Belco90 commented on #111
Hey Chris, thanks for reporting! I think I had to solve a similar issue in another rule, I'll take a look at it this weekend.

[2020-04-17 11:01] victorandcode opened #113 "await-async-query not waiting when method is called from wrapper"
Hello,

I've been trying to integrate the rule `await-async-query` with a React project but it doesn't seem to be working as expected. Here's how to reproduce the problem:

[code]

.eslintrc
[code]

This is strange for me because the rule is recommended to work with the react version of testing-library which uses either screen or wrapper instead of the direct export of find* methods.

I also notic

[2020-04-17 11:12] Belco90 commented on #113
Hello Victor, thanks for opening an issue for this! You are right: this rule should take care of queries from `screen`, but we didn't update that when it was released. It should be easy to fix.

[2020-04-17 11:39] victor-cordova commented on #113
No problem. I'd like to take a look at it then :) I'll create a PR when ready

[2020-04-17 11:41] Belco90 commented on #113
That would be amazing, thanks!

[2020-04-19 08:55] victorandcode commented on #113
@Belco90 PR ready for review :smile:

[2020-04-19 10:14] #113 closed

[2020-04-19 10:17] Belco90 commented on #113
:tada: This issue has been resolved in version 3.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-20 13:46] Belco90 opened #116 "prefer-screen-queries: false positives when query used from within"
Rule `prefer-screen-queries` is throwing false positives when a query is called from `within` util:

[code]

[2020-04-20 18:04] ahuth opened #118 "await-async-utils false positives"
The await-async-utils rule is finding function calls that aren't actually from testing library. For example, if I define a function `wait` in my test code:

[code]

The lint rule will match it since it has the same name as the testing library's async util.

Would it make sense to first detect the import of testing-library, before applying the rule?

[2020-04-20 18:11] Belco90 commented on #118
You are right: that rule should check if that wait actually comes from a testing library import. This is checked in other rules, but it seems it's not happening for this one.

[2020-04-30 18:34] vfernandestoptal opened #120 "await-async-query matching `cy.findBy*` commands"
Hey, I've got an `.eslintrc.js` file at the root of the project that extends `plugin:testing-library/react`.

This is working great for Jest test files, however, it is also reporting errors in Cypress test files when using commands like `cy.findByText()` or any of the other find commands.

I'm using eslint-plugin-testing-library 3.0.4

[2020-04-30 18:38] vfernandestoptal commented on #120
Just reverted to 3.0.3 to check, and that works ok with Cypress.
But now it doesn't catch issues when doing:
[code]

[2020-05-01 11:03] Belco90 commented on #120
Hello Vitor. I'm afraid this is a common issue when mixing different testing tools like jest and cypress, with linting rules for some of them.

At the moment, this package is not checking what's the syntax used in a test file so it will just complain if it finds the corresponding code matching a rule. I've run into this issue before, so I'm trying to figure out what's the best way to try to solve

[2020-05-04 10:27] Belco90 opened #122 "False positives on `await-async-query` and `no-await-sync-query`"
Related to #120, #114

Since we are checking testing library queries when calling queries member expressions for `await-async-query` and `no-await-sync-query`, we are getting some false positives in some cases:

- when using queries in cypress files
- when using methods with the same name in other places (e.g. `findByTestId` in enzyme tests in a codebase mixing both enzyme and testing library)

Th

[2020-05-04 10:54] Belco90 opened #124 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-04 11:44] Belco90 commented on #124
I can't find the cause of this error. As discussed with @timdeschryver, semantic-release is configured to get `dist` folder as package root with proper `release` key on `package.json`. Then in the `postbuild` script the package.json is copied to `dist` folder, so I don't know what I'm missing here.

I've tried to execute in my local same steps as from CI to check if any prev step was removing the

[2020-05-04 14:55] #124 closed

[2020-05-05 18:03] kentcdodds opened #125 "no-manual-cleanup does not like require(modulaName)"
I've got code like this:

[code]

and no-manual-cleanup does this:

[code]

This is because of this code:

https://github.com/testing-library/eslint-plugin-testing-library/blob/3439a29d9f9ae95b437be4c6cce72586ec4f094c/lib/rules/no-manual-cleanup.ts#L65-L66

It should check whether `value` exists before calling `match` :)

[2020-05-06 09:40] Belco90 commented on #125
Hey Kent! Thanks for open an issue so detailed. This one should be easy to fix, I'll try to take a look at it this weekend if no one else can address it before.

[2020-05-06 17:00] tvthatsme opened #126 "Using query* variants for anything except checking for non-existance"
I found this project from @kentcdodds blog post [Common mistakes with React Testing Library](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library?ck_subscriber_id=363853600). Wish I had known about it earlier!

One of the mistakes that stood out to me was "**using query* variants for anything except checking for non-existance**".

[code]

After installing this plugin, it seems li

[2020-05-06 17:09] Belco90 commented on #126
Hello Timothy! I’m glad you hace discovered the plugin and find it useful :)

There is no rule so picky as what’s mentioned in that common mistakes post, but there is a rule that will make sure you use proper query when asserting presence of an element: [prefer-presence-queries](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/prefer-presence-queries.md)

I t

[2020-05-06 17:48] benmonro opened #127 "new rule request: prefer-find-by"
as described in Kent's blog post, it would be nice to have an autofix rule that converts

[code]
into this:
[code]

[2020-05-06 18:36] Belco90 commented on #127
Hello Ben! Thanks for your suggestion. Indeed, this would be a nice addition.

Do you want to give it a try? PRs are welcome! I must admit this one could be a hard one to implement tho, as there are plenty of things you can find within `waitFor` callback body.

[2020-05-06 18:58] tvthatsme commented on #126
Hey Mario, thanks for the answer. I guess that's what I was looking for :) Probably better to keep it a little less picky anyways.

[2020-05-06 18:58] #126 closed

[2020-05-06 19:43] benmonro commented on #127
I wish I could but I'm swamped at work.  I noticed we have a lot of them in our code so figured I'd add the issue. :)

[2020-05-08 07:47] #125 closed

[2020-05-08 07:50] Belco90 commented on #125
:tada: This issue has been resolved in version 3.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-08 07:58] Belco90 commented on #125
@all-contibutors please add @kentcdodds for bugs

[2020-05-08 07:58] Belco90 commented on #125
@all-contributors please add @kentcdodds for bugs

[2020-05-08 12:28] kentcdodds commented on #125
Sweet! Thanks 👍

[2020-05-09 10:30] #116 closed

[2020-05-09 10:32] Belco90 commented on #116
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-09 10:39] Belco90 commented on #116
@all-contributors please add @Belco90 for bugs

[2020-05-12 19:45] gndelia commented on #127
I _might_ be able to take a peek in this one in the incoming days 😄

[2020-05-12 19:49] Belco90 commented on #127
That would be great! Let me know if you want to discuss some details about the rule or its implementation.

[2020-05-12 20:24] gndelia commented on #127
yeah, I have some doubts about being able to fix it in all scenarios... given the callback could potentially have tons of statements - it just seems "feasible" when the statement inside the callback is only one (like a arrow function without brackets, for instance)

Thoughts?

[2020-05-12 20:31] Belco90 commented on #127
Exactly. We can potentially find _anything_ within callback body passed to `waitFor` method, so just trying to fix it for a single statement seems like the perfect approach for first implementation.

One of the latest ESLint features is the [ability to suggest fixes](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions). This looks like a good place to try it! But I'd l

[2020-05-12 20:55] gndelia commented on #127
we could also narrow the fix if that statement inside the callback contains an `expect` with a get/query* method -

should we also include the deprecated methods (for instance `wait`) as part of the fix?

[2020-05-13 03:16] renatoagds opened #133 "new rule: no-multiple-assertions-wait-for"
Following the proposed in Kent at his post (https://kentcdodds.com/blog/common-mistakes-with-react-testing-library). I would like to suggest a new rule that detects multiple expect inside a wait-for:

[code]

[code]

[2020-05-13 03:18] renatoagds opened #134 "new rule: no-side-effects-wait-for"
Following the proposed for Kent at his post (https://kentcdodds.com/blog/common-mistakes-with-react-testing-library). I would like to suggest a new rule that detects side effects inside a wait-for:

[code]

[code]

[2020-05-13 06:21] Belco90 commented on #134
This one duplicates #133

[2020-05-13 06:24] Belco90 commented on #133
Hey Renato! Thanks for your proposal, it sounds good. Would like to give it a try? PRs are welcome!

[2020-05-13 07:09] Belco90 commented on #134
Sorry, I closed this one by mistake! Thanks again Renato, this suggestion sounds good too.

We would have to identify which _side effects_ we want to check here, I guess those from testing library itself.

Again, would like to give it a try? PRs are welcome!

[2020-05-13 07:28] Belco90 commented on #127
That seems a good idea. And actually, let's forget about the possibility of adding suggestions and just focus on single statement within `waitFor` cb body.

I think it's not difficult to include deprecated wait utils when it's done for waitFor, so I'd add them too.

[2020-05-13 14:15] renatoagds commented on #134
@Belco90 Yes! I was think to add `fireEvent` and `userEvent` initially. Sounds good?

[2020-05-13 14:31] Belco90 commented on #134
Sounds good!

[2020-05-15 17:16] HaveSpacesuit opened #135 "No Recommended Rule Column"
The readme says "you can find more info about enabled rules in Supported Rules section within Recommended column", but there is no recommended column in the rule list.

![image](https://user-images.githubusercontent.com/15036346/82077906-d37a4f80-96a5-11ea-9574-43db1628bd5a.png)

[2020-05-15 17:20] Belco90 commented on #135
Hi Eric! Sorry, this is a mistake in the README. It should say:

[2020-05-16 15:54] #135 closed

[2020-05-16 16:09] #118 closed

[2020-05-16 16:12] Belco90 commented on #135
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-16 16:12] Belco90 commented on #118
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-17 11:26] MichaelDeBoey opened #138 "Support ESLint 7.x"
ESLint v7.0.0 is [released](https://eslint.org/blog/2020/05/eslint-v7.0.0-released) 🎉

It would be awesome to have official ESLint 7 support. 👊
I'm happy to help where I can of course 🙂

[2020-05-17 12:04] Belco90 commented on #138
Hey Michael! Thanks for your suggestion and help. Indeed, it would be nice to update the plugin to get compatibility with ESLint v7. I was thinking about adding an ESLint matrix to CI in a similar way as [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react/blob/master/.travis.yml) address it. I don't know if there is a better approach for that.

Anyway, I don't expect to cover so

[2020-05-17 12:38] MichaelDeBoey commented on #138
@Belco90 I've opened #139 to support ESLint 7.x

[2020-05-17 20:01] gndelia opened #140 "[Technical] Add baseUrl in tsconfig.json in order to avoid relative paths"
Now that the library has been migrated to typescript 🎉  I think we could use the [baseUrl option](https://www.typescriptlang.org/tsconfig#baseUrl)

[code]

By doing so, we could set all the imports as absolute from that URL. So, for example, [this import](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/tests/lib/rules/no-debug.test.ts#L2)

[code]

can be now converted

[2020-05-17 20:46] Belco90 commented on #140
Of course! We didn't realize about this when moving to TS. I'll try to sort this soon. Thanks!

[2020-05-17 21:02] Belco90 commented on #140
Mmm ok, I think we didn't do anything related to that because we are only including `/lib` in ts-config (to avoid including them in final bundle), so we can't use absolute imports somewhere else like tests.

I don't know if we should update only those imports under lib folder then or use a different approach.

[2020-05-17 22:57] Belco90 commented on #138
Oh wow, amazing job with that one and all related PRs mate 🎉

[2020-05-18 12:23] gndelia commented on #140
I think baseUrl only affects module resolution, those files that are excluded from under `lib` perhaps will be ignored. That's not an issue, as you import from lib, but you're not importing something else (as the implementation does not import the tests)

I'd give it a try to see if affects the final bundle. In addition to that, perhaps we could use `"baseUrl": "./lib"` if all absolute imports are

[2020-05-18 19:18] MarchosiasM commented on #110
What name were we thinking with this one? I'm not really drawing an intuitive idea here.

`no-not-null-for-array-return`? seems verbose

[2020-05-18 20:12] benmonro commented on #110
Maybe "no-null-check-for-query-all"?

[2020-05-18 20:14] timdeschryver commented on #140
I think a better option would be to use [path-mapping](https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping) for this.

[2020-05-18 22:24] HaveSpacesuit opened #141 "Lint RenderResult when returned from function"
When returning a `RenderResult` from a function, some destructured methods are caught by the linter, but others aren't.

[code]

[2020-05-19 07:39] Belco90 commented on #141
Hey Eric! Thanks for opening an issue. It seems some rules are not checking properly those methods if not coming directly from testing library.

[2020-05-19 16:17] timdeschryver commented on #141
Which rule is this? 👀
I'm thinking this is `prefer-presence-queries`, and it expect queries to be used from `screen`.
Imho this is correct.

[2020-05-19 16:21] Belco90 commented on #141
Well, the comment in the original description code indicating something not being linted is a `debug` method. I guess this refers to `no-debug` rule. @HaveSpacesuit please correct me if I'm wrong.

[2020-05-19 16:49] timdeschryver commented on #141
Oh my bad, I miss-read the snippet.

[2020-05-21 01:22] wcaneira opened #142 "peer dependency question"
Thank you for building this plugin, it's useful.

Just a question, please: I noticed that it (indirectly, thru it's dependencies) requires a peer dependency of `typescript` which I'm not using in my project.

[code]

[code]

...any way around this warning, or am i stuck with it?

[2020-05-21 20:15] joe-reed opened #143 "Allow destructuring from screen with prefer-screen-queries"
It would be great if `prefer-screen-queries` could allow destructuring from `screen`, for example:

[code]

or

[code]

[2020-05-22 07:55] Belco90 commented on #143
Hey Joe! Thanks for opening this issue. Interesting one. The rule shouldn't complain in that case, so I'm adding the label "bug" here.

[2020-05-22 07:58] Belco90 commented on #142
Hello! I can't see that warning in my projects without TS using this plugin. That's a util we are using since we moved the plugin to TS. I'm not sure why you are seeing that warning and I'm not. I understand what peer dependencies are but I don't get the difference to see the warning in some envs or not.

Anyway, I think there is no problem getting that kind of warning? Probably you'll have to liv

[2020-05-22 13:41] wcaneira commented on #142
thank you for replying.  you are right, the warning may not be a big deal functionally, it's just that in my experience, the more warnings accumulate over time, people tend to ignore them all as noise - and some warnings should be heeded. :-)

so im trying to limit/eliminate warnings when folks run `npm i` in my app, so that only true problems appear.

thank you again for replying.

[2020-05-22 14:26] Belco90 commented on #142
You are welcome! I would like to have a better response actually, and I understand your concerns around several warnings related to peer dependencies. As I said, I'll let you know if I can find more details about it.

[2020-05-22 20:33] gndelia commented on #143
not sure this is a bug. The point of the rule is using screen imported to avoid restructuring - not the origin of the methods. If the methods come from screen or the returned value from `render`, it's the same

the only exception that applies is `within` because `within` _changes_ the element that is bound.

[2020-05-22 21:02] Belco90 commented on #143
I didn't think about it in that way. That makes sense, I think you are completely right @gndelia

[2020-05-22 21:12] joe-reed commented on #143
This is a good point, and I think the second example in my original comment is a better example - i.e. destructuring all the needed queries from `screen` once at the top of the test file rather than in each individual test.

The way the rule is currently worded/implemented does imply that the origin of the methods is important and that the point of the rule is not just avoiding destructuring - oth

[2020-05-22 21:32] gndelia commented on #143
from what I understand in [kent c dodds post about using screen](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#not-using-screen)

as I see it, your second example should be triggered by the linter as "incorrect", according to the rule.

The only allowed scenarios to query  should be `screen.{{query}}` calls, being the only exception any queries related to `within` (as it c

[2020-05-22 22:20] joe-reed commented on #143
I understand, that makes sense.

There are benefits to using queries from `screen` over queries from `render` - it provides a single set of queries that can be used in all of your tests rather than obtaining a new query function every test, and also allows for easier extraction of helper/util functions for common assertions or interactions that you want to reuse between tests, as they can use `scr

[2020-05-22 22:33] gndelia commented on #127
I created a draft PR for this one.

After giving some thought and reading [the best practice mentioned by kent c dodds](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#using-waitfor-to-wait-for-elements-that-can-be-queried-with-find) I simplified a bit the approach:

The rule should not check for `expect` inside the `waitFor` (that might be another rule? Not using assertions

[2020-05-23 10:22] Belco90 commented on #127
Oh yeah. Sorry for not leaving it clear, but here we only need to check single statement within `waitFor` cb body (or the returned statement), which must be a `getBy` query. Basically `findBy` is a shortcut for `waitFor` + `getBy`.

So your approach is absolutely fine.

[2020-05-23 10:46] Belco90 commented on #143
Ok so based on "The benefit of using screen is you no longer need to keep the render call destructure up-to-date as you add/remove the queries you need" I think it's clear one of the main points of using `screen` is not having to destructure anything for getting the queries.

Having said that, I understand @joe-reed's point. It's completely fine to destructure `screen` itself. Though I'm not sure

[2020-05-23 13:09] joe-reed commented on #143
It's clearly one of the benefits as mentioned in the blog post, but not the _only_ benefit, otherwise why use `screen` over doing
[code]
In my opinion it would be useful to be able to only allow developers to use queries from  `screen`, while still allowing them to destructure. If we also wanted to disallow destructuring, a new rule could handle that.

It seems a shame to say that if you do want t

[2020-05-24 10:51] Belco90 commented on #143
I understand your point, and it's a fair point to be honest. Let me think about it again, but I'm not sure about relaxing this rule for allowing destructuring `screen` for now.

[2020-05-24 11:07] Belco90 commented on #143
@joe-reed just exploring other possibilities. What do you think about make this rule configurable? So by default it works like it is but you could relax it by passing `{ allowDestructuring: true }` or something similar? I'm just thinking out loud here.

[2020-05-24 14:46] timdeschryver commented on #143
How I see it it's still invalid while destructuring screen, and the point made by Kent is still valid (alltough  it's not as big as a pain as with render).

So every time a new query is used, you will still need to add it to the destructure.

[2020-05-24 15:40] joe-reed commented on #143
That's certainly an option. Having an additional rule for disallowing destructuring does have the benefit that if a team prefers to use queries from `render` they could still disallow destructuring in that case.

I agree that the best option is to have the combination of using preferring queries from `screen` and disallowing destructuring of queries, and I'd propose that the combination of these t

[2020-05-25 10:57] Belco90 commented on #143
Ok so after thinking about this, my final position it's to not implementing this option.

The main point of this ESLint plugin is helping users "to follow best practices and anticipate common mistakes". Using getting queries from `screen` without destructuring is one of those best practices. Implementing the ability to skip some of the checks could mislead people about what those best practices ar

[2020-05-25 11:03] Belco90 commented on #143
Having said that, I'm happy to update the rule description to cover why it won't allow you to destructure queries from `screen`.

[2020-05-26 16:33] HaveSpacesuit opened #145 "prefer-wait-for Catches Unrelated Functions"
The `testing-library/prefer-wait-for` rule catches calls to any function named `wait`, even if not referencing the `wait` exported from testing-library.

[code]

[2020-05-29 18:08] Belco90 commented on #80
React Native Testing Library 2.0 is compatible with the plugin except for one rule! https://callstack.com/blog/react-native-testing-library-2-0/

This will help to create the proper preset for RNTL.

[2020-06-03 08:44] #127 closed

[2020-06-03 08:47] Belco90 commented on #127
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-04 18:08] Belco90 commented on #111
Fixed in #128

[2020-06-04 18:08] #111 closed

[2020-06-04 18:09] Belco90 commented on #120
Closing this one after 1 month of inactivity.

[2020-06-04 18:09] #120 closed

[2020-06-04 22:25] gndelia commented on #140
I did a bit of work on this one. It compiles and the tests pass.

However, when I compared the `dist` before and after the changes, while the code is exactly the same, the path in `require` have changed (of course!) from relative paths to absolute ones. Not quite sure if that will work automatically. I will do further work, but this probably is a low priority 😅

I think `npm link` should help me t

[2020-06-05 07:19] Belco90 commented on #140
I can publish a pre-release version if that's easier.

[2020-06-05 13:05] lourenci opened #149 "Shouldn't prefer-screen-queries takes into account querySelector?"
`prefer-screen-queries` is not taken into account that the user can do this:

[code]

This kind of selector can lead the user to a bad pattern of tests according to the [testing-library](https://testing-library.com/docs/guide-which-query).

I don't understand eslint under the hood, but I propose to change the `prefer-screen-queries` to take the snippet above into account as a bad pattern.

What do

[2020-06-05 13:56] gndelia commented on #149
Hi! Thanks for opening this issue 😃

This rule is supposed to enforce the usage of `screen`  over values returned from `render`. Nothing says about using or not `container` and `querySelector`, or other properties the library exposes. I think that should be covered in another rule. Partially related ticket should be #62

Having said that, this rule should fail because it's using the returned value

[2020-06-05 14:36] timdeschryver commented on #149
I think this can be taken broader, and that we can add a new rule that prohibits the usage of `querySelector` (from screen or render).

[2020-06-05 21:30] lourenci commented on #149
I got it and it makes sense for me, though I think we should make this broader and force the user to use the best-practices selectors somehow.

Can I take a look at this bug?

Thanks for that.

[2020-06-05 21:38] lourenci commented on #149
I can't simulate this bug anymore. Probably, the test I was running earlier was using the `screen.container.querySelector`.

I'll close this issue, though I think we should make this broader.

Sorry for that.

[2020-06-05 21:44] gndelia commented on #149
Hey, @lourenci , I'm reopening your issue.

despite the discussion about whether we should enforce or not using the querySelector and all that, this code in your first comment

[code]

is an invalid scenario.

This rule (`prefer-screen-queries`) should detect that `screen` is not used and enforce it to fail, as the correct scenario should be

[code]

Then, _another rule_ should probably enforce wh

[2020-06-05 21:46] lourenci commented on #149
Yes, there is a bug. I made some mistake earlier trying to reproduce this, I can reproduce now.

I'll try to solve this.

[2020-06-06 15:50] Belco90 commented on #149
Thanks for the PR! Agree with @gndelia we should disallow `container` or `querySelector` in a different rule (we had some discussion around it in #62)

[2020-06-06 16:21] afontcu commented on #122
Hi! Looks like #137 was merged but this issue is still valid, right? (Just to double check 😇)

[2020-06-06 16:25] Belco90 commented on #122
Yes, it was only fixed for `no-await-sync-query` but I'm afraid the issue is still there for `await-async-query`.

[2020-06-07 02:10] gndelia commented on #149
Continuing with the discussion of this bug, we should also consider (besides container and debug) the other properties that are available in `RenderResult` https://github.com/testing-library/react-testing-library/blob/master/types/index.d.ts#L23

[2020-06-09 12:10] Miguelerja opened #151 "prefer-wait-for rule autofix is modifying Cypress wait() functions"
Hello,

I have tried to add the rule 'prefer-wait-for' to my code but an unexpected interaction is provoked with my Cypress files. The autofix from the rule is also changing the calls to cy.Wait() for cy.WaitFor() in my Cypress test files

<img width="723" alt="Screenshot 2020-06-09 at 14 04 13" src="https://user-images.githubusercontent.com/42043025/84145627-85fdc200-aa5a-11ea-83f0-52b795da1ee3.p

[2020-06-09 13:09] Belco90 commented on #151
Hi Miguel! Indeed this is a bug, the rule shouldn't apply to anything but testing library utils.

[2020-06-09 16:44] timdeschryver commented on #151
Let me try to see if I can fix this, seems fair as I've introduced this bug 😅

[2020-06-10 10:47] #149 closed

[2020-06-10 10:48] #151 closed

[2020-06-10 10:52] Belco90 commented on #149
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-10 10:52] Belco90 commented on #151
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-10 22:03] pustovalov opened #156 "screen.container undefined"
caused by https://github.com/testing-library/eslint-plugin-testing-library/pull/150

[code]

[code]

`screen` doesn't have `container` key

[2020-06-11 05:26] timdeschryver commented on #156
that makes sense 🤦‍♂️😅

Not sure if you should allow render to use container tho. https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#using-container-to-query-for-elements

[2020-06-11 07:06] Miguelerja opened #159 "prefer-explicit-assert rule allows to avoid assertions if wrapped on expect() or using toThrow()"
Hello,

I have found two cases that I think should be controlled by this rule but are not being detected by linter.

If wrapped on an expect with no assertion it will not throw a warning/error although it is not explicit either.
<img width="688" alt="Screenshot 2020-06-11 at 08 54 41" src="https://user-images.githubusercontent.com/42043025/84355116-5b2e7d80-abc2-11ea-8595-463dd5572104.png">

If us

[2020-06-11 07:33] #156 closed

[2020-06-11 07:35] Belco90 commented on #156
@timdeschryver I think we need its own `no-container` rule or however it will be called, but something outside `prefer-screen-queries`.

[2020-06-11 07:36] Belco90 commented on #156
:tada: This issue has been resolved in version 3.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-11 07:52] Belco90 commented on #159
Hey Miguel. I'm not really sure if this should be a concern for the rule (or even the plugin itself).

We have had similar discussions before around how far the plugin should check stuff regarding jest or any other testing framework.

Anyway, happy to see what is your proposal for this. Keep throwing an error until the rule is wrapped with `expect` + some matcher?

@gndelia @timdeschryver thoughts

[2020-06-11 08:07] Miguelerja commented on #159
I see your point. On the other hand I think that, if the rule's reason to be is avoiding assertions based on a not found error but make people write defined and expressive assertions, these cases somehow go against this philosophy.

I think the first case is equal to just say ```getByRole(<role>)``` and is a kind of hack over the rule since just expect with no expectation is not adding any real me

[2020-06-11 09:05] timdeschryver commented on #156
I agree @Belco90 , that's what I also meant to say

[2020-06-11 15:01] Belco90 commented on #159
I get what you mean, but I don't know if we would be crossing boundaries from testing library. [`eslint-plugin-jest` has already a rule to check valid expects](https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/valid-expect.md) so this plugin would be doing kind of the same?

Maybe we can get some inspiration from that rule, but in a simpler way. I still think it's out of

[2020-06-11 15:26] timdeschryver commented on #159
I was also thinking that way @Belco90 .
This is something that's not in the "domain" of Testing Library.

About the second case (with `.ToThrow()`), I think this is valid, but I'm not sure... I think it could be used to verify that an element isn't on the page?

[2020-06-11 15:28] gndelia commented on #159
By reading the docs of [prefer-explicit-assert](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/prefer-explicit-assert.md) I feel the first scenario `expect(getByText('foo'))` should be covered

not so sure about the second one yet.  I feel the second scenario is similar to https://github.com/testing-library/eslint-plugin-testing-library/issues/110 where we

[2020-06-12 06:04] timdeschryver opened #162 "New rule: prefer-user-event"
When https://github.com/testing-library/dom-testing-library/pull/616 gets merged, `userEvent` will be part of DOM testing library.

We could create rules for events on `userEvent` that are preferred over their `fireEvent` counterparts.

Before we start implementing rules, there are some thing we need to clarify first:

- Kent already mentioned `click` would be a good candidate, are there any other

[2020-06-12 08:38] Belco90 commented on #162
Nice proposal Tim.

- To be honest, `click` was the only obvious one that came to my mind. I guess we will need to check proper user-event docs or wait for testing library docs to be updated to make sure about which methods we should cover.
- My personal preference would be a single rule to encourage userEvent methods over fireEvent ones. As you mentioned it could be useful to have rule per event

[2020-06-12 12:52] gndelia commented on #162
I'd go for a single rule to prefer one over the other. Kent mentions some stuff that you might only be allowed to do with the primitive, perhaps we could let the user configure which methods should be allowed to be used with `fireEvent`?

[2020-06-13 13:45] Belco90 commented on #162
We should keep am eye on this issue for having more info/context https://github.com/testing-library/dom-testing-library/pull/616#issuecomment-643553954

[2020-06-13 14:35] timdeschryver commented on #162
That's a good idea @Belco90

[2020-06-15 01:41] nickmccurdy opened #165 "Add rules from "Common mistakes with React Testing Library""
There are some great suggestions in [Common mistakes with React Testing Library](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library), a few of which we could probably check statically:

1. [Using wrapper as the variable name for the return value from render](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#using-wrapper-as-the-variable-name-for-the-return-

[2020-06-15 01:51] gndelia commented on #140
After doing some testing, and finding some interesting notes like this https://github.com/microsoft/TypeScript/issues/16640 and this https://stackoverflow.com/questions/56949487/how-to-have-absolute-import-paths-in-a-library-project

there's no way to fully implement this without involving a post-build task or webpack to translate the absolute paths in compile/build time to relative paths that wil

[2020-06-15 01:56] nickmccurdy commented on #140
I've maintained a library using custom paths, and it's not worth the effort. I spent way more time trying to fix tooling bugs than I saved by simplifying imports, and you can still simply relative imports by just moving files around.

[2020-06-15 10:25] Belco90 commented on #140
Ok so it seems we are introducing more problems than we solve. Should we close the issue then?

[2020-06-15 10:49] Belco90 commented on #165
Hey Nick, thanks for bringing this discussion here!

Indeed, there are some other common mistakes we can prevent. From your list of new rules:

1. This one is an easy one to implement. Just something like `no-render-wrapper` or something similar would be enough. Should be a fixable rule? I'd rather not, as we would have to rename all appearances of `wrapper` const defined by the user and we can me

[2020-06-15 11:50] nickmccurdy commented on #165
Alternatively, could we possibly extend/reuse/configure [`prefer-destructuring`](https://eslint.org/docs/rules/prefer-destructuring). So it only applies to `wrapper`? if that were possible, we might be able to just rely on its autofixing. If not, I'd be fine with a simple rule to check the name without an autofix.

I think the main issue would be that we'd need to keep this updated pretty frequent

[2020-06-15 18:01] gndelia commented on #140
yeah. Closing

[2020-06-15 18:01] #140 closed

[2020-06-16 08:23] Belco90 commented on #165
Mmm I'm not sure. This even looks like 2 different rules: `prefer-destructuring` and `no-render-wrapper`. With the destructuring one you are no even allowed to get render results under a const. With the no wrapper one, you can but it just doesn't allow you to name it incorrectly. I'd go for just throwing an error at render result named as wrapper, but preferring destructuring could be another inte

[2020-06-16 10:42] nickmccurdy commented on #165
The wording of the heading in the article is a little misleading, it's more about advising you to use destructuring than to not use `wrapper`. I'd prefer to encourage destructuring as it's more accurately following this advice (and prevents a variable with a different name being used), but if that's not possible we could just check if the name is `wrapper` and autofix with destructuring. I'm not t

[2020-06-16 11:10] nickmccurdy commented on #162
The merge into `dom-testing-library` has been cancelled, but it would still be nice to have this rule to inform users about when they should be using the `user-event` package.

[2020-06-16 11:20] timdeschryver opened #166 "fireEvent with Promises"
Based on https://github.com/testing-library/dom-testing-library/issues/609, I think we could add a new rule. I'm not 100% sure if it's worth it, because:

- testing library already added a runtime error
- in TypeScript projects, this will already be caught (I think)
- the current implementation of the rule doesn't catch all cases, and I'm not sure if it can. Currently it catches `fireEvent(Promise

[2020-06-16 14:26] Belco90 commented on #166
Oh wow, I didn't even know about this error and I just realized I suffered it!

It could be a good addition to help users spotting the issue in this particular case, though having already a runtime error from testing library seems enough, doesn't it? Not sure what we should do, but you almost got the implementation 😅

[2020-06-16 14:34] gndelia commented on #166
confirming that ☝️

![image](https://user-images.githubusercontent.com/352474/84788098-1d1bca00-afc5-11ea-8467-0a0908b2d404.png)

The library (in runtime) and TS (in compile time) also offer a good coverage against the scenario, but given the implementation is almost done, I'd say let's go with it 😄

[2020-06-16 14:37] Belco90 commented on #165
Ok, to sum up what we got so far:
-  New `prefer-destructuring-render` rule. I wouldn't go for autofix at first, but the implementation itself should be easy by mirroring similar behavior from ESLint `prefer-destructuring` one. It can get more complex that it seems if there is a function wrapping the `render` method tho, something like:

[code]
👆 this should throw an error

- New `single-wait-for-

[2020-06-17 00:00] gndelia opened #167 "[prefer-find-by] When query methods come from destructuring, findBy* might not be defined"
Example code **before** running the linter

[code]

**After** automatically fixing this, the code looks like this

[code]

There are a couple of issues:

1. As the title mentions, `findByText` is not defined. If the code was using `screen` or any similar wrapper, instead of the bound function directly, this is not a problem.
2. If `getByText` is not used elsewhere, it becomes unused, causing _anot

[2020-06-17 00:06] gndelia commented on #165
I think I can start with this one in the incoming days. We can track it on #133

[2020-06-17 00:09] gndelia commented on #162
@nickmccurdy  I've read about the recommendation of using `user-event` instead of `fireEvent` because it better represents how the browser really behaves - and that `fireEvent` is perhaps on a lower level.

I like the idea of the rule, but could you point out some docs or relevant information to further understand the difference between these two? I am not sure if there are stuff that can only be

[2020-06-17 01:20] nickmccurdy commented on #167
I guess we could look up where it was destructured from and change the properties that are destructured rather than just the named of the called functions?

[2020-06-17 03:29] nickmccurdy opened #170 "new rule: render-result-naming-convention"
__Inspiration:__ [Using wrapper as the variable name for the return value from render](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#using-wrapper-as-the-variable-name-for-the-return-value-from-render)

If possible, it would be nice to extend or reuse the existing core rule [`prefer-destructuring`](https://eslint.org/docs/rules/prefer-destructuring) so it only applies to `

[2020-06-17 03:34] nickmccurdy commented on #170
@Belco90 I thought about this example, but I don't think I agree with it:

If you're using screen (which I'm recommending by default in #169 anyway), this is actually fine if you just want to simplify rendering the same thing in separate tests. If you're not using screen, this would still be a valid smoke test, and there's still no Enzyme-style wrapper object.

[2020-06-17 03:34] nickmccurdy commented on #170
Another thing to consider is that the article alternatively suggests a `view` object that isn't destructured. Do we want to support this? I don't really like it personally, especially since screen replaces most of the use of this anyway. I suppose there could be a separate `prefer-view-over-wrapper` rule but I'm not sure if there would be demand for it.

[2020-06-17 03:46] nickmccurdy opened #171 "new rule: no-container"
__Inspiration:__ [Using container to query for elements](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#using-container-to-query-for-elements)

This would error on `container` methods like `querySelector` that are often used instead of get/query functions, as there might be other reasons why you'd need to access the container in a test (such as assertions). It would be nice

[2020-06-17 03:46] nickmccurdy commented on #156
#171

[2020-06-17 03:47] nickmccurdy commented on #156
@timdeschryver @Belco90 #171

[2020-06-17 03:47] nickmccurdy commented on #165
Since we've agreed on the overall direction here, I'm closing this discussion and replacing it with some new issues I'm listing below, along with the original issues from [my original post](https://github.com/testing-library/eslint-plugin-testing-library/issues/165#issue-638481073).

#170

#171

#168

I've also recommended `prefer-screen-queries` separately, as it's mentioned in the article but I

[2020-06-17 03:48] #165 closed

[2020-06-17 04:08] nickmccurdy commented on #162
For the most part, it's adding related event calls from browsers to make tests realistic, along with adding some convenience APIs to make calling these events easier. Overall the goal is to make testing like a user both easier and more accurate than calling low level `fireEvent` methods. See the [`user-event` API documentation](https://github.com/testing-library/user-event#api) for more detailed i

[2020-06-17 07:30] Belco90 commented on #167
From [ESLint rules fixes best practices](https://eslint.org/docs/developer-guide/working-with-rules#applying-fixes), 1 is a bug here, but 2 and 3 aren't.

Because of this, 1 is a bug as it can cause the code to stop working as `findBy` is not imported.

Because of this, 2 and 3 are not an issue. A rule should not take care of possible errors reported by other rules. And they are not causing the co

[2020-06-17 08:40] Belco90 commented on #170
This is what I mentioned in the original discussions. There are two different things involved here: forcing destructuring or prefer calling it `view`.

By the original discussion I thought you proposed just the first one, but actually you want both as per described in KCD post. This only reports if you keep `render` result in a var and it's not called `view`.

Should we rename the rule then? I thi

[2020-06-17 08:59] Belco90 commented on #165
Thanks for organizing these tickets and discussion @nickmccurdy !

[2020-06-17 13:07] gndelia commented on #167
I thought so. Ok so this ticket should be used to track the fixing of 1. Thanks!!

[2020-06-17 13:23] Belco90 commented on #167
How are you planning to fix it? I have couple of ideas, but it can get complex for some edge cases like:

[code]

We can't just destructure from `render` in this case. Maybe just checking where the original query being replaced (e.g. getByText) was destructured is enough to include the new query (e.g. findByText)? What if already imported? I guess we need to check this within the function scope wh

[2020-06-17 13:30] gndelia commented on #167
the best scenario seems to look up the place where the original query was restructured from, and replace it there if it wasn't already.

We will have to set up a good amount of tests to verify all scenarios work as expected

[2020-06-17 13:35] Belco90 commented on #167
Cool, we are in the same page then. Indeed, we need a nice bunch of tests here. Apart from that case mentioned before, I can think about these additional ones in case it helps:

[code]

[code]

[code]

[code]

[2020-06-17 13:39] gndelia commented on #167
just to clarify, the rule does not cover `expect`s inside.  The general form should be more like

[code]

[2020-06-17 13:40] Belco90 commented on #133
What name do you prefer for this one?
- `no-multiple-expect-wait-for`
- `single-wait-for-assert`
- something else

[2020-06-17 13:40] Belco90 commented on #167
My bad, I'll update the examples.

[2020-06-17 13:41] gndelia commented on #167
these two should work, as the replaced code will use `findByText` from view: `view.findByText('submit')`. Can't remember if there are tests that cover this (I think there are, but using `utils` as the name instead of view)

yes, we should cover these (without the `except`, tho)

[2020-06-17 14:09] nickmccurdy commented on #133
Maybe `no-multiple-assertions-wait-for`?

[2020-06-17 14:13] gndelia commented on #133
should we also cover the deprecated methods? like wait and waitForElement?

[2020-06-17 14:15] Belco90 commented on #133
I think so. It should be easy after implemented for `waitFor` right?

[2020-06-17 15:02] nickmccurdy commented on #170
The article seems to really prioritize destructuring over `view`. I would personally rather keep the implementation of this rule and the suggestions more focused and just require destructuring, unless there's anyone that feels strongly that `view` should still be supported. I'm curious what @kentcdodds thinks as well.

[2020-06-17 15:17] Belco90 commented on #170
I like to have the possibility to keep `render` returned values under `view` variable basically for creating a superset when:
- creating custom `render` utils, like `renderWithRedux` or `renderWithTheme`
[code]
- extracting duplicated queries from my tests into a common setUp method
[code]

Both cases can be rewritten destructuring `view` but the code is easier to read and maintain like this I thi

[2020-06-17 15:26] nickmccurdy commented on #170
Fair enough, those seem like valid use cases to me. However I'm not sure if they'd be common enough to warrant explicitly allowing them, vs just disabling them inline as you suggested. Do you think we could at least do an initial release that forces destructuring, or would it be too confusing? Another thing to consider is that if we end up changing our mind over time, the old rule name could get c

[2020-06-17 15:36] kentcdodds commented on #170
I think the following should be allowed:

- destructuring
- `view`
- `utils`

[2020-06-17 16:17] Belco90 commented on #170
I actually use `utils` in some old projects 😅 . I'd go then for allowing those 3 variants, and choosing a more appropriate name for the rule maybe?

Suggestions for rule name? I think even `prefer-destructuring-render` can work, specifying those 2 valid exceptions.

Should the rule then fix the code if other than `view` or `utils` is used as a var name?

[2020-06-17 16:36] timdeschryver commented on #170
Don't know if it's possible to provide a fix, you would also need to update all the references to it. AFAIK this isn't straight forward.

What about `renderresult-naming-convention`, similar to ts eslint's [naming convention](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/naming-convention.md) rule.

[2020-06-17 16:38] timdeschryver commented on #133
While being easy, is it needed?
The linter will fix the deprecated methods to `waitFor`, and then this rule kicks in.

Just thinking out loud here 😅

[2020-06-17 16:52] renatoagds commented on #133
@Belco90 @gndelia Hey guys! I have been working on this one since few days ago. Sorry for the delay, but I'm calling it `no-multiple-assertions-wait-for` in my branch: https://github.com/renatoagds/eslint-plugin-testing-library/tree/no-multiple-expect-wait-for

[2020-06-17 16:59] gndelia commented on #133
oh nono, that's great! Let's continue over your branch. We did not know you were at it. 🚀 🚀

you might want to join the debate here 😄

[2020-06-17 17:13] renatoagds commented on #133
@gndelia Great! Will continue work on this.

Yes! Sorry for the delay, I read the discussion from #165 and up to date about the directions.

@timdeschryver I have mixed feelings about. Talking about myself, the project that I work, we're in top of migration for RTL v10, since we have a lot of tests and even with lint fix we have a few points to double check, so we're thinking about use TL eslint t

[2020-06-17 22:50] stefcameron opened #173 "Rules do not work with custom name library name"
I love the `no-debug` rule, however, it doesn't work if you're using a custom local library name in order to, for example, provide a [custom render function](https://testing-library.com/docs/react-testing-library/setup#custom-render) to the rest of your code.

I agree that the library name is no longer `@testing-library/react`, for example, and could be _anything_, so the rule doesn't find a match

[2020-06-17 22:54] stefcameron opened #174 "no-debug does not detect screen.debug() if screen is not last import in list"
Love that `no-debug` rule, however:

[code]
where as
[code]

[2020-06-18 02:12] nickmccurdy commented on #173
Out of curiosity, what's the use case for this? Are you forking the library? Or adding custom types? Or is the intention to support new testing libraries that aren't necessarily in this organization yet?

[2020-06-18 03:34] nickmccurdy commented on #162
@Belco90 I added this to the v4 milestone, do you think it's a good idea or would you rather wait until more events are added to `user-event`? We have already added a bunch recently though.

[2020-06-18 06:03] timdeschryver commented on #166
👍 I'll add it later this week with and add test cases/docs, we can still decide if we want to add it then 🙂
Thank god I added the code here.... since I just reverted by changes locally 😂

[2020-06-18 06:14] timdeschryver commented on #173
This probably affects most of the (all?) rules 😅

[2020-06-18 07:04] Belco90 commented on #170
@timdeschryver nice one! Let's skip the fix then and rename it to `render-result-naming-convention`.

[2020-06-18 07:08] Belco90 commented on #133
@renatoagds sorry, didn't know you were still working on it! I'm happy with your suggestion to start only with `waitFor` and see what feedback we get. It's a good idea also to rename the rule to `no-multiple-assertions-wait-for`. Thanks!

[2020-06-18 07:33] Belco90 commented on #174
Hey Stefan, thanks for creating the issue! Interesting one.

[2020-06-18 07:50] Belco90 commented on #162
I'd like to include this, but I'm afraid this could delay v4. Do we have clear then about what we want to include in this rule? If so, I'd include it in v4 as optional. If we have everything but this ready for v4 I'd release it and then include this in a potential v4.1. Sounds good?

[2020-06-18 07:56] Belco90 commented on #166
Sorry I had to do it
![image](https://user-images.githubusercontent.com/2677072/84993655-dc998900-b149-11ea-8a3b-36e22445836f.png)

[2020-06-18 08:06] Belco90 commented on #173
Wow, didn't think about this before. @timdeschryver exacatly, this can potentially affect all the rule. To solve this properly we would need to include a global param in the plugin config so you can set your custom module from where you import Testing Library stuff. Otherwise, we can't know if the `screen` you are importing is from Testing Library or not.

[2020-06-18 08:13] #174 closed

[2020-06-18 08:18] Belco90 commented on #174
:tada: This issue has been resolved in version 3.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-18 10:01] nickmccurdy commented on #173
I'm still not sure what this is for. Could we alternatively solve this without any config with some more dynamic logic?

[2020-06-18 10:03] Belco90 commented on #173
I don't know if it's possible to guess this from our ESLint component. I'll check how other libraries get this kind of dynamic values from custom user files.

[2020-06-18 10:04] nickmccurdy commented on #162
I thought we agreed on adding one new rule that would check all events that should be used with `user-event` by default, with a config to toggle them individually.

👍

[2020-06-18 10:31] timdeschryver commented on #173
TIL, there are [shared settings](https://eslint.org/docs/user-guide/configuring#adding-shared-settings) seems like something we can use? Not sure tho...

[2020-06-18 13:25] Belco90 commented on #162
LGTM

[2020-06-18 13:33] Belco90 commented on #173
@timdeschryver Yes, that's the option I was thinking about. That's what I have to use for setting up [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import#settings) for example. Others like [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node#-install--usage) can look for other files or settings, but I'm afraid we will have to do this with ESLint settings.

[2020-06-18 13:48] nickmccurdy commented on #173
What's the difference? I thought they all used the ESLint config.

[2020-06-18 13:50] Belco90 commented on #173
What's the difference between what? Sorry, I don't know what you mean. ESLint setting is just a key within ESLint config file.

[2020-06-18 15:15] stefcameron commented on #174
@Belco90 My pleasure! Thanks for the super quick fix! 😄

[2020-06-18 15:24] stefcameron commented on #174
Wow, thanks! I'm honored! 🎉

[2020-06-18 15:35] stefcameron commented on #173
I think ESLint Shared Settings, as @timdeschryver points out, would be a good way to go to solve this for all rules. Another example is [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react), see [configuration options](https://github.com/yannickcr/eslint-plugin-react#configuration)

[2020-06-18 15:40] nickmccurdy commented on #173
@stefcameron Ah yes, that is what I was thinking of, thanks

[2020-06-18 15:59] stefcameron commented on #173
I also wanted to address a question about the use case I saw via email notification yesterday night, but can no longer find on this issue. Perhaps it was deleted, but I thought I would still clarify for posterity.

In my [description](https://github.com/testing-library/eslint-plugin-testing-library/issues/173#issue-640789573) of the issue, I mentioned the need for [custom render functions](https:/

[2020-06-18 16:25] gndelia commented on #173
In the project where I work for we use a utility function as an intermediate to enhance render method with providers, but we also use it to re-export the rest of the RTL API - imports come from only one way.

But because of that, many rules will stop working because they rely on the specific import of RTL. I think the configuration will be a good way to solve that scenario which I believe will be

[2020-06-18 16:31] gndelia commented on #165
Asking here, just not to create a new ticket:

should we also make `prefer-wait-for` recommended for the v4? That should help users to enforce the usage of waitFor instead of the deprecated APIs

[2020-06-18 16:38] nickmccurdy commented on #165
I believe the rationale of not including it by default was to make it easier for users that are still on a legacy version (where this new API doesn't exist yet). I'd be fine with changing this to assume people are using an up-to-date version of the library if we can reach an agreement though

[2020-06-18 17:04] nickmccurdy commented on #173
I'm mostly concerned about what the docs recommend and what's common best practices, so if most are doing this, the config option should be fine.

[2020-06-18 18:19] stefcameron commented on #173
@nickmccurdy The way I was thinking of it, with the config option, is that someone would provide the alternate name for the React Testing Library (RTL) module being used. In my case, that would be "testingUtility".

I will guess that not everyone will [configure Jest](https://testing-library.com/docs/react-testing-library/setup#configuring-jest-with-test-utils) as I have, so they would have import

[2020-06-18 18:44] thebinaryfelix commented on #171
Hi, everyone! I'd like to help implementing this rule, could I be assigned to it @nickmccurdy ?

[2020-06-18 18:48] gndelia commented on #171
Sure, it's all yours 😄  You might want to review #165 as well because there were some mentions about this ticket.

[2020-06-18 18:53] thebinaryfelix commented on #171
Thanks @gndelia !

[2020-06-19 09:40] Belco90 commented on #173
I think we also need to check default testing library imports (e.g. `@testing-library/react`) even if the user sets a custom testing library module through ESLint settings. In my code base, the custom module only expose alternate render methods. So if we want the default render, we import from testing library itself. But if we want a custom one, we import from our own module so we have mixed impor

[2020-06-19 17:22] gndelia opened #178 "New rule: no-rerender"
`render` method offers a method called [rerender](https://testing-library.com/docs/native-testing-library/api#rerender). This one allows forcing a rerender with new props, though it'd be ideal to cause those changes by interactions (for example using `userEvent`), instead of updating the props.

I was thinking of a rule that disables its usage could be useful. I am not sure if it should be recomme

[2020-06-19 17:42] nickmccurdy commented on #178
I do see some value in using this to integration/unit test reusable components that need to react to prop changes. However there is some inconsistency with how we plan on recommending `prefer-screen-queries` in [v4](https://github.com/testing-library/eslint-plugin-testing-library/milestone/2). Should we add this API to screen or allow it in `prefer-screen-queries`?

[2020-06-19 17:45] gndelia commented on #178
True, and that's probably the reason why this rule should not be `recommended` one. However, it might be useful as a rule per se. I don't think it should be a required rule for v4

Yeah, it should be probably an exception in `prefer-screen-queries`. Not sure if it currently is or not - we might want to add some test cases there.

[2020-06-19 18:01] nickmccurdy commented on #178
@benmonro Thoughts?

[2020-06-19 18:35] benmonro commented on #178
hmm, yeah i like the concept, not sure I'd be able to turn it on as an `error` but I could see it being useful as a `warn`

I agree w/ the sentiment that you should _try_ to use user interactions instead of rerender, but that can sometimes mean biting off a lot more than you can chew in a test, especially in big (poorly factored) redux applications.

I do however think prefer-screen-queries should

[2020-06-19 18:36] benmonro commented on #178
is it possible to recommend something as a warn?  I know we can do that in the recommended config...

[2020-06-19 18:43] gndelia commented on #178
I agree.

But I am not sure current implementation of that rule allows this, or if it throws an error when trying to use `rerender` as part of the destructuring.

I will check it later today, and if it works I will add some test cases and update the docs for that rule as a valid exception (as it's the only way to use it because it's not exported in `screen` object)

[2020-06-19 18:47] Belco90 commented on #178
I agree with @benmonro: separated rule, not enabled by default as error. We can enable it as warning, I think that could be a good reminder to make users think twice before using rerender method. I think we shouldn’t have to wait for this one for v4.

I had to use it few times for redux stuff coming from SSR if I remember correctly, so this was the only way to simulate very specific behaviour in t

[2020-06-20 00:06] gndelia commented on #178
The rule `prefer-screen-queries` allowed the usage of `rerender` as expected; I just created a PR to add a few tests and reflect it on the docs

[2020-06-20 15:49] #145 closed

[2020-06-20 19:59] Belco90 opened #182 "Rename `recommended` config"
Motivated by [this comment](https://github.com/testing-library/eslint-plugin-testing-library/pull/177#discussion_r442950929) I want to propose renaming `recommended` config to `dom`.

I picked that name because is the usual config included in an ESLint plugin, but it doesn't look like proper name and seems misleading. I have seen some people too configuring `recommended` + `react` or another frame

[2020-06-20 20:13] gndelia commented on #182
I am still having issues to understand the meaning by saying that a rule is `recommended` (or now, `dom` as suggested)

My thought was that if a rule was `recommended`, it was enabled _by default_ if the plugin was configured in the user-land in the `.eslintrc` with

[code]

Like, any user can configure the rules they want, but the plugin offers a good "default" with what people behind it consider

[2020-06-20 20:19] nickmccurdy commented on #182
It's supposed to be used for the default recommended ruleset, just like `eslint:recommended`. However in this case, despite us using the recommended name, that's not really what the recommended config is for. Technically we recommend all configs, but it depends on the library, recommended is not necessarily the best as it's specifically for dom-testing-library. I think @Belco90's suggestions would

[2020-06-20 20:22] gndelia commented on #182
Just to clarify if I understood correctly when you mean

you are referring to the different implementations right (react, angular, vue)?

So in that sense, the rules are for the general `dom-testing-library` and by switching from `recommended` to `dom` we'd enforce that.

Thanks in advance 😄

[2020-06-20 20:25] Belco90 commented on #182
I think the problem is this plugin is targeting different Testing Library frameworks. Usually ESLint plugins target a specific library so is pretty clear what the recommended config means.

Here I'm not so sure now about what recommended means or should mean:
- recommended rule in general for all Testing Library frameworks? Fair enough, but then a "react" badge in the configs should mean "this is

[2020-06-20 20:29] nickmccurdy commented on #182
By the way, what does the `recommended` boolean in the rule sources do? In the other ESLint plugins I've seen, these were used to generate the readme table and configs, but we're doing that manually here, so I'm not sure what it's for.

[2020-06-20 20:30] gndelia commented on #182
I see. Thanks for the detailed explanation to both 😃 ; indeed there are some mixing concerns and `dom` seems an improvement on that.

We could add to the docs that `dom` refers to recommended rules regardless of the library implementation;

If a rule has the `dom` badge, should we then skip the badge for `react`, `vue`, etc ?

I understand that they won't be required, as those should be used for r

[2020-06-20 20:31] Belco90 commented on #182
To be honest: I thought that would happen _automagically_ when I created the plugin but it's obviously not 😂 . I'd like to use that bool (and some extra for each config) for autogeneritng that in the future.

[2020-06-20 20:35] Belco90 commented on #182
I want to avoid this actually. Testing Library packages like cypress or react-native are not built on top of DOM exactly. So I'd leave as many badges as needed for rules recommended on `dom`, `angular`, `react` and `vue` so the Configurations column would work as "recommended for all these packages".

That doesn't mean we need to do it manually in the plugin code. We can leave it as now and inheri

[2020-06-20 20:37] nickmccurdy commented on #182
I don't think that system would work for us with multiple configs, I'd still like to figure out some way to declare the configs a rule belongs to in the rule so it can be used to generate all the configs and the table (not just for dom/recommended). That being said we're not the only ESLint package with multiple configs, so I wonder if there's already an example of this out there.

[2020-06-21 07:41] timdeschryver commented on #182
+1 for the rename to `/dom`.

It should be possible generate the configs based on the rules.
I was thinking about implementing it in another eslint repo, and it turns it it's fairly simple. (see https://github.com/timdeschryver/eslint-plugin-ngrx/pull/35 as a ref).

[2020-06-21 08:53] nickmccurdy commented on #182
I also did something similar here, totally forgot 😅  testing-library/eslint-plugin-jest-dom#4

[2020-06-21 10:38] Belco90 commented on #182
I guess we can address it after this PR? It's a chore change so it won't mean anything for final user, while this config renaming is definitely a change for users. If you are happy with it, I'm gonna rename the config and then I can address the automation thing in a later step.

[2020-06-21 10:49] nickmccurdy commented on #182
I might be interested in giving it a shot, but I guess you're right that the order doesn't matter much. We're not changing too many things in the v4 configs yet anyway.

[2020-06-21 20:58] #171 closed

[2020-06-22 04:27] thebinaryfelix commented on #62
Hey guys! So, if I've understood correctly, this rule should throw an **error** message when the user tries to select a DOM Node by traversing through multiple Nodes.
The config would be set as `"no-node-access": ["error", { allowedProperties: [...], max: 2 }]` where:
- `allowedProperties`: are the [properties that return another Node](https://developer.mozilla.org/en-US/docs/Web/API/Node)

[2020-06-22 05:04] thebinaryfelix commented on #62
Hey guys! So, if I've understood correctly, this rule should throw an error message when the user tries to select a DOM Node by traversing through multiple Nodes.

The config would be set as `"no-node-access": ["error", { allowedProperties: [...], max: 2 }]` where:

- `allowedProperties`: is a list of [properties that return another Node](https://developer.mozilla.org/en-US/docs/Web/API/Node) set

[2020-06-22 06:31] timdeschryver commented on #62
Wouldn't this rule be caught with the no-container rule (#177)?
Thinking out loud, if the user allows accessing the container it's probably for doing stuff like this?

Besides this, I think you nailed it @thebinaryfelix

[2020-06-22 09:26] #182 closed

[2020-06-22 09:50] Belco90 commented on #62
@thebinaryfelix you are right, but keep in mind this applies to every element returned from a Testing Library query, not just the `container`. This is basically the difference from `no-container` @timdeschryver.

The idea here then is to report things like:

[code]

That's why we discussed about how many chained levels we should allow.

[2020-06-22 10:14] Belco90 commented on #62
This one is probably the trickiest and complex one in the plugin, as the are tons of things to keep in mind:
- different ways of accessing node properties:
[code]
- elements within lists from Testing Library queries:
[code]
- check chained calls properly

[2020-06-22 10:20] Belco90 commented on #170
No one got this one assigned right? I'll start working on it.

[2020-06-22 10:34] #166 closed

[2020-06-22 10:48] Belco90 opened #186 "ESLint plugin Testing Library v4"
I'd like to keep everything planned for v4 update here, so it's easier for everyone involved to organize pending work. This was started in #165.

**Changes planned for [v4](https://github.com/testing-library/eslint-plugin-testing-library/milestone/2):**

- [x] new rule: `no-container` - #171, #177
- [x] new rule: `render-result-naming-convention` - #170, #200
- [x] new rule: `prefer-user-event` -

[2020-06-22 10:49] Belco90 commented on #186
Do you think we need to wait for those 4 new rules for releasing v4? I think `render-result-naming-convention` and `prefer-user-event` are necessary, but we could release `prefer-user-event` and `no-multiple-assertions-wait-for` in a later step?

[2020-06-22 10:50] nickmccurdy commented on #186
We could also assign issues from the [milestone](https://github.com/testing-library/eslint-plugin-testing-library/milestone/2).

[2020-06-22 10:51] Belco90 commented on #186
Yeah I just felt I needed a place to see everything together but also be able to discuss what's needed and coordinate this better.

[2020-06-22 10:51] nickmccurdy commented on #186
I guess that depends on if we want to make them recommended, and I think they probably should be. As long as it doesn't take too longer to work on them, waiting to release them would reduce the number of breaking releases and potentially make upgrading easier. Alternatively we could make the migration more gradual and maybe release rules in 4.x but only recommend them in 5.x.

[2020-06-22 10:53] Belco90 commented on #186
Mmm I wasn't thinking about releasing new rules included in config presets as major. I see including rules in preset as a major only when they existed before, but not if they are gonna be completely new rules. Again, I don't know how we should address this.

[2020-06-22 11:08] nickmccurdy commented on #186
Both adding an existing rule and adding a new rule to a config change the config to make more use cases fail, which I see as a breaking change either way. So I think we'd either need to wait for these to be in v4 or have them in a future major release if we don't enable them in v4, but I was asking more about how we'd release the rules themselves and edit the configs.

[2020-06-22 12:19] thebinaryfelix commented on #62
Yes! The "container" I mentioned was a poor example name, sorry about that, but what I meant was a Node in general.

Basically we would have to:
- check whether a variable contains a Node and if somewhere else on the code any methods or properties that return another Node are being called by that same variable (and there are also the cases without variable declaration) or by the result of calling

[2020-06-22 13:27] gndelia commented on #162
I can take this one during the week if no one else is working on it.

I will probably come back with questions as I implement it😅

[2020-06-22 13:32] Belco90 commented on #162
Assigned to you then. Thanks :)

[2020-06-22 13:47] Belco90 commented on #62
@thebinaryfelix That sounds perfect, I've assigned it to you then.

In the original discussion we decided to:
- keep it simple and avoid adding any kind of rule config for now, so you don't need to worry the chained calls now and just check the first call
- only report those methods returning another node(s), like childNodes or firstChild. You can find more info in [MDN - Node section](https://dev

[2020-06-22 14:03] thebinaryfelix commented on #62
@Belco90 great, thanks!

I think it's all well explained now and these two details will definitely simplify the approach. If I have any questions after starting the implementation I'll let you know.

[2020-06-22 18:33] renatoagds commented on #134
Just to update! I'm finishing #133 this week and will start work on this one 🚀

[2020-06-22 19:07] Belco90 commented on #134
Awesome, thanks for your help 💪

[2020-06-23 18:47] nickmccurdy opened #187 "Autogenerate configs from rule files"
See extended discussion in #182

[2020-06-23 19:29] kentcdodds opened #188 "prefer-screen-queries: Don't warn if using the baseElement option"
This should be acceptable (from the React Testing Library tests):

[code]

[2020-06-24 09:34] Belco90 commented on #188
So the use case is basically several renders within same test right? Just trying to find a pattern to apply to the rule.

[2020-06-24 10:32] timdeschryver commented on #188
I think we should take `baseElement` into account in some of the rules and disable them? (mostly the rules that are working with `screen`).

[2020-06-24 23:51] gndelia commented on #162
I was thinking that the dev could configure the methods that they want to allow as an array of strings, and eslint would allow using those methods from both apis(`userEvent` or `fireEvent`).

What are your thoughts?

[2020-06-25 06:22] timdeschryver commented on #162
I may have misunderstood you, but would this mean the user should add all the events they want to use?
For example `['keydown', 'click', 'type']` ?

If that's the case, I don't think that will work because there are overlapping events, e.g. `click`.

[2020-06-25 12:04] gndelia commented on #162
My idea was that, by default, I will map some methods from `fireEvent` to methods in `userEvent`. For those, the rule will recommend to use the ones in `userEvent`. For those that don't have an equivalent (yet), the rule will do nothing.

Now, in addition to disabling the rule inline, I was thinking the user could register methods from `fireEvent` in the configuration as `allowedMethods` - that wa

[2020-06-25 12:10] timdeschryver commented on #162
Aaah, got it 👍
That looks good to me @gndelia

[2020-06-25 23:02] gndelia commented on #162
I think the key point of this PR is how we map methods from `fireEvent` to `userEvent`

This is my first draft. I'm posting it so I can gather feedback about it while I continue developing the whole rule.

[code]

Thoughts?
On a side note, I added the events `blur` and `focus` from user-event because there are implementations for both (see [blur](https://github.com/testing-library/user-event/blob/

[2020-06-26 02:47] nickmccurdy commented on #162
I believe `tab` relates to `focus` and `blur`. I'm not sure if we're adding them as separate functions though.

The content of this looks okay to me, but I feel like we could use a more flexible data structure. There's a bit of repetition here where events has the same or very similar dependencies. Perhaps we could use a Map with some arrays of multiple events as keys, or a more normalized data st

[2020-06-26 20:47] gndelia commented on #162
The thing about extracting common arrays into variables is naming - I am not sure how to name them, while being next to the method they override makes it easier to spot where do they belong to.  I was hoping the TS compiler to compensate for the lack of normalization, and I think this way it's more readable than combining different atomic sub-arrays

The userEvent methods are typed like this

[cod

[2020-06-27 20:45] gndelia commented on #162
Thoughts on the error message?

Given we can map the possible events, my first thought was to construct the error message with the possible values to use.

For instance

I think that one looks nice. However, for cases with multiple options, it'd look like this

Thoughts?

[2020-06-28 15:36] nickmccurdy commented on #162
Good point about the keys. I guess we could still abstract variables to make the values easier to read. Also if TypeScript widens the array type to something like `string[]` and you don't want that, you can use `as const` to force the value's type to be used without widening.

[2020-06-29 21:58] kentcdodds commented on #122
I'm seeing this as well. Also `prefer-screen-queries` is firing on `cy.findByRole`... etc.

[2020-06-30 07:29] Belco90 commented on #122
Yes, still pending to fix `await-async-query`.

About `prefer-screen-queries` one, that's new I think. There is [this workaround](https://github.com/testing-library/eslint-plugin-testing-library/issues/120#issuecomment-622345740) for another cypress related issue that might work in the meantime.

I hope I can find some time soon to fix those, specially the `await-async-query` one which is one of t

[2020-06-30 08:35] #133 closed

[2020-07-01 16:54] nickmccurdy commented on #186
Maybe we should make suggestions about new features warn rather than error to make it easier for users to migrate (relevant discussions: https://github.com/testing-library/eslint-plugin-testing-library/pull/192#issuecomment-652529480 https://github.com/facebook/create-react-app/pull/8963#issuecomment-652398748).

[2020-07-02 07:33] Belco90 commented on #186
I guess the candidates for that would be:
- prefer-user-event
- no-side-effects-wait-for (when implemented)
- no-multiple-assertions-wait-for

Any other rule I'm missing?

[2020-07-02 14:13] renatoagds commented on #186
@Belco90 Maybe `no-container` too? Looks like something good to have as default in `CRA`.

[2020-07-03 16:02] Belco90 commented on #186
We don't really need to worry about if a rule should be enabled for CRA or not, as CRA will enable them manually. In our shareable configs is more about "should we enable a rule as error for a brand new Testing Library feature"? Probably better a warning for them as @nickmccurdy pointed so we can help users migrating their Testing Library framework codebase for future updates without harming them.

[2020-07-03 16:09] Belco90 commented on #186
Something else I would like to discuss: I'm close to finish `render-result-naming-convention` rule and I had to use again the rule option for custom render functions. I'm gonna leave it like that, but it's the 3rd or 4th time we need to do this, so I think we should use v4 to introduce the breaking change to move that to ESLint global config.

I have some ideas about how to implement it, I don't t

[2020-07-03 16:15] gndelia commented on #186
I think it'd be really useful to have that generic configuration/functionality for the v4.

Either way, I think it's not a breaking change, but rather an opt-in, so in case we finish everything else but this, the worst case we can go out with v4 without it, if we can't delay it.

but I would love to have it as part of this release, and I think it will be very helpful for all those who use a custom

[2020-07-03 17:02] thebinaryfelix commented on #186
I think it would be useful too. Would also avoid repetitions by the user in the rules configs.

I think if we remove the config option from each rule to read it just from a global config, the user would have to rewrite their configs. That's what makes it a breaking change, right?

[2020-07-03 17:05] Belco90 commented on #186
Exactly, this is why it would be a breaking change

[2020-07-03 17:20] gndelia commented on #186
I See. The rules I've worked with did not have that config, so I wasn't sure it was implemented and released in any. In that case, yeah, we should consider it as part of the v4, or we will have to release the v5 really soon

[2020-07-05 22:07] SimenB opened #193 "Include `eslint@7` in peer dependency range"
https://github.com/testing-library/eslint-plugin-testing-library/blob/f9f499b38209df0cf42fabcbcaafed1fe15f31a7/package.json#L69-L71

[2020-07-06 02:47] nickmccurdy commented on #193
This seems to be a duplicate of #138 and it will be fixed by #139. Mind if I close this?

[2020-07-06 07:57] #193 closed

[2020-07-06 08:00] Belco90 commented on #138
I still think we should merge this one. All the tests are passing for ESLint 5, 6 and 7. We are not affected by breaking changes from v7. It doesn't seem the dependencies not upgraded to v7 yet are breaking anything in our side.

[2020-07-06 09:46] SimenB commented on #193
Ah, didn't find that somehow when searching 👍

[2020-07-06 10:14] nickmccurdy commented on #138
Can they be installed with yarn though? If I remember correctly, yarn errors on peer dependency warnings by default. Even if a dependency of this package works, if it doesn't say it works with ESLint 7 and that's the only pinned version, the entire installation would fail.

[2020-07-06 10:19] Belco90 commented on #138
First notice I have about it. I need to check that behavior when installing with yarn.

[2020-07-08 03:00] renatoagds commented on #186
Guys, looking at the v4 milestone, I would suggest something more. It's not required for v4 release, but probably we could start to ship it in v4 branch.

We could start to map fixable actions for the current rules that we support. We have a few ones that implements, but I think that's a path to improve.

What do you guys think about it?

[2020-07-08 03:37] nickmccurdy commented on #186
Any specific suggestions?

[2020-07-11 09:14] Belco90 commented on #186
Sounds good. I think we can do this even after v4 release. It seems it can be related to that mechanism @nickmccurdy wanted to add to autogenerate the shareable configs columns?

[2020-07-11 09:47] nickmccurdy commented on #186
I thought @renatoagds was referring to adding fix support. If the readme is up to date, only three rules are fixable so far.

[2020-07-11 10:27] Belco90 commented on #186
Ah sorry, I understood something else. Add fix code to current rules can be done at any time actually.

I'm sorry I'm not really active lately. I'm swamped at work and dealing with some other personal projects. I hope I have some spare time next week to push v4 of the plugin!

[2020-07-11 21:18] gndelia commented on #167
I'm taking this one

[2020-07-14 03:46] renatoagds commented on #186
Yes! The point was about mapping this in some place, and a few rules that is included only in v4.

Which is the best place to map ? A new issue ?

[2020-07-15 12:18] Belco90 commented on #186
@renatoagds yeah, I think a new issue would be better so we can organize corresponding work there. Thanks!

[2020-07-15 12:20] Belco90 commented on #62
This will be released together with v4

[2020-07-15 12:20] #62 closed

[2020-07-20 10:29] #162 closed

[2020-07-20 11:05] #167 closed

[2020-07-20 11:10] Belco90 commented on #167
:tada: This issue has been resolved in version 3.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-20 11:10] Belco90 commented on #145
:tada: This issue has been resolved in version 3.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-20 16:24] thomlom commented on #122
As of today, there are two rules that have similar implementations:

- [await-async-query](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/await-async-query.md)
- [await-async-utils](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/await-async-utils.md)

#137 seems to have fixed `await-async-utils` but didn't include th

[2020-07-20 16:37] Belco90 opened #198 "Move rules settings to ESLint shared config"
As discussed in different issues and PRs, we need to find a better approach for giving the user the possibility to define which custom render methods they use for Testing Library, or which custom modules they are importing render method.

This change will imply some breaking changes, so v4 would be the perfect opportunity to address this.

The idea is to move specific rules options duplicated acro

[2020-07-20 16:39] Belco90 commented on #186
I've created a new issue for discussing and addressing the ESLint shared config feature #198

[2020-07-20 16:41] Belco90 commented on #122
1. We could achieve that in next v4 as is still pending.
2. We have now a module for common functionality named `node-utils.ts`. We can move there that shared code.

I'd prefer go for 2 to leave those 2 rules separated for now.

[2020-07-20 17:11] thomlom commented on #141
I'm not sure that's a bug. @HaveSpacesuit, have you tried setting up the `renderFunctions` option when configuring the `no-debug` rule?

You can do it this way:

[code]

If the `getByText` query is caught by the linter in the `renderLoader` example, it's probably because of the `prefer-screen-queries` rule.

[2020-07-20 17:25] thomlom commented on #188
If I get it right, we need to make it so `prefer-screen-queries` doesn't fire if the `render` function has set the `container` or `baseElement` option. Is that correct?

[2020-07-20 17:28] thomlom commented on #122
Option 2 sounds good to me. I'll work on it in the next few days 👍

[2020-07-20 18:14] kentcdodds commented on #188
That is correct

[2020-07-20 18:15] gndelia commented on #188
I **think** I can take this one if no one else is taking it

[2020-07-20 18:18] kentcdodds commented on #188
Sounds awesome 🤘

[2020-07-20 21:30] benmonro opened #199 "New Rule: dont-use-query-selector"
Would be nice to have a rule that can warn if someone uses something other than RTL to make a query (querySelector, getElementById, etc)

[2020-07-20 21:33] Belco90 commented on #199
I guess you mean this one https://github.com/testing-library/eslint-plugin-testing-library/pull/190 which is planned for v4.

[2020-07-20 21:33] gndelia commented on #199
I think #177 solved that... but on second thoughts, I'm not sure is obvious from the name.

[2020-07-20 21:34] benmonro commented on #199
ah yeah ok we can close this.  apologies.

[2020-07-20 21:34] #199 closed

[2020-07-20 21:40] gndelia commented on #198
I think it pretty much sums up.
We should probably consider this in the tests of all rules

[2020-07-21 19:00] Belco90 commented on #198
It sounds like a good idea. Also those two utils mentioned should have a nice bunch of unit tests. Our utils don't have tests so it's a good opportunity to start with some.

[2020-07-23 07:07] Belco90 commented on #198
I'm gonna start working on it as I finished the rule I was implementing.

[2020-07-23 18:16] HaveSpacesuit commented on #141
The `"testing-library/no-debug": ["error", { "renderFunctions": ["renderLoader"] }]` rule doesn't seem to make any difference. The `getByText` is caught with the prefer-screen-queries rule whether or not it is destructured directly from `render` or from a function returning `RenderResult`, but the no-debug rule is not caught.

[2020-07-26 19:05] gndelia commented on #198
let me know if you need help, I just created a PR and I'm open to taking more tasks; otherwise, I'll grab v3 issues 😅

[2020-07-27 03:00] renatoagds commented on #198
I'm open to help too if you need something 😊

[2020-07-27 03:04] renatoagds opened #202 "Support eslint fix command in fixable rules"
As suggested in #186 we could start to allow fix for rules that's possible to do that.

Rules that we could implement fix:

- [x] `await-async-query` -> #1077
- [x] `no-await-sync-query` -> #1079

**I'm working to map more rules that's open for that**

[2020-07-27 09:46] #170 closed

[2020-07-27 09:48] Belco90 commented on #186
Almost there! I hope we can release v4 soon 🤞

[2020-07-27 10:40] Belco90 commented on #141
Everything related to custom error render methods will change and should be fixed when #198 is released with v4.

[2020-07-27 10:42] Belco90 commented on #198
@gndelia @renatoagds thanks guys! I think I need to work on changing the config by myself. Then, I'll update rules currently using the renderFunction option to use the new mechanism. So at that point, I think you can help me applying the same mechanism to the remaining rules. I'll let you know when I achieve stuff needed for it.

[2020-07-27 10:46] Belco90 commented on #202
Are we sure we can implement the fix code for those with ease? They seem quite complex or even ambiguous. How do you plan to fix both of them?

I was thinking about adding fix code for some other rules that are more simple than those, like `await-async-query`, `await-async-utils`, `await-fire-event`or `no-await-sync-query`.

[2020-07-27 14:52] renatoagds commented on #202
- In `no-side-effects-wait-for` I was thinking about moving only side effects before `waitFor`, since they probably do some action that's expected in `waitFor`
- In `no-multiple-assertions-wait-for` I was thinking about keep the first `expect` and move the others after `waitFor`.

Makes sense?

Good, will add them in the current list here

[2020-07-27 16:01] Belco90 commented on #202
Those fix strategies sound fine! Let us know if you find any edge case when implementing any of them.

[2020-07-27 22:51] gndelia opened #203 "refactor node-utils type guards to use the AST_NODE_TYPES enum"
I found this `enum` which contains all the types we've been hardcoding in the type guards in [node-utils.ts](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/lib/node-utils.ts)

![image](https://user-images.githubusercontent.com/352474/88486752-56e1d800-cf56-11ea-8dfa-7a7e66571419.png)

The import for that enum

[code]

We should replace all the hardcoded values in each

[2020-07-28 09:50] #134 closed

[2020-07-29 19:16] #188 closed

[2020-07-29 19:22] Belco90 commented on #188
:tada: This issue has been resolved in version 3.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-03 14:24] codecog commented on #203
@gndelia will take on this issue

[2020-08-03 14:52] codecog commented on #203
https://github.com/testing-library/eslint-plugin-testing-library/pull/205

[2020-08-03 16:29] #203 closed

[2020-08-04 02:35] benmonro opened #207 "feature request: new rule; no-render-in-setup"
imo, it would be nice to have a rule that doesn't allow the usage of `render` in setup functions (before, beforeEach, etc)

Would also be nice to have the ability to configure custom render functions, we have one for renderWithContext for example.

I've seen people do code like this:

[code]

imo this should just be a single test.  why render it N times when nothing is changing in the render?

[2020-08-04 07:20] Belco90 commented on #207
Thanks for your idea @benmonro. Are you interested in implementing this one yourself?

Ability to support custom render functions will be added globally on version 4: #198

[2020-08-04 11:05] benmonro commented on #207
Possibly. I've been quite busy lately not sure when I can get to it. I'd someone else wants it that'd be awesome

[2020-08-04 13:23] alessbell commented on #207
👋 I'm interested in picking this up. Ok if I assign myself @Belco90 ?

[2020-08-04 13:24] Belco90 commented on #207
@alessbell Sure! That'd be amazing, thanks ✨

[2020-08-05 12:27] gndelia opened #210 "Check formatting and eslint in CI + review pre-commit hook"
There have been a few PRs that had style modifications in files or Readme examples of code that were no actual changes as part of the PR that was being opened.

We are not enforcing our defined styling enough (I think it's only run in a `pre-commit` hook) which can be skipped. This ticket is to

- [ ] Review the pre-commit hook to ensure it is actually working, and (except for manual skip by the d

[2020-08-05 17:00] #122 closed

[2020-08-05 17:05] Belco90 commented on #122
:tada: This issue has been resolved in version 3.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-05 17:05] Belco90 commented on #203
:tada: This issue has been resolved in version 3.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-05 17:10] Belco90 commented on #210
I can see already an issue: `.lintstagedrc` is trying to format `.js` files, which we forgot to update to include `.ts` files when we moved the plugin to TS!

Another issue we might have: pre-commit hook in `.huskyrc` is running tests and them lintstage command. This caused me issues in the past as was losing the modified files context after the 1st command was called. Instead, the corresponding c

[2020-08-05 17:17] Belco90 commented on #210
Note that I'm not reusing any of our scripts from `package.json`. This is on purpose. [lint-staged allow to run your custom npm scripts](https://github.com/okonet/lint-staged#reuse-npm-script) but you need to pass that final `--` so the script can receive the list of modified files. I prefer to stick to hardcoded eslint, prettier and jest commands as I had problems too by forgetting those final da

[2020-08-05 17:42] gndelia commented on #210
what about updating the lint-staged version? It's a dev dependency. Or is it anything that might block us?

[2020-08-05 17:46] Belco90 commented on #210
Updating both husky and lint-staged would be great actually!

[2020-08-05 17:47] gndelia commented on #210
ok I think I can probably check it in the incoming days. I'm taking it

[2020-08-06 13:29] Belco90 commented on #198
Hey guys. Sorry I haven't been active with this one, but I realized about something couple of days ago which I think implies more work than expected.

There are more things affected here. Basically, everything could be imported from a custom module! [That's actually what Testing Library docs suggests](https://testing-library.com/docs/react-testing-library/setup#custom-render): reexporting everythi

[2020-08-10 07:40] #207 closed

[2020-08-10 07:46] Belco90 commented on #207
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-13 21:43] BridgeAR commented on #138
Installing with yarn works properly as well.

[2020-08-14 20:05] SBoudrias opened #214 "FR Rule: Prevent snapshot inside wait"
I wonder if there'd be a way to make sure there's no snapshot done inside wait conditions.

Example invalid usage:

[code]

Valid:
[code]

This is between jest and and testing-library, but the depreciated `wait()` functions allow tests like this to be written and lead to flakey cases.

[2020-08-14 21:39] gndelia commented on #198
sorry for the delay in the response! It has been a couple of rough days 😅

I am not sure if alias are a problem in the import - when analyzing the AST you can still match them by the original name and then pick up the alias. From there you'd use that. I think some rules solve it in that way

I agree on all of what you say; my only doubt is about `userEvent` because it's a separated install from RT

[2020-08-15 19:24] Belco90 commented on #198
Well, maybe we can add a 3rd optional arg to `getTestingLibraryUtilImport` so it would be flexible enough to check if imported from custom module defined in shared ESLint settings or from `user-event` module. Something like:

[code]

If we go for this option, I'd move this to an object arg to avoid having 3 args.

[2020-08-15 19:25] Belco90 commented on #210
I've seen the current repo has lot of ESLint errors, so maybe we can do this over v4 to do this over next changes?

[2020-08-15 22:10] gndelia commented on #210
Do you mean to apply the changes directly on v4? Sure I can do that.

[2020-08-16 15:41] Belco90 commented on #198
@gndelia @timdeschryver @thomlom I'm finding more issues/questions while developing this. I've created a simple draft with couple of functions and their expected usage, so you can see what are my intentions and the problems I found: https://github.com/testing-library/eslint-plugin-testing-library/pull/217

I'm gonna comment my code there.

[2020-08-17 08:44] Belco90 commented on #214
Hey Simon, sorry for the late response!

This sounds like an interesting rule, but I don't see the problem 100% clear. Could you elaborate more around the issues this can cause please? Thanks.

[2020-08-17 08:56] #210 closed

[2020-08-18 01:18] SBoudrias commented on #214
Yes of course!

The problem is that `wait()` runs in a timer loop. So it'll retry every n amount of time.

If there's a snapshot inside the wait condition, jest will generate one snapshot per loop.

The problem then is the amount of loop ran until the condition is met will vary between different computers (or CI machines.) This leads to tests that will regenerate a lot of snapshots until the condi

[2020-08-18 07:53] Belco90 commented on #214
I see. Yeah, didn't think about the auto update. This can definitely be a nice rule, something like `no-wait-snapshot`. Are you interested into give it a try?

[2020-08-19 17:38] skovy opened #218 "Enforce consistent assertions"
The [`prefer-explicit-assert`](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/prefer-explicit-assert.md) rule enforces an explicit assertion but allows a large number of possible assertions. For example:

[code]

Functionally, these are all the same (since `getBy*` throws) but in a large codebase, it's possible these can all be used interchangeably. It woul

[2020-08-19 17:50] benmonro opened #219 "feature request: no-await-fire-event"
We accidentally enabled await-fire-event in our react project and discovered that awaiting fireEvent can actually cause tests to be slow and flaky as a result (removing the await fixes it). so was thinking that an opposite rule or even a config option to the await-fire-event to work in opposite mode would be useful

[2020-08-20 07:12] Belco90 commented on #218
Hello Spencer! Thanks for your suggestions, this is a really good idea actually.

When I originally implemented `prefer-explicit-assert` I wanted to allow different assertions checking truthy. You made a good point about adding the possibility to customize which of those assertions is considered a valid explicit one, which ideally always should be `toBeInTheDocument`.

I'm happy to add config opti

[2020-08-20 07:16] Belco90 commented on #219
I guess this could be wrapped into a `no-await-sync-utils` to do the opposite than `await-async-utils`. I don't know if there are any other sync util than `fireEvent` that could be included there, but with this approach we can include any new sync util here. What do you think?

[2020-08-20 10:58] benmonro commented on #219
Works for me. My only thought would be that you wouldn't want the rules to conflict with each other for vue users but I'm not a cute user so that's not going to affect me. 🙂

[2020-08-20 14:06] Belco90 commented on #219
I haven't thought about that conflict. Maybe we need to create this rule with a config options for disabling specific methods to be check so Vue users can enable this rule but disabling `fireEvent`.

[2020-08-20 14:08] benmonro commented on #219
That would work.

[2020-08-24 00:46] CreativeTechGuy opened #222 "[await-async-query] Support custom queries and wrappers"
As documented [here](https://testing-library.com/docs/react-testing-library/setup#add-custom-queries), you can create custom queries which extend the functionality of the basic query types. The rules of the eslint plugin should apply the same rules to these custom queries as they also apply.

I've identified the two lines that are the root cause of this issue:

* [This line](https://github.com/tes

[2020-08-24 03:20] CreativeTechGuy commented on #222
Found a few more occurrences of this issue:

* [no-await-sync-query](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/lib/rules/no-await-sync-query.ts#L8)
* [import sources](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/lib/utils.ts#L16-L23) affect many other (maybe all) rules so this should probably be a top level option.
* [no-manual-cle

[2020-08-24 09:50] Belco90 commented on #222
Hey @CreativeTechGuy, excellent analysis!

Indeed, we should include custom queries to be reported under certain rules. It would be nice to go for your option one, but from previous experience it's too much guessing. How would you know it's a custom query? Just because it starts by `getBy`, `queryBy` or `findBy`? Technically the user could add something custom starting by that which is not a query

[2020-08-24 18:42] skovy commented on #218
@Belco90 thanks for the quick feedback and review!

I'm not realizing I entirely forgot about a valid set of use cases to _not_ use `toBeInTheDocument`, for example:

[code]

The quickest solution I can think of is to create a list of "truthy" or "existence" matchers (`toBeDefined`, `toBeTruthy`, `not.toBeNull`) and only lint if one of those is used instead of the defined `assertion`.

Do you have

[2020-08-25 04:26] CreativeTechGuy commented on #222
My opinion is that if the user is writing their own custom queries or wrapping and re-exporting the library, they've opted themselves into "advanced mode" which should be expected to come with additional configuration. Sure it'd be nice for the plugin to magically work, but I'd rather have to configure a few extra things than dig through the plugin's source code for several hours to find how to up

[2020-08-27 14:21] Belco90 commented on #218
I'm not sure if I'm following. You mean to consider `.not.toBeInTheDocument` valid too?

[2020-08-27 14:27] Belco90 commented on #222
Fair enough, really interesting point of view. I like the idea about the plugin should be aggressive to avoid opting-out some rule by doing an advanced configuration. I need to think about it and repurpose v4 if we decide to go in this direction, as v4 was planned to go in the opposite way: just check whatever is imported from testing library by default.

Sorry for involving you in all this v4 thi

[2020-08-27 14:35] Belco90 commented on #198
I love this comment from @CreativeTechGuy: https://github.com/testing-library/eslint-plugin-testing-library/issues/222#issuecomment-679592434

I think this is the right way of checking Testing Library stuff on v4: rather than trying to scope rules to directly imported Testing Library utils by default, the plugin should be really aggressive and report everything matching Testing Library names by de

[2020-08-27 15:48] skovy commented on #218
Sorry, I didn't explain it very well. With the way this was implemented, any `getBy*` query will trigger a linting error if it's not using `toBeInTheDocument` (assuming the config defined the `assertion` to use as `toBeInTheDocument`). However, there are still valid cases to use a different assertion. For example, if you want to check if a button is disabled (`toBeDisabled`) or maybe check if an a

[2020-08-27 21:57] gndelia commented on #178
I'm taking this for the incoming days

[2020-08-29 16:25] Belco90 commented on #218
Ok got it now. Didn't think about this either! I think just check configured valid assertion through options against the current list of "truthy" matchers is the best option. Everything else seems too brittle.

I think with this approach, the rule should throw an error if config assertion is not one of the options from that truthy list. Otherwise users could opt-out this rule without knowing.

[2020-08-31 08:46] #214 closed

[2020-08-31 08:51] Belco90 commented on #214
:tada: This issue has been resolved in version 3.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-08 09:47] Mikeysauce opened #227 "[await-async-utils] false positive promise all"
Hello,

Take the following example:

[code]

This is flagged up as an error: "Promise returned from `waitFor` must be handled", which I believe is a false positive, as the Promise is indeed being handled by the Promise.all.

Thanks

[2020-09-08 12:50] gndelia commented on #227
Hi Mikey!
If you are waiting for of those two to appear, perhaps you could consider `findByText` as an alternative

[code]

As of the code itself, yeah it sounds like a bug

Thanks for opening the ticket!

[2020-09-08 15:52] Mikeysauce commented on #227
Thanks gndelia,

I'm in agreement with you regarding findBy being more suitable here with it having a built in waitFor behaviour, but some colleagues find the intent of waitFor to be more explicit and so here we are unfortunately. I appreciate the quick reply!

[2020-09-11 01:50] gndelia commented on #198
Sorry for the _very long_ delay. 😅
I read that ticket and I like the idea of the aggressiveness, as long as we support the full configuration to set the custom imports. Otherwise,we just get false positives and we also get users that would have to patch the code because of that.

Other than that, it would mean just changing the "Default behaviour" from what we've defined as the approach to take; i

[2020-09-13 17:31] Belco90 commented on #198
Exactly, it would mean just changing the default behavior from "report just Testing Library things" to "report everything matching Testing Library patterns". Then when user sets custom renders, queries or something else, we would switch to "report just Testing Library things + custom things".

[2020-09-19 19:31] Belco90 commented on #186
I just realized [@typescript-eslint/experimental-utils](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/experimental-utils#exports) exports an [ASTUtils module](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/experimental-utils/src/ast-utils) which already includes:
- utils to find predicates. We have rewritten some of them in the plugin like

[2020-09-19 21:52] MichaelDeBoey commented on #186
@Belco90 This means `eslint-utils` should become a direct dependency too
Unfortunately it's not ESLint 7 compatible (yet) 😢

[2020-09-20 15:40] #138 closed

[2020-09-20 15:47] Belco90 commented on #138
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/3.9.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rock

[2020-09-20 15:50] Belco90 commented on #193
This has been finally released in [v3.9.0](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.9.0) 🎉

[2020-10-12 18:12] #227 closed

[2020-10-12 18:21] Belco90 commented on #227
:tada: This issue has been resolved in version 3.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/3.9.1)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v3.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rock

[2020-10-19 15:53] Belco90 commented on #198
So as mechanism to make Testing Library rules seems close in #237 I've done an analysis over shared config we need and how they affect to all rules to be refactored. You can find info about [this analysis in this notion doc I wrote down](https://www.notion.so/eslint-plugin-testing-library-v4-a3c5ca8b4e8e484d9837b90f55d4020a)

I'll put this on corresponding GitHub issues or project, but first I nee

[2020-10-19 15:56] Belco90 commented on #186
Hey people! Just in case you haven't check #198 we are doing some progress finally on last task! Mechanism to make plugin rules and detect Testing Library utils is implemented so from there we can start refactoring rules. There are few more things to add to the Testing Library utils detection, but the difficult part is done already ✨

[2020-10-21 20:27] Belco90 commented on #222
@CreativeTechGuy Hi again! I just wanted to let you know that your explanation made me change my mind for v4 of the plugin so it's been refactored to be more aggressive + have more granular control over scope of the plugin. You can check this in [this PR for example](https://github.com/testing-library/eslint-plugin-testing-library/pull/239).

When the v4 is released, the original problems mentione

[2020-10-22 03:03] CreativeTechGuy commented on #222
@Belco90 I've been keeping up with your progress and I'm very excited. I've had to maintain a modified version of the library to support this for my codebase and I'll be excited to remove that when this is released.

I have zero experience with ESLint plugin development but do let me know if there's some way I can help or provide feedback. :)

[2020-10-22 16:46] benmonro opened #241 "prefer-screen-queries doesn't work with `within`"
ran into a false negative that I thought i'd share.  consider the following code:

[code]

these are being reported as invalid, but they are valid. can this be supported in the rule?

[2020-10-22 17:28] gndelia commented on #241
According to the [docs](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/prefer-screen-queries.md) these are valid and supported 🤔

I don't see an exact test matching this scenario, I will try to take a look in the incoming days

[2020-10-23 12:15] Belco90 commented on #222
Thanks for your help! I think I'm fine for now, but probably would nice if you could test the beta of v4 when released.

[2020-10-24 18:54] gndelia opened #242 "Update documentation to reflect setup when using the CRA version"
Now that this plugin is part of CRA after this PR https://github.com/facebook/create-react-app/pull/8963 we might want to add a mention to it in the docs. Currently, the docs state how to use this plugin standalone, but probably CRA is far popular to ignore it 😛 . Perhaps we could consider

- If I was already using the plugin, what should I do to use the version that comes from CRA?
- If I want to

[2020-10-24 22:08] gndelia commented on #241
Hey, @benmonro  I created this ☝️  PR with your scenario and, unless I'm missing something, it's passing. Maybe you need to upgrade to a newer version? Which version are you using of the plugin?

In addition to that, could you verify if the code is exactly that one, or if the rule that fails is this one or another? Thanks!

[2020-10-25 10:46] Belco90 commented on #242
Yeah, I have been thinking about it. I even checked other ESLint plugins already included in CRA and they don't mention anything, so not sure what to do.

I guess at least we can add a section within "Installation" to clarify which major version is included in CRA and since when.

[2020-10-25 17:30] gndelia commented on #242
yeah something simple should be enough, we don't have to go _that_ fancy 😄

[2020-10-26 02:43] renatoagds commented on #202
Sorry guys .. Have been out for a long time, but will return helping the project, starting for this issue 🤘

[2020-10-26 02:44] renatoagds commented on #202
Did we had some change into the scenario exposed here? cc/ @Belco90

[2020-10-26 08:07] Belco90 commented on #202
I don't think so, but these rules are gonna be refactor for v4 pretty soon. I don't know if it would be better to wait for v4 then? Not a major issue, but will cause conflicts on v4 of course.

[2020-10-26 12:57] renatoagds commented on #202
@Belco90 Makes sense!! That's something more that I could help? Maybe the rules refactor

[2020-10-26 15:01] Belco90 commented on #202
I guess we have two options:
- implement this fixable code within v4 itself, so we implement as much as we can while finishing the v4. Then, we continue with fixable code for remaining rules after v4 release
- put more effort on v4 rules refactor and after that we go back to this ticket

Ideally I'd prefer not stopping adding/fixing things in current v3, but all modifications necessary for this is

[2020-10-28 17:25] Belco90 commented on #198
Description updated to reflect all necessary changes we finally need and be able to track which things are done and which rules are already refactored (I'll include this last bit later).

[2020-10-30 08:54] sshmyg opened #246 "No errors or warnings when use render wrapper"
Hello, if I use wrapper for render, eslint not shows any warnings (errors).

With wrapper
![image](https://user-images.githubusercontent.com/1410608/97679433-ed65ee00-1a9d-11eb-823c-caed57633e75.png)

Without wrapper
![image](https://user-images.githubusercontent.com/1410608/97679614-28682180-1a9e-11eb-877d-4afa18ef1e50.png)

[2020-10-30 09:02] Belco90 commented on #246
Hi @sshmyg. Indeed, current version of the plugin is not detecting `render` wrappers properly, causing false negatives or opted-out rules.

However, this is been addressed properly on v4, which we are working at the moment. To handle this case properly we need to refactor and improve how the plugin works internally, and that's what we are doing in that next major version.

If you want to stay up t

[2020-10-30 09:09] sshmyg commented on #246
@Belco90  Thank you for the quick replay. 🤝
Will wait for v4.

[2020-11-03 16:01] gndelia commented on #198
We should probably update the `contributing` section to reflect that the test cases now should be more "realistic" (with imports) because now we'll be checking that in all rules. It would be more verbose, but better than having plain statements floating around 😄

[2020-11-03 16:03] Belco90 commented on #198
@gndelia yeah, and probably would be a good idea to mention there the intended usage of custom rule creator + detection helpers. I'll add one task to the Extra section for this.

[2020-11-03 16:53] ljosberinn opened #250 "[no-await-sync-events] invalid exception"
It's mentioned [here](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/lib/rules/no-await-sync-events.ts#L27):
[code]
but `userEvent.type` is [`async` in any case](https://github.com/testing-library/user-event/blob/master/src/type.js#L62) so it always must be awaited:

![image](https://user-images.githubusercontent.com/29307652/98015052-ac9f0980-1dfc-11eb-8848-6203f3a3e

[2020-11-03 16:57] Belco90 commented on #250
Hi there! We implemented this exception based on [`testing-library/user-event` docs for `type` method](https://github.com/testing-library/user-event#typeelement-text-options):

I think we can improve the rule docs to clarify this exception, including the proper reference to testing-library/user-event` docs.

[2020-11-03 17:03] gndelia commented on #250
`userEvent.type` always returns a promise, but unless using `delay` option, it is always resolved. I guess they did so to be consistent with the response and always return a `Promise` so it wasn't confusing in js in which some scenarios would return a promise, and some others wouldn't.

In TS that wouldn't be a problem because you could type when (And when not) return a Promise for example. But gi

[2020-11-03 17:26] ljosberinn commented on #250
Guess I got kinda led astray here that we don't actually care about the return value of `userEvent.type` since we only await it, only then the returned although fulfilled promise would actually matter since it's simply different.

Technically, `userEvent.type` shouldn't always be async, but conditionally return a promise, leading to `Promise<void> | void`.

[2020-11-03 17:37] gndelia commented on #250
yeah I agree. My guess would be that they did it that way to be consistent and not having js users guessing when it is a promise and when it isn't, but I don't know. I also opened today a ticket about improving this in userEvent from the typings POV https://github.com/testing-library/user-event/issues/480

[2020-11-03 18:02] ljosberinn commented on #250
Closing this in favor of the mentioned issue then :)

[2020-11-03 18:02] #250 closed

[2020-11-07 23:11] gndelia opened #253 "Drop some custom type guards in favor of ASTUtils"
As seen in some PRs created by @Belco90 , there's a utility `ASTUtils` in ` '@typescript-eslint/experimental-utils'` which can replace some, but not all, of the type guards we have in our [node-utils.ts file](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/lib/node-utils.ts)

This ticket is to review which type guards (`isIdentifier`, `isVariableDeclarator`, etc) are r

[2020-11-08 18:52] Belco90 commented on #253
Ideally, this should be done on v4 so we get rid of it everywhere 😅

[2020-11-17 08:18] thomlom commented on #253
Is someone already working on it? I haven't contributed to the codebase for a while and I'd like to get familiar with it again. I think that issue may be the best to start with 🙂

[2020-11-19 20:53] benmonro opened #258 "improvements to prefer-find-by"
it'd be nice to have the `prefer-find-by` rule report on this:
[code]

and potentially have it autofix to

[code]

[2020-11-19 21:58] Belco90 commented on #258
Hi @benmonro. It would be a nice addition, indeed. We are in the middle of v4 implementation so we would appreciate if you give this improvement a try.

Also, we have been waiting for a month for your reply in #241, do you think you could check that? Thanks.

[2020-11-19 22:15] #241 closed

[2020-11-19 22:15] benmonro commented on #241
yeah doesn't seem to be an issue anymore, if it pops up again i'll reopen

[2020-11-23 18:14] kentcdodds opened #259 "add no-unnecessary-act rule"
We should warn against the use of `act` unnecessarily:

[code]

So basically the rule is: "You should only wrap non-testing-library function calls in `act`"

Reading material: https://kcd.im/react-act

[2020-11-23 18:27] Belco90 commented on #259
Hi @kentcdodds, thanks for the proposal! This would be tricky to implement on current v3 where we have some issues to detect testing-library related things. However, we got a new detection mechanism on v4 (still in progress) which will be perfect for implementing this one. I think we will include it in a possible v4.1 or maybe within v4 depending on how we are progressing with last bits of v4.

If

[2020-11-24 15:44] Belco90 commented on #259
Hi again @kentcdodds. In the [twitter thread were you explained this behavior](https://twitter.com/kentcdodds/status/1330937801093697538?s=21) you mentioned that "warning would go away just as well if you added `await act(async () => {})` on the next line" so I guess that would be another invalid case, wouldn't be?

[2020-11-24 17:25] kentcdodds commented on #259
Yes! An empty `act(() => {})` or `await act(async () => {})` should also be invalid 👍

[2020-11-26 21:10] gndelia opened #261 "prefer-user-event should consider the use case where fireEvent is used as a function"
In addition to the method events like `fireEvent.click`, it is also possible to create custom events objects and use `fireEvent` as a function, as [the documentation for fireEvent shows](https://testing-library.com/docs/dom-testing-library/api-events/#createeventeventname)

[code]

The rule should recommend to use `userEvent.click()`

the rule should consider this form too

**Note**: This rule has

[2020-11-27 12:08] tom-sherman opened #262 "New rule: Disallow queryBy* queries?"
The "[Which query should I use](https://testing-library.com/docs/guide-which-query/)" doc doesn't mention them and I seem to remember @kentcdodds mentioning that queryBy* queries ideally wouldn't be in the library and are only there for backwards compatibility reasons.

[2020-11-27 12:19] Belco90 commented on #262
Hello @tom-sherman. First time I heard about queryBy* being deprecated. It's used for [asserting elements disappearsnce](https://testing-library.com/docs/guide-disappearance/#asserting-elements-are-not-present) so I would need corresponding resource for going ahead with this rule.

[2020-11-27 12:44] tom-sherman commented on #262
Definitely not a deprecation from what I've heard, just a recommendation against - and I'd like to be able to enforce this recommendation with a lint rule.

getBy* queries can be used for this too right?

[code]

It's not as ergonomic though - my general use case is to have a banlist of queries. Such a feature would allow me to ban queryBy* calls while keeping this library unopinionated on the mat

[2020-11-27 12:48] Belco90 commented on #262
That use case is right but not ideal. The actual use case for queryBy is checking elements are not present. I think [this rule](https://github.com/testing-library/eslint-plugin-testing-library/blob/master/docs/rules/prefer-presence-queries.md) should help you to report getBy and queryBy used for intended presence assertion.

[2020-11-27 13:06] tom-sherman commented on #262
Yup, that's exactly what I'm looking for - thanks!

[2020-11-27 13:06] #262 closed

[2020-12-02 14:19] alessbell commented on #259
👋 I can pick this one up and branch off of v4 to get started if no one else has yet @Belco90

[2020-12-02 14:31] Belco90 commented on #259
@alessbell That would be awesome! I don't think anyone has started it yet. I'm busy migrating current rules to v4 (you can see progress on #198 ) so didn't have time to even think about this one.

We haven't updated the contributing guidelines yet for v4, but some guidance around it:
- there is a new detection mechanism on v4 which injects a 3rd argument to every rule `create` method. You can take

[2020-12-04 07:57] thomlom opened #264 "Combine multiple wait-for rules into one"
We have multiples rules related to the use of `waitFor` in the v4:
- [no-wait-for-snapshot](https://github.com/testing-library/eslint-plugin-testing-library/blob/v4/docs/rules/no-wait-for-snapshot.md)
- [no-wait-for-empty-callback](https://github.com/testing-library/eslint-plugin-testing-library/blob/v4/docs/rules/no-wait-for-empty-callback.md)
- [no-side-effects-wait-for](https://github.com/testi

[2020-12-04 08:47] Belco90 commented on #264
Hey @thomlom! I like the main idea explained here and I'm happy to have this discussion. However, there have been tons of changes already for v4, which is not even finished yet and has been around for a while, so I don't want to increase the list of breaking changes for it. Instead, I'd like to leave rules combinations and standardization for a future v5. I was already thinking about combining one

[2020-12-06 13:06] Belco90 commented on #259
Hey @alessbell just FYI: I've merged #263 into v4 branch, and I created #265 pointing to v4 too. The former shouldn't affect you directly, but the latter includes some refactors within `isNodeComingFromTestingLibrary`. It should work in the same way (even covering more edge cases), but just to let you know about it in case you were modifying that util too!

[2020-12-08 01:17] spaceninja opened #267 "Allow Promise.all for multiple fireEvent.update"
`await-fire-event` says the following code is invalid because `fireEvent.update` must be awaited

[code]

Is there a reason using `Promise.all` shouldn't be allowed?

[2020-12-08 07:56] Belco90 commented on #267
Hi @spaceninja. Thanks for notifying this. Indeed, Promise.all should be a valid way of handling promises returned by async fire event methods. This was fixes couple of days ago when refactoring the rule for v4, you can see in [this PR](https://github.com/testing-library/eslint-plugin-testing-library/pull/265/files) it covers that case now. On v4 e are making sure all async methods are reported ,

[2020-12-08 08:24] Belco90 commented on #261
This one must wait until v4 is released.

[2020-12-08 08:24] #253 closed

[2020-12-08 08:26] #219 closed

[2020-12-08 08:29] #143 closed

[2020-12-08 08:30] #142 closed

[2020-12-08 08:42] thomlom commented on #264
Yes, I agree it'll be a lot of changes for v4. I also think the async stuff could be mutualized with other rules.

I didn't know about the other use cases for `waitFor`. I always see it used combined with an assertion, so intuitively, I thought this was its only purpose. I suggest we put this issue on hold and come back to it later when v4 will be released.

[2020-12-08 17:34] spaceninja commented on #267
No problem, thank you for the update! I'll disable the rule for now and I'm looking forward to v4. :)

[2020-12-08 17:41] Belco90 commented on #267
@spaceninja looking forward to it too! By the way, since my main FE framework/UI library is React (where fire event is sync): how often do you use `Promise.all` + fire event methods? Are you using `Promise.all` for wrapping other Vue Testing Library promises? What about `Promise.allSettled`?

[2020-12-08 18:08] spaceninja commented on #267
I'm actually pretty new to testing in general. I'm using a side project to try to improve my skills. This was driven by me having those six `await` statements in a row and thinking "this is dumb, I don't need these to fire one at a time, I just need to know when they're all done." I looked at `Promise.allSettled` but I actually like the fact that `Promise.all` will break early if any of the promis

[2020-12-08 18:14] Belco90 commented on #267
I see. I'm sorry this plugin wasn't helpful in that particular case then.

Nothing really interesting from `Promise.allSettled` but it technically is another valid way of handling promises, so I included it on v4 too. Not really sure anyone will use it, but I think the plugin must consider it anyway. Thanks for your feedback!

[2020-12-09 08:18] #264 closed

[2020-12-09 14:48] thomaslombart opened #269 "Disallow the use of `queryBy*` queries for assertions"
I've seen people using `queryBy` as assertions in their tests:

[code]

This is not the right way to use it because the test won't fail whether the text is there or not.

Would it be possible to extend the `prefer-explicit-assert` rule in order to disallow the use of `queryBy` as assertions as well?

[2020-12-09 14:51] Belco90 commented on #269
I think it would make sense to be part of `prefer-explicit-assert`.

[2020-12-09 14:52] Belco90 commented on #269
This should be really easy to implement on v4, but it hasn't been refactored yet.

[2020-12-09 14:54] thomlom commented on #269
@Belco90 I'll refactor the rule and add the enhancement then 🙌

[2020-12-09 14:59] Belco90 commented on #269
That would be awesome. I'm gonna put that rule on WIP assigned to you on #198 then.

Please double check that issue as that rule has a side note to remove its option, which is not necessary anymore. You can check `prefer-presence-queries` or `await-async-query` to get an idea about how we are reporting the queries now. You'll see that:
- we have detection helpers to know if an identifier is a part

[2020-12-15 13:40] AriPerkkio opened #272 "prefer-wait-for: Cannot read property 'arguments' of null"
Hello, `prefer-wait-for` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. ESlint rules should not crash in any condition since this makes all valid linting problems disappear. If this is a false flag please let me know.

https://github.com/AriPerkkio/eslint-remote-tester/runs/1551964310?check_suite_focus=true

Complet

[2020-12-15 13:42] AriPerkkio opened #273 "no-manual-cleanup: Cannot read property 'match' of undefined"
Hello, `no-manual-cleanup` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything. ESlint rules should not crash in any condition since this makes all valid linting problems disappear. If this is a false flag please let me know.

 https://github.com/AriPerkkio/eslint-remote-tester/runs/1551964310?check_suite_focus=true

Comp

[2020-12-15 13:45] gndelia commented on #272
Hi AriPerkkio , thanks for posting. How would the test usage look like? Just a regular

[code]

?

I wouldn't recommend storing the queries in the global space. You can always import `screen` and use them from there. In addition to that, you might want to use `waitFor` instead of `waitForElement` as `waitForElement` is [deprecated](https://testing-library.com/docs/dom-testing-library/api-async/#wa

[2020-12-15 13:55] AriPerkkio commented on #272
I should have mentioned that the use case causing the crash might not be valid or recommended. I'm just testing stability of various community ESLint plugins and reporting the issues to plugin developers. This same issue could come up in completely valid case too.

This is also crashing:
[code]

[2020-12-15 14:30] Belco90 commented on #272
Hello Ari. Thanks for opening this issue. You are right: this scenario should cause any error. However, we are close to finish v4 of the plugin, which includes a huge refactor of all rules almost from the ground. I can confirm this case has been fixed on v4 as you can see here:
<img width="1322" alt="image" src="https://user-images.githubusercontent.com/2677072/102227878-5b4d6400-3eea-11eb-9d66-01

[2020-12-15 14:39] AriPerkkio commented on #272
Thanks for the verification @Belco90. Feel free to close this issue.

Once v4 is available in npm I'll include it to my weekly scheduled CI runs on [eslint-remote-tester](https://github.com/AriPerkkio/eslint-remote-tester).

[2020-12-15 14:40] Belco90 commented on #273
Hi again Ari! It's really useful you are finding those edge cases with `eslint-remote-tester` 😮

Same thing as the previous issue you created before: It's causing issues on v3 but solved on v4 since all rules are refactorred and unexpected code is handled much better:

<img width="1278" alt="CleanShot 2020-12-15 at 15 39 06@2x" src="https://user-images.githubusercontent.com/2677072/102229101-b0d64

[2020-12-15 14:45] Belco90 commented on #272
Awesome! I think I'm gonna leave it open as I did with other issues solved on v4 until it gets released.

[2020-12-17 15:53] AriPerkkio commented on #273
I couldn't just leave this without debugging further. 😄

Turns out other ESLint parser such as the default espree don't output AST for this code block. They detect it as syntax error: `Unexpected token function`. This is easily reproduced in https://astexplorer.net/.

There is an open issue at typescript-eslint related to this. https://github.com/typescript-eslint/typescript-eslint/issues/1852
The

[2020-12-18 08:25] Belco90 commented on #273
Whoa, interesting! I've suscribed to that typescript-eslint issue. And yes, making sure v4 works with typescript parser as well is a fantastic idea, I'll add it to my lost of things when all rules are rewritten. Thank you for your help! I'll write here if I find anything else about this.

[2020-12-26 12:51] thomlom commented on #269
I was about to implement that enhancement, and there's something that bugged me. The goal of this enhancement is to disallow this kind of statement:

[code]

It can happen if someone is mistaken about `getBy` and `queryBy` queries. But if something ever happens, what should we suggest to the user? Maybe he doesn't like explicit assertions and wants to use `screen.getByText` in the end.

Then, mayb

[2020-12-29 07:31] MatanBobi opened #275 "Move release flow from travis to github actions"
Following [this](https://github.com/testing-library/dom-testing-library/pull/809#issue-515554670) PR by @kentcdodds, we're migrating all travis pipelines to github actions :)

An example for the action can be seen [here](https://github.com/testing-library/dom-testing-library/blob/master/.github/workflows/validate.yml).

[2020-12-29 18:01] Belco90 commented on #275
Hello Matan! Indeed, we should do this asap. Thanks for pointing to an existing PR doing this migration 💯 . I'm not sure if I'll address this on default branch or future v4 since it's close to be released and the CI config was updated there.

[2020-12-29 18:14] Belco90 commented on #269
Mmm not sure to be honest, but definitely something to be handled combining `prefer-presence-queries` and `prefer-explicit-assert`.

I think we should just suggest in `prefer-explicit-assert` to wrap `screen.queryByText("My button")` within some assertion, no matter which one. Then, if that assertion is checking element is present (e.g. `expect(screen.queryByText("My button")
).toBeInTheDocument()