[2020-12-29 18:23] gndelia commented on #275
I'd suggest applying this change in the v4 directly, as just like you mentioned, there have been changes, and I guess if any changes arrive at master (lately all changes have been arriving at v4 directly), we could still use travis for those scenarios

[2020-12-30 22:05] gndelia commented on #269
I agree, each rule should take care of their own purpose (one about not using the query in isolation, the other about preferring one query over the other) and then if they want the combinated result, they should enable both. In that sense, we should probably  recommend both to be enabled together (maybe link each other in the readme), if they are not part of the base recommended ruleset

[2021-01-04 15:42] thomlom commented on #269
That makes sense! I won't have the bandwidth to work on that right now, but I'll do it at some point 🙂

[2021-01-20 18:52] jeblackburn opened #276 "Functions passed as parameters trigger no-await-sync-query"
Hello,

I have an async function that takes a query function as a parameter:

[code]
(somewhere in my test code)
`await chooseElementFromSomewhere('someTextToUseInAQuery', getAllByLabelText);`

Calls to this function are triggering this eslint rule:
`'getAllByLabelText' does not need 'await' operator  testing-library/no-await-sync-query`

I think it's a bug in the eslint parsing/interpreting rule.

[2021-01-21 09:03] Belco90 commented on #276
Hi @jeblackburn! Thanks for opening this issue. It is a bug in our plugin indeed.

The problem is that there is a call expression `chooseElementFromSomewhere()` with a Testing Library query identifier inside `getAllByLabelText` but the latter is not part of the callee but the arguments. We have a mechanism in future v4 to detect this (which already fixed several cases like this across the plugin).

[2021-01-30 18:50] Belco90 commented on #276
Confirmed: this will be fixed on v4. Thank you for reporting and sorry for not being able to fix it on current v3.

[2021-02-10 18:57] maryfsc opened #279 "New rule suggestion: no-test-id-queries"
Hi! I've been wondering if there was ever a discussion about implementing a rule to warn about accessible queries use. Since I don't think it's really necessary to throw an error or do an autofix, a warning should be just fine. So we could get a warning to possibly refactor this

[code]

into this

[code]

What do you think? :)

[2021-02-10 22:32] Belco90 commented on #279
Hi @maryfsc, thanks for opening this issue!

This could be an interesting idea to report usages of `ByTestId` queries. However, I'm not really sure about how to suggest from `ByTestId` argument which other query to use instead +  what pass to it.

The example you shared is really direct, but what would you suggest if you have something like this?
[code]

I'd go just for a `no-test-id-queries` rule

[2021-02-11 13:23] maryfsc commented on #279
Hey @Belco90 I think that's a pretty good idea 😄 👍

[2021-02-12 09:39] Belco90 commented on #279
Nice. Would you like to give this a try? I recommend to do this on v4 since new rules implementation is much easier there (and it should be released soon).

[2021-02-15 13:30] maryfsc commented on #279
Yes, I'd like to try! So I'll wait for v4 to release 😉

[2021-02-15 18:56] Belco90 commented on #279
That's awesome! We had other people implementing new rules directly on `v4` branch, so you could do that if you want to. However, I have to tell you that the doc around new rules creator is not added yet, guidelines weren't updated properly, and new internal mechanisms introduced in v4 could still change (although it's pretty stable already). So up to you!

[2021-02-17 11:48] VED-StuartMorris commented on #173
This looks to be associated with v4 which is not released yet, is that correct? What is the fix in place for this?

Will the import requires a specific naming pattern or will it work with any import that in turn imports `@testing-library`? We currently use the name `test-utils.tsx` not that changing it matters :)

[2021-02-17 12:21] Belco90 commented on #173
@VED-StuartMorris this has been solved in v4, not released yet indeed (it should be sooner than later).

This will be explained properly in the doc of the plugin, but basically the solution implemented is what we call _Aggressive Reporting_. With this opted-in mechanism, the plugin will report all utils found if matching Testing Library ones no matter where they come from. So if you call `render`

[2021-02-17 12:25] VED-StuartMorris commented on #173
Thanks @Belco90 that sounds great.

Just to clarify, this would only occur on `.test.` files? Furthermore, this would work on any import from the utils file?

We export all from `@testing-library`
[code]

Then we would `import { render, screen ... }` from the util. So `screen.debug` would be picked up too.

[2021-02-17 12:30] Belco90 commented on #173
@VED-StuartMorris I have more good news for you! We have added another shared setting to customize on which files you want the plugin to be ran based on a regexp. By default it will report all files with suffix `.test` or `.spec`, so you don't need to set up anything if that works for you. However, let's say you are using `.test` files for Testing Library tests and `.spec` for Cypress tests, you c

[2021-03-11 22:06] j10sanders commented on #162
Should this be added to the docs?

[2021-03-14 20:04] Belco90 commented on #186
We are really close to release v4, only 5 rules to go! After that I need to write proper documentation and do some cleanups, but I'm planning to release a beta version in case some of you can give it a try while I do those extra steps.

[2021-03-14 20:56] tozaicevas commented on #259
Hey @alessbell how are things going with this task? Are there any blockers?

[2021-03-15 14:46] alessbell commented on #259
Thanks for bumping this thread @tozaicevas -- I have an in-progress branch I've just rebased off of the latest `v4` and should be able to clean it up this evening 👍  Will open a PR shortly.

[2021-03-15 15:15] Belco90 commented on #259
@alessbell thanks for the update! I created a PR yesterday to move the CI to GitHub Actions. I'll merge it later today, and try to get it updated properly on v4 so we can have proper CI in place for your upcoming PR and current ones open for v4.

Also, I've updated tons of things on v4 since my last update here. Feel free to ping me in you need help or just want to know more about it.

Looking for

[2021-03-15 17:13] #275 closed

[2021-03-17 10:40] Belco90 commented on #259
@alessbell forgot to mention it, but the new CI is already moved to GitHub Actions in both main and v4 branches ✨

[2021-03-20 14:01] MichaelDeBoey opened #294 "New rule: no-log-testing-playground-url"
Just like `no-debug` but for `screen.logTestingPlaygroundURL()`

Reference: https://github.com/testing-library/dom-testing-library/pull/781

[2021-03-20 14:04] Belco90 commented on #294
It sounds like a good idea, and would be really easy to implement just mirroring the same checks from `no-debug`. However, we have to put it on hold until v4 gets released or it will take forever!

[2021-03-20 14:07] MichaelDeBoey commented on #294
I think we can indeed extract a lot of the `no-debug` code in order to implement this one

[2021-03-20 17:05] Belco90 commented on #259
Hey @kentcdodds! One question about your original description of the behavior:

[code]

You said in the description this should be a valid usage of `act`, are we sure about it? I thought this should be an invalid example since `fireEvent` is a Testing Library util, so previous example should be reported until all Testing Library utils are extracted outside the `act` like:

[code]

[2021-03-20 17:12] kentcdodds commented on #259
It would be valid I think because it will make sure that effects aren't flushed between the fireEvent and the `stuffThatDoesNotUseRTL`. I can't really think of a situation where you'd want that, but a situation like that probably exists.

[2021-03-28 13:23] MichaelDeBoey commented on #198
This one's done! 🥳🎉👊

[2021-03-28 13:25] Belco90 commented on #198
Finally! I'll add more details about next steps on v4 issue.

[2021-03-28 13:25] #198 closed

[2021-03-28 13:29] Belco90 commented on #186
It seemed like this day would never come, but finally, all rules are migrated to the new rule creator + helpers mechanism. I'm creating a small PR with some cleanup, and I'll create some small additional PRs to re-update some of the first rules migrated here to reuse some helpers added after they were migrated.

The next steps are:
- move `v4` branch to `beta` branch so I can get the proper `@next

[2021-03-28 18:31] Belco90 commented on #186
Ok, so `4.0.0-beta.1` has been released successfully. You can install it just doing `npm install -D eslint-plugin-testing-library@beta` or `yarn add -D eslint-plugin-testing-library@beta`. This is gonna be tricky if you are not aware of the breaking changes etc. Then the first thing I'm doing now is writing the migration guide so people can adapt their codebase properly for using this v4 beta. I'l

[2021-03-28 19:30] Belco90 commented on #186
I did a small check overall rules within a demo project and everything is working pretty smooth in general 🎉 . I found some weird node locations for some errors. I'll create a ticket for those issues and fix them in a proper PR.

[2021-03-29 17:25] epmatsw opened #304 "[v4][no-await-sync-query] False positives on appearance/disappearance examples"
In https://testing-library.com/docs/guide-disappearance, there's some techniques outlined for waiting for elements to be removed:

[code]

[code]

Both of these examples are flagged by `no-await-sync-query`, and they probably shouldn't be.

[2021-03-29 18:51] epmatsw opened #305 "[v4] Crash `Cannot read property 'name' of null` in detect-testing-library-utils getImportedUtilSpecifier"
One of our tests has some code that looks like:

[code]

This is causing a crash with `Cannot read property 'name' of null`.

Looking at [`getImportedUtilSpecifier`](https://github.com/testing-library/eslint-plugin-testing-library/blob/82ace4946fca958698adcc367ba3e8fa9ab070a4/lib/detect-testing-library-utils.ts#L604-L611), it calls `getPropertyIdentifierNode` and checks `.name` on it, even though

[2021-03-29 19:02] epmatsw opened #306 "[v4][no-debug] Crash with `Cannot read property 'name' of null`"
We've got some code that looks like:

[code]

This is causing a crash in the CallExpression handler in `no-debug`. In this case, `callExpressionIdentifier` is null. I suspect that `getDeepestIdentifierNode` doesn't handle array accessors correctly, and it also [can explicitly return `null`](https://github.com/testing-library/eslint-plugin-testing-library/blob/beta/lib/node-utils.ts#L433).

[2021-03-29 19:25] Belco90 commented on #304
Hey @epmatsw, thank you very much for your feedback on v4! I think I got a similar issue to this one with `no-await-sync-query`, and I believe I know where the issue is located in the code.

[2021-03-29 19:28] Belco90 commented on #305
Hey @epmatsw, thank you very much for your feedback on v4! This is a tricky one, but thank you very much for the detailed explanation. Added to the list of things to fix.

[2021-03-29 19:30] Belco90 commented on #306
Hey @epmatsw, thank you very much for your feedback on v4! This is a tricky one, but thank you very much for the detailed explanation. Added to the list of things to fix, I think this will be related to #305

[2021-03-29 19:56] Belco90 opened #307 "First round of v4 beta issues"
The first round of issues I found while testing v4 beta:

- problem A: `await-async-utils` doesn't report the right node name
  <img width="649" alt="CleanShot 2021-03-28 at 20 54 18@2x" src="https://user-images.githubusercontent.com/2677072/112891715-c22d0c80-90d8-11eb-9775-bd69726145d5.png">
- problem B: `prefer-find-by` is reporting an incorrect message
  <img width="492" alt="CleanShot 2021-03

[2021-04-01 21:52] gndelia commented on #307
👏  nice work here!
Question, what's the expected message in the `prefer-find-by` error? Do you expect the full `prefer screen.findByRole('button',  { name: /submit/i })` ?

[2021-04-02 09:13] Belco90 commented on #307
@gndelia the error should say just "use `findByRole` instead of `waitFor` + `getByRole`, so it's something simple. Otherwise we pollute the output with a lot of code.

[2021-04-03 16:29] #307 closed

[2021-04-03 16:29] #304 closed

[2021-04-03 16:37] #305 closed

[2021-04-03 16:37] #306 closed

[2021-04-03 16:43] Belco90 commented on #186
I just published `4.0.0-beta.3` with all the issues found so far fixed. It looks fine within the demo project I checked it. I'll do more deep testing in other projects, and keep writing documentation tomorrow.

[2021-04-03 17:29] epmatsw opened #310 "[v4][prefer-user-event] malformed error message for `fireEvent.keyDown`"
We have code that (minimized for repro) looks like:

[code]

That produces an error: `Prefer using  or userEvent.tab() over fireEvent.keyDown()`. Seems like the first alternative suggestion is missing (note the double-space).

This is with `4.0.0-beta.3`

[2021-04-04 15:48] #310 closed

[2021-04-04 17:28] Belco90 commented on #186
New beta `4.0.0-beta.4` was published today and the first draft for "migrating to v4 guide" written in #312

[2021-04-04 18:20] Belco90 opened #313 "Second round of v4 beta issues"
The second round of issues I found while testing v4 beta:
- problem A: `Cannot read property 'properties' of undefined` from a jest config file when importing jest-dom
[code]
- problem B: `prefer-user-event` shouldn't be included in any preset, since `user-event` might not be installed. In the future, it would be nice to detect if `user-event` installed to auto-enable this rule. For now, it's bett

[2021-04-05 07:54] Belco90 opened #315 "Allow multiple utils modules on Shared Settings"
It would be interesting to allow `"testing-library/utils-module"` to support multiple modules. For doing so:
- [ ] `"testing-library/utils-module"` should expect an array of strings
- [ ] all tests cases setting `"testing-library/utils-module"` must be updated
- [ ] add new test cases in fake rule to test several `"testing-library/utils-module"` set
- [ ] update `isAggressiveModuleReportingEnabled

[2021-04-05 14:17] #313 closed

[2021-04-05 19:51] Belco90 commented on #315
@CreativeTechGuy ok so I've been trying to implement the first approach for this but it's not so easy as I thought. Apart from changes mentioned in the description, all checks around custom test utils should be updated to look for specifiers on an array rather than a single string.

The plugin is not ready for this, since it assumes it will have a single import, not several of them. This implies a

[2021-04-06 00:39] CreativeTechGuy commented on #315
Wow thank you for spending so much time on this suggestion. But I definitely agree, we should wait and see if there's any demand for it since it's a non-trivial change.

[2021-04-06 07:39] Belco90 commented on #315
No problem. I thought it would be a quick win, but it's not. I'm gonna close the ticket but reference it in v4 issue as a future improvement.

[2021-04-06 07:39] #315 closed

[2021-04-08 07:47] Belco90 opened #318 "Third round of v4 beta issues"
The third round of issues I found while testing v4 beta:
- problem A (from @gndelia) - current `prefer-screen-queries` error message is a little bit weird: `Use screen to query DOM elements, "screen.{{ name }}"`. Improve this message to make it more readable.

[2021-04-11 11:09] Belco90 commented on #186
Latest `4.0.0-beta.6` seems pretty stable. I just [updated the contributing guidelines](https://github.com/testing-library/eslint-plugin-testing-library/pull/321) and I'm writing the release notes, so v4 should be officially released tomorrow! 🚀

[2021-04-11 18:05] #186 closed

[2021-04-11 18:05] #276 closed

[2021-04-11 18:05] #318 closed

[2021-04-11 18:20] Belco90 commented on #141
This should be fixed on v4.0.0

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/4.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.0)

[2021-04-11 18:20] #141 closed

[2021-04-11 18:24] Belco90 commented on #173
This should be fixed on v4.0.0

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/4.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.0)

[2021-04-11 18:24] #173 closed

[2021-04-11 18:25] Belco90 commented on #222
This should be fixed on v4.0.0

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/4.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.0)

[2021-04-11 18:25] #222 closed

[2021-04-11 18:26] Belco90 commented on #246
This should be fixed on v4.0.0

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/4.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.0)

[2021-04-11 18:26] #246 closed

[2021-04-11 18:27] Belco90 commented on #267
This should be fixed on v4.0.0

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/4.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.0)

[2021-04-11 18:27] #267 closed

[2021-04-11 18:28] Belco90 commented on #272
This should be fixed on v4.0.0

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/4.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.0)

[2021-04-11 18:28] #272 closed

[2021-04-11 18:28] Belco90 commented on #273
This should be fixed on v4.0.0

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-testing-library/v/4.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.0)

[2021-04-11 18:28] #273 closed

[2021-04-11 18:55] Belco90 commented on #110
Closing due to inactivity.

[2021-04-11 18:55] #110 closed

[2021-04-11 19:03] Belco90 commented on #269
Closing due to inactivity.

[2021-04-11 19:03] #269 closed

[2021-04-11 19:03] Belco90 commented on #258
Closing due to inactivity.

[2021-04-11 19:03] #258 closed

[2021-04-12 07:21] Belco90 commented on #242
I think we should add this now since CRA uses v4 and we have released v4.

I figured out how to upgrade the plugin to v4 in a CRA project using yarn (with [selective dependency resolution](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/)), but I don't have any idea how to do this with npm.

Additionally, it would be nice to create a PR to upgrade the plugin in CRA. I think @Mich

[2021-04-12 10:29] Belco90 commented on #294
Rethinking this suggestion: I think `no-debug` should report `logTestingPlaygroundURL` usages. Both `debug` and `logTestingPlaygroundURL` are debugging utils, so `no-debug` should take care of them. Even `prettyDOM` and `logRoles` probably.

[2021-04-12 10:42] srittau opened #327 "no-debug also affects console.debug()"
The `testing-library/no-debug` test also warns about using `console.debug()`, although there is a separate built-in test for that: `no-console`. I would like to allow `console.debug()` statements (our config contains `"no-console": ["error", {"allow": ["debug", "warn", "error"]}]`), but still keep `testing-library/no-debug` enabled for testing-library debug statements.

[2021-04-12 10:45] Belco90 commented on #327
Hello @srittau! Thanks for reporting this issue. Indeed, `console.debug` should be out of the scope of `testing-library/no-debug`. It should be easy to fix, I hope I can get back soon with the bugfix.

[2021-04-12 10:51] MichaelDeBoey commented on #294
Maybe we should rename `no-debug` to something like `no-debugging-utils`?

We can create that new rule in a minor release and let that handle all of them (`debug`/`screen.debug`, `screen.logTestingPlaygroundURL`, `prettyDOM`, `logRoles`, `logDOM`, `prettyFormat`, ...).

We can deprecate the `no-debug` rule for now and maybe throw a warning or so to say that using the new `no-debugging-utils` shoul

[2021-04-12 10:53] MichaelDeBoey commented on #294
On the other hand, maybe some people will want to enable this behavior for some utils, but not for others.
So having a setting for which one to enable can be helpful too I think

[2021-04-12 11:02] Belco90 commented on #294
- I would implement everything under `no-debug` and rename it in a future v5 if necessary.
- The rule should accept an option to decide which debug utils are allowed like [`no-console` ESLint one](https://eslint.org/docs/rules/no-console#disallow-the-use-of-console-no-console)

[2021-04-12 11:10] MichaelDeBoey commented on #242
Created a PR to add `eslint-plugin-testing-library@^4.x` to CRA: https://github.com/facebook/create-react-app/pull/10817

[2021-04-12 11:23] MichaelDeBoey commented on #294
Sounds like a solid plan @Belco90! 👊

[2021-04-12 11:26] MichaelDeBoey commented on #294
Since it's a breaking change to error on these new functions, we should set the default of the `allow` option to be `['debug', 'screen.debug']`

Only in v5 we can update it to default to all functions then. 🤔

[2021-04-12 11:39] Belco90 commented on #294
Putting ESLint errors in that way, every single change should be a breaking change since it could potentially report errors not reported before. I'm never sure what to do in this case. If you take a look at [ESLint releases](https://eslint.org/blog/), they seem to include this sort of changes in a minor and leave major for purely API changes, dependency updates, or config changes.

Anyway, setting

[2021-04-12 11:57] MichaelDeBoey commented on #294
If ESLint makes these kind of things a minor, I think we should do that too

[2021-04-12 17:23] DavidHenri008 opened #331 "V4 plugin runs against code"
I upgraded to the latest version, 4.0.0, and I cannot build my code anymore since the plugin finds errors in my code.

With the following configuration :
[code]
I am getting the ```no-node-access``` error for the code ```document.getElementById('root')``` :
[code]

I was expecting the rules to be applied to only .test.js files.

[2021-04-12 17:39] 9still commented on #331
Running into the same.  Tons of false positives with any method called `.getById` & `.getByIds`.  Looks like it's caused by the new aggressive reporting, but no clear documentation on recommended way to opt out or disable the rule.

`testing-library/prefer-screen-queries` & `testing-library/no-node-access` are the rules with most false positives.

[2021-04-12 18:32] gndelia commented on #261
now that v4 is released, we can tackle this one. I think I can tackle it the next week, so if no one takes it during that time, I might do so

[2021-04-12 18:35] DavidHenri008 opened #333 "Constant error testing-library/no-node-access"
I updated to the latest v4 version (4.0.0) and since then I am always getting the ```testing-library/no-node-access``` error.
When I say always I really mean **always**, I tried the following and no matter what I still get the error:
- I downgraded back to version 3.10.2,
- I removed ```eslint-plugin-testing-library``` from my config,
- I uninstalled ```eslint-plugin-testing-library```,
- I erased

[2021-04-12 18:41] gndelia commented on #294
I like this plan - but I think definitely `no-debug` has to be renamed as it might be confusing as it is

[2021-04-12 19:07] 9still commented on #331
Just to provide more detail:

[code]

There is no information on how to revert to previous behavior when you don't have a custom utility file but just want to use `testing-library/*`.

@Belco90 given how aggressive this check is, wouldn't it more reasonable to assume by default that most users **won't** have the specialized utils?  Otherwise you're introducing a ton of unpredictable fragility, sin

[2021-04-12 19:08] DavidHenri008 commented on #333
If someone encounters this, I was able to solve the issue by:
- deleting my whole git folder on my PC and
- cloning again the repository.

[2021-04-12 19:08] #333 closed

[2021-04-12 19:20] 9still commented on #222
@CreativeTechGuy @Belco90 I realize that this has already been done, but I want to vote against enabling the aggressive mode by default precisely for the reason of eslint config being hard to debug.  I would argue that although I have no way to prove this, I suspect that the vast majority of users will NOT have the types of patterns that you listed as rationale for enabling the aggressive behavior

[2021-04-12 19:21] Belco90 commented on #331
Hey there! Sorry for the issues the Aggressive Reporting is causing. We should have clarified how to run `eslint-plugin-testing-library` only for testing files.

With the default config mentioned on the README the plugin will be run against all your files indeed. We thought about trying to run the rules only against test files, but that's out of the scope of the plugin since 1) each user can poten

[2021-04-12 19:24] Belco90 commented on #333
Oh wow, I haven't run into something like this before. When I had similar issues, it only happened in the IDE and restarting it did the trick.

[2021-04-12 19:25] Belco90 commented on #222
@9still I added more context on #331

[2021-04-12 19:29] 9still commented on #331
@Belco90 thanks for the quick response, but it feels wrong to use test file names to apply these rules.   Application code is very likely to use `.getById`/`.getByids` patterns for libraries unrelated to `testing-library`.  While the config you list will indeed take care of the false positives in application code itself, it will create still problems for anyone trying to interact with these calls

[2021-04-12 19:29] DavidHenri008 commented on #333
After more investigation I found the following:

My webpack configuration uses the loader eslint-loader to run the eslint verification on my code before the build step (like in CRA). This module creates a cache folder in the ```node_modules``` of my lerna package and for an unknown reason, it was caching the configuration even if I was changing it. This is why erasing the whole git folder solved m

[2021-04-12 19:42] Belco90 commented on #333
TIL, thanks for the explanation!

[2021-04-12 20:33] Belco90 commented on #331
@9still no problem at all, I understand your frustration and I'm sorry about this. However I have to admit that we opted for this in favor of avoiding false negatives: we preferred to get developers opening issues to figure out how to opt out some Aggressive Reporting since they can spot false positives, rather than having developers without realizing they need to set up something else to get the

[2021-04-12 20:38] Belco90 opened #334 "limit `no-node-access` errors reported"
Originated by #331. I don't think `no-node-access` should report DOM elements queried from `document` since we can't detect properly if being used for a test because of Aggressive Reporting.

In the rule doc it says this case is invalid:

But we can't actually know this for the reason mentioned before.

[2021-04-12 20:44] Belco90 opened #335 "Improvements for Shared Settings"
Originated by #331.

We need to improve the Shared Settings by:

1. Adding a new Shared Setting property `testing-library/custom-queries` so developers can limit the list of custom queries variants to be reported
2. Adding a new `"off"` option for these Shared Settings, so the Aggressive Reporting mechanisms associated with them can be disabled entirely with ease.

[2021-04-12 22:28] gndelia commented on #327
I think I can take this one

[2021-04-13 10:02] flip-it opened #336 "testing-library/no-node-access triggered without testing-library imported"
As soon as I access `children` on an arbitrary object, the error `testing-library/no-node-access` is triggered, even when testing-library is not used in this file. It's not even in a test file. So essentially adding a new file with content:

[code]

and then running eslint on it fails with message _Avoid direct Node access. Prefer using the methods from Testing Library_.

I have seen the utility [

[2021-04-13 10:12] Belco90 commented on #336
Hi @flip-it! I recommend you to read [this thread](https://github.com/testing-library/eslint-plugin-testing-library/issues/331#issuecomment-818070722), so you can find more context about how to lint only your test files and improvements we are gonna apply to clarify this situation.

`isTestingLibraryImported` assumes Testing Library is imported when [the modules mechanism from Aggressive Reporting

[2021-04-13 10:12] #336 closed

[2021-04-13 11:30] Belco90 commented on #334
Additionally, seems this rule is **too** aggressive and could trigger tons of false positives outside test files, I think it's necessary to avoid Aggressive Reporting on this rule and make it reporting errors **only if** `@testing-library/*` or custom module set through Shared Settings imported.

[2021-04-13 11:33] Belco90 commented on #331
I updated the proposal for `no-node-access` here: https://github.com/testing-library/eslint-plugin-testing-library/issues/334#issuecomment-818663420

Let me know what you think @9still @DavidHenri008 , but I think with that + previous comment around allowing to disable Aggressive Reporting entirely with ease, we would cover everything :)

[2021-04-13 16:28] ljosberinn opened #337 "`render-result-naming-convention` false positives for any `render*` named fn"
Apparently `render-result-naming-convention` just checks whether _any_ function or method beginning with `render` is called within any test file.

The following lines are reported as false positives:
https://github.com/ljosberinn/personal-react-boilerplate/blob/master/src/client/__tests__/_document.test.tsx#L61
https://github.com/ljosberinn/personal-react-boilerplate/blob/master/src/client/__tests

[2021-04-13 17:03] Belco90 commented on #337
Hey Gerrit! As per [Aggressive Reporting - Renders mechanism](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/migrating-to-v4-guide.md#renders), by default all methods containing `*render*` will be assumed as a reportable render. Additionally, as per [Aggressive Reporting - Imports mechanism](https://github.com/testing-library/eslint-plugin-testing-library/blob/main

[2021-04-14 07:31] #334 closed

[2021-04-14 08:50] Belco90 commented on #331
[v4.0.1 available](https://github.com/testing-library/eslint-plugin-testing-library/releases/tag/v4.0.1) which would prevent `no-node-access` to report errors if `@testing-library/*` import or indicated custom module import not found.

[2021-04-14 09:54] #331 closed

[2021-04-14 10:09] Belco90 commented on #272
Hey @AriPerkkio! I saw after releasing v4 of the plugin the badge for this ESLint plugin is green in your `eslint-remote-tester`! 🎉

Would be fine to include such a badge in our README?

[2021-04-14 11:00] AriPerkkio commented on #272
Congratulations about v4! 🎉

I was excited to see how it stands against heavy 6 hour tests - and it was perfect score with 0 crashes.
It was so fast that I'm even suspecting I've misconfigured the [`eslintrc`](https://github.com/AriPerkkio/eslint-remote-tester/blob/master/ci/plugin-configs/eslint-plugin-testing-library.config.js#L7-L36) 😄.
`[eslint-plugin-testing-library]: Repositories (14024/1449

[2021-04-14 11:20] MichaelDeBoey commented on #272
@AriPerkkio Would it also be possible to have your workflows report automatically in our repo somehow? 🤔
Maybe with a restriction that it would only be possible from a certain bot (with permissions on this repo), so that it's not flagged as spam or something.

You're already running all tests, so CI would run a second time on this repo for no other reason than to report possible bugs to us.

Can y

[2021-04-14 12:12] AriPerkkio commented on #272
I'm not sure whether Github provides functionality for this. The workflow is currently utilizing octokit client for creating the issues. I'll need to look into octokit's documentation - PRs to `eslint-remote-tester-run-action` are also welcome. 👍

Note that `eslint-remote-tester` is running against the latest published release. It would be ideal if plugins would caught these issues even before pub

[2021-04-14 12:33] pustovalov opened #340 "testing-library/prefer-screen-queries with self-written helpers"
Hey

[code]

`eslint-plugin-testing-library@3.10.2` - no errors

`eslint-plugin-testing-library@4.0.1` - Avoid destructuring queries from `render` result, use `screen.findByComplexText` instead  testing-library/prefer-screen-queries

should this rule only apply to `testing-library` methods?

[2021-04-14 13:06] MichaelDeBoey commented on #272
@AriPerkkio Since this package is using `semantic-release`, everything that's pushed to `main` will also be released.

Running these smoke tests in this repo will also result in a 6 hour run for each push to `main`.

We would also have to update the `repositories.json` ourselves, which will become outdated really quickly.
Since you're already doing all this hard work, I think we could all benefit

[2021-04-14 13:15] Belco90 commented on #340
Hello @pustovalov. Did you check [the migration guide to v4](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/migrating-to-v4-guide.md)? That error is reported by `prefer-screen-queries` which has been enabled in all Shareable Configs and mentioned as one of the things to be aware of when migrating.

You are still able to switch the rule off if you are not interested

[2021-04-14 13:18] Belco90 commented on #272
It would be interesting to run this check to have some insights about the plugin, but we shouldn't block any package release because of this check.

[2021-04-14 13:27] Belco90 commented on #340
My bad, I think I misunderstood the actual issue.

You are getting a non-related Testing Library method reported as a Testing Library query right? Can you confirm if your `findByComplexText` is a custom query? If so, I think we need to improve the checks in this rule to avoid reporting custom ones since they are not attached to `screen` (I'm not sure if this is possible actually).

If it's not a c

[2021-04-14 13:28] MichaelDeBoey commented on #272
That's why I think it would be better to have this run in the original `eslint-remote-tester` repo and create an issue in this repository whenever there will be an error found.

Having this as a bot would be the way to go I think, as that way we can give/revoke permissions.

[2021-04-14 13:40] pustovalov commented on #340
I have used this rule before and there were no errors

this is not custom query, it's just a function which uses `screen`, this is a `findByComplexText`:

[code]

[2021-04-14 13:52] AriPerkkio commented on #272
Good points @MichaelDeBoey. Let's keep running the tests in `eslint-remote-tester` repository and check if the bot could post results in this project.

I would imagine something like `repository-for-results: testing-library/eslint-plugin-testing-library` option for `eslint-remote-tester-run-action` setup. And possibly some other fields for selecting/authenticating the bot.

[2021-04-14 14:19] Belco90 commented on #340
Thanks for sharing! That function is understood by the plugin as a custom query, which is fine! So you can get the advantage of other rules linting that function, like `await-async-query` complaining about not awaiting your `findByComplexText` for example.

However, it doesn't make sense to get `prefer-screen-queries` reporting custom queries since you are not able to access them through `screen`.

[2021-04-14 14:22] Belco90 commented on #272
Thanks for your help @AriPerkkio! I'll include the badge in the following days. Probably we can move the reporting from `eslint-remote-tester` to a new discussion.

[2021-04-14 14:24] Belco90 commented on #272
@AriPerkkio I forgot to mention: another possibility would be running `eslint-remote-tester-runner` within this project without blocking the CI at all, that's up to us 😄 . So every time we release a new version, we trigger the remote tester runner in parallel and leave it doing its thing to get the report when gets finished. Is that possible? I guess so right?

[2021-04-14 16:13] AriPerkkio commented on #272
That's definitely possible and even better option than waiting for my weekly scheduled tests to trigger. You wouldn't have to wait 7 days for getting the latest results.

There is of course this:

... but it is not really that much of a work. I haven't updated my `repositories.json` in a long time: https://github.com/AriPerkkio/eslint-remote-tester/commits/master/configs/repositories.json

`eslint

[2021-04-14 17:00] MichaelDeBoey commented on #272
@AriPerkkio We can start with the weekly triggered tests on your repo for now and maybe manually putting all errors in an issue here I think.

We can discuss this maybe even further in an issue/discussion on your repo so we don't hijack this issue any further?

[2021-04-14 20:05] Belco90 opened #341 "Running eslint-remote-tester-runner for each new version published"
@AriPerkkio I forgot to mention: another possibility would be running `eslint-remote-tester-runner` within this project without blocking the CI at all, that's up to us 😄 . So every time we release a new version, we trigger the remote tester runner in parallel and leave it doing its thing to get the report when gets finished. Is that possible? I guess so right?

__Originally posted by @Belco90 in h

[2021-04-14 20:09] Belco90 commented on #341
@MichaelDeBoey @ariperkkio moving conversation here 😅

As discussed I'd go for creating a new action file in this plugin which runs the remote tester. It would be executed on each new package published (not really sure how to hook the CI to this? New tag pushed?), and just by getting a failed pipeline would be enough for us to know something went wrong linting some repo.

Additionally, put the fla

[2021-04-15 05:32] 9still commented on #331
Thanks @Belco90!  The proposals sound great!  I won't get to play with 4.0.1 until next week, but look forward to trying it out!

[2021-04-15 13:02] AriPerkkio commented on #341
The [`eslint-remote-tester-run-action`](https://github.com/marketplace/actions/eslint-remote-tester-runner) will create a new issue in the repository it is configured in when errors are found. There's no need to check pipeline or its logs for errors. Example from `eslint-plugin-unicorn`: [Results of weekly scheduled smoke test #1122](https://github.com/sindresorhus/eslint-plugin-unicorn/issues/112

[2021-04-15 13:35] Belco90 commented on #341
@AriPerkkio oooh I see! Even better then. I'll work on this after I get pending issues solved (unless @MichaelDeBoey wants to take care of it now)

[2021-04-16 05:58] AriPerkkio commented on #341
Here is example of integration for reference:
https://github.com/yannickcr/eslint-plugin-react/pull/2963

Following the setup from first commit should be enough.

When deciding which rules to include and which rule settings, try to cover as many branches of the code as possible. The configuration doesnt have to "make sense", e.g. you can mix react and angular rules in same setup. Goal is to test a

[2021-04-16 10:31] #340 closed

[2021-04-16 11:24] robatwilliams opened #345 "Detect render() directly in describe block body"
I'm helping a team adopt React Testing Library in a codebase that already uses Enzyme.

We have quite a lot of the following kind of pattern (with multiple levels of nesting), which is bad and has all kinds of issues, but works in Enzyme:
[code]

In React Testing Library, due to the shared global nature of document/screen, doing that will cause leakage between tests.

Maybe `no-render-in-setup` co

[2021-04-16 12:23] pustovalov commented on #340
@Belco90 Thx, new version works fine

[2021-04-16 13:56] Belco90 commented on #345
Hey @robatwilliams, thanks for your feedback!

This sounds like a good idea indeed. There are few things to keep in mind tho:
- We can't opt-in this new error reported by default in `no-render-in-setup` since that would mean a breaking change. In order to keep it as a non-breaking change release, we need to include this as "A new option to an existing rule that does not result in ESLint reporting

[2021-04-16 14:15] robatwilliams commented on #345
Makes sense.

I'm not sure this would be hugely valuable unless someone is converting some old tests, or isn't familiar with the basics of test isolation. So it's unlikely I'll work on this. My current solution has been to find all these cases with a regex and add a comment to them.

[2021-04-16 14:39] Belco90 commented on #345
Fair enough! I'd say for the same reasons this is a low priority for us, but definitely something we can work on when other pending stuff gets done.

[2021-04-18 19:59] #159 closed

[2021-04-18 19:59] #178 closed

[2021-04-19 07:43] #335 closed

[2021-04-19 07:55] Belco90 commented on #331
v4.1.0 has been released with a new shared setting for restricting Aggressive Queries Reporting + a new `"off"` option for all shared settings to opt-out related Aggressive Reporting mechanism. I believe there are enough alternatives now to cover different scenarios when not interested in the Aggressive Reporting feature.

[2021-04-20 06:20] rosczja commented on #315
I would definitely like to have this feature, but I understand that this is not trival to implement.

We have two different types of tests: unit and integration. Both use a different custom render function and re-export testing-library stuff. Each type has its own module.

[2021-04-20 07:41] Belco90 opened #348 "Multiple utils-module for several test types"
_Originally posted by @rosczja in https://github.com/testing-library/eslint-plugin-testing-library/issues/315#issuecomment-823006049_

[2021-04-20 07:46] Belco90 commented on #348
Hey @rosczja! I'm moving here your petition for allowing to set a list of modules into `utils-module`.

This is a feature that will take time to implement and won't happen soon to be honest. However, I'd like you to give us more info about your setup since it might be possible for you to achieve what you want with the current plugin version + ESLint `overrides`.

Can you share more details about h

[2021-04-20 08:43] rosczja commented on #348
Hey @Belco90 , thank you very much.

Yes, we differentiate between those two types by filename suffix. So you are right, I could try to use `overrides`. Will definitely try this out.

[2021-04-20 08:53] Belco90 commented on #348
Alright. Assuming you use `.unit` and `.integration` suffixes for differentiate them, you could do something like this:

[code]

However, if you have your tests files identified properly, I'd leave the new Aggressive Reporting doing its thing and [run `eslint-plugin-testing-library` only against your test files](https://github.com/testing-library/eslint-plugin-testing-library#run-the-plugin-only-a

[2021-04-20 09:31] ljosberinn commented on #337
Thank you, I extended my config [to automatically detect those](https://github.com/ljosberinn/eslint-config-galex/blob/master/src/overrides/jest.js#L808) at least :)

[2021-04-20 09:31] #337 closed

[2021-04-20 11:39] Belco90 commented on #279
Hey again! Since v4 is finished, I hope I can spend time on this soon. It's a really interesting rule for encouraging people to use semantic and accessible queries rather than querying by id.

[2021-04-20 14:13] Belco90 commented on #259
Hey hey! Since v4 was officially released and the first round of improvements after that was handled too, I have time for implementing other rules like this one. @alessbell will hand her current progress to me so I can finish it.

[2021-04-20 14:35] gndelia commented on #348
@Belco90 I've seen this kind of snippet mentioned a couple of times (About using the file extension to separate files); Maybe it's worth documenting somewhere (like a FAQ or as part of the readme)

[2021-04-20 14:53] Belco90 commented on #348
@gndelia we added it to our README!

- [Run the plugin only against test files](https://github.com/testing-library/eslint-plugin-testing-library#run-the-plugin-only-against-test-files)
- [Troubleshooting](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting)

[2021-04-20 15:35] gndelia commented on #348
🤦‍♂️ for me

[2021-04-21 17:29] 9still commented on #331
Thanks again @Belco90 !  Pulled down the new version & it's working great!

[2021-04-21 19:14] Belco90 commented on #331
Glad to hear it solves the described limitation. Thanks for your feedback too!

[2021-04-22 07:55] zaicevas opened #351 "no-wait-for-side-effects does not catch returned side effect"
This yields an error:

[code]

This does not:

[code]

Is that expected behaviour?

[2021-04-22 08:00] Belco90 commented on #351
Hey @zaicevas! It's not an expected behavior indeed. It seems the plugin is only looking for arrow functions with a body but ignoring those with an implicit return.

[2021-04-25 05:33] nickmccurdy commented on #187
Is this something you'd still like help with?

[2021-04-25 09:07] Belco90 commented on #187
Hey@ @nickmccurdy! Yes, for sure. I'll go back to this definitely when couple of extra rules are released. Anyway I had a couple of ideas around this, so I'll try to put them here later to see what we can do. Thanks!

[2021-04-25 09:45] MichaelDeBoey commented on #187
I've been playing around with this idea too lately.

My idea was to add some sort of `supportedTestingFrameworks` key in the meta docs that's an array of strings and that's been read in order to know if it's in a certain config (for that specific testing framework).

[2021-04-25 10:42] #351 closed

[2021-04-25 10:58] MichaelDeBoey commented on #341
@AriPerkkio is it also possible to somehow export a `baseConfig` that we can just extend, like you do in [your own `eslint-plugin-testing-library.config.js` file](https://github.com/AriPerkkio/eslint-remote-tester/blob/e9fa2889b35dc9a60651046a849941c46b63fe97/ci/plugin-configs/eslint-plugin-testing-library.config.js) please?

That way we don't have to bother about all the config stuff (like `repos

[2021-04-25 11:04] Belco90 commented on #187
Oh sorry, I didn't realized it was closed by stale-bot!

Yes, this is one of the things I had in mind, but we don't need to add an extra key for it: we can reuse `recommended` from rule `meta.docs`. We can reuse few things from `meta.docs` actually, and extend it so we have something like:

[code]

When "rule doc md file" means a new small table at the top of each rule doc file for indicating cate

[2021-04-25 11:27] MichaelDeBoey commented on #187
I would keep `recommended` as it's intended to use: to mark it as `error`, `warn` or `off`.
That way we can have ruleA warn and ruleB error in our configs if we ever want to do this in the future.

For `category`, I would keep them all as `'Best Practices'` as a lot of other ESLint plugins are keeping the ESLint categories too and don't reuse them in the context of their own plugin.

I like the id

[2021-04-25 11:43] Belco90 commented on #187
I'm confused about `recommended` key now. In types coming from `@typescript-eslint/experimental-utils` is indicated as `false | "warning" | "error"` but in [ESLint docs](https://eslint.org/docs/developer-guide/working-with-rules#rule-basics) is indicated as `boolean`.

Anyway, both ways are meant to indicate if the rule has to be included in the `recommended` preset or not. [We don't have such a p

[2021-04-25 11:56] MichaelDeBoey commented on #187
That's indeed even a better idea 👍, since we can then have
- 1 less key
- different recommended settings for each testing framework

I'm not 100% convinced about this one tbh.
We could do this in a separate PR though if the team decides this is a better way.

[2021-04-25 12:01] Belco90 commented on #187
We can debate about the categories themselves for sure! Another idea I had for that was just defining categories as priorities level as in [Common mistakes with React Testing Library post](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library), so we would have `category: "low" | "medium" | "high"` which would be reflected on each rule doc file.

Anyway, this was just an idea to u

[2021-04-25 12:06] MichaelDeBoey commented on #187
Thinking about this a bit more: we could even keep it as it is and make it recommended for all frameworks if it's not an object (with the specified value).

[2021-04-25 12:18] AriPerkkio commented on #341
I'm not really planning on providing a base configuration - [the default values of configuration](https://github.com/AriPerkkio/eslint-remote-tester#configuration-options) are for that. Ideas for improving these are definitely welcome. 👍

For `repositories` and `pathIgnorePattern` there is [eslint-remote-tester-repositories](https://www.npmjs.com/package/eslint-remote-tester-repositories) availabl

[2021-04-25 13:24] MichaelDeBoey commented on #341
@AriPerkkio I would not suggest doing that in `eslint-remote-tester`, but rather in `eslint-remote-tester-run-action`.

I'll create an issue on the repo to discuss it further there.

[2021-04-25 15:54] budarin opened #355 "Strange error: Unexpected debug statement testing-library/no-debug"
I have code
[code]
 and have the error - It's very strange

[2021-04-25 16:10] Belco90 commented on #355
Hey. This is probably related to Aggressive Reporting. Have you checked the [Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting)?

[2021-04-25 19:15] Belco90 opened #356 "Improve CONTRIBUTING document"
Some ideas for improving our `CONTRIBUTING.md` with:
- some AST info
- some link to astexplorer.net as a tool to deal with AST
- new section about how to try changes locally

Feedback from @zaicevas:

_Originally posted by @zaicevas in https://github.com/testing-library/eslint-plugin-testing-library/issues/352#issuecomment-826319011_

[2021-04-25 19:23] Belco90 commented on #187
I'd avoid enabling the rule for all frameworks if `recommended` defined as `true` since that would enable them automatically for new frameworks.

For instance: rule `await-async-utils` is enabled for all framework presets at the moment (which it is) and we introduce a new compatible framework (let's say "svelte") which by any reason shouldn't have this rule enabled in the preset:
- `recommended: t

[2021-04-25 19:29] #355 closed

[2021-04-26 08:28] luhmann opened #359 "False positive for `testing-library/await-async-query`?"
## Problem

I upgraded from version `3.10.2` to version `4.1.2` and am now getting errors for `await-async-query` that I cannot really explain. I read the migration guide to v4 and as far as I can see there is nothing wrong with my code. So I thought I would open this issue.

This is a minimal example of the issue, it popped up all over my codebase

[code]

With `4.1.2` I get linting errors  for `

[2021-04-26 09:40] Belco90 commented on #359
Hi @luhmann! Thank you for your detailed explanation of the issue, it's really helpful.

This is a legitimate bug indeed! `eslint-plugin-testing-library` should report your wrappers around `findBy*` too, which is fine, but your wrappers are handling the returned promise properly so the rule shouldn't complain there. Also, the location of the error is really weird, apart from the fact is only compl

[2021-04-26 09:55] zaicevas opened #360 "Make `no-wait-for-side-effects` report render() inside `waitFor`"
Consider this: `await waitFor(() => render(<Component />))`. AFAIC it doesn't seem like a legit use case 🤔   Should we report every usage of `render*` wrapped in `waitFor` ?

[2021-04-27 07:45] Belco90 commented on #360
Hey @zaicevas! This is an interesting proposal. I think you are right and `no-wait-for-side-effects` should report `render` util calls inside `waitFor` indeed, and I guess `rerender` too by extension.

It would be nice to include this report in `no-wait-for-side-effects` but this can't be enabled by default. Following our [Semantic Versioning Policy](https://github.com/testing-library/eslint-plugi

[2021-04-28 18:05] zaicevas commented on #360
What you're saying makes total sense. Do you think we could enable `shouldReportRender` by default in v15?

By the way, I'd like to try to implement it 😄

[2021-04-28 18:24] Belco90 commented on #360
[We are still debating about our SemVer Policy](https://github.com/testing-library/eslint-plugin-testing-library/discussions/343), so I think it would be better if we report that error by default in the rule without any option, and then we see if we release it as a minor or we need to opt it out with some option.  Are you happy with that?

[2021-04-28 20:17] zaicevas commented on #360
Yeah. I'll keep an eye on the discussion you linked 👍

[2021-04-29 08:23] #187 closed

[2021-05-03 13:54] #360 closed

[2021-05-03 16:38] julienw opened #366 "False positive for testing-library/prefer-screen-queries"
[code]

=> `testing-library/prefer-screen-queries: Avoid destructuring queries from `render` result, use `screen.getByTestId` instead`

In this case, we use the function imported from `@testing-library/dom` reexported from `@testing-library/react` that allows to search for an element in the tree of any other element (like `within`). This exact example is of course useless (we can use `screen`) but

[2021-05-03 16:44] Belco90 commented on #366
Hey @julienw.

I believe this is pretty much the same idea behind [allowing restructuring `screen` itself](https://github.com/testing-library/eslint-plugin-testing-library/issues/143).

You can see in that issue we decided not to implement that functionality, since the purpose of using `screen` is to avoid destructuring the queries every time you need to use a new one or replace an existing one. S

[2021-05-03 16:49] julienw commented on #366
I'm a big fan of `screen` in general.

In this specific case, we wanted to use `getByText` on a specific subtree. For example:
[code]

This is an advanced use case, and probably we should really use [within](https://testing-library.com/docs/dom-testing-library/api-within) instead in this case, but I believe this is out of scope for `prefer-screen-queries`. Does that make sense?

The alternative is

[2021-05-03 17:03] MichaelDeBoey commented on #366
@julienw The scenario you're describing sounds indeed like a good use case for using [`within`](https://testing-library.com/docs/dom-testing-library/api-within) instead.

[2021-05-03 17:11] gndelia commented on #366
Hi @julienw, thanks for opening the issue!. I agree that this sounds like a use case for within. However, there's something that I might be missing. You mentioned that you wanted to use `getByText` on a specific subtree, and that you use the re exported version from `'@testing-library/react';`.

Shouldn't something like this work too?

[code]

If I understand correctly, the queries don't have any

[2021-05-03 17:14] julienw opened #367 "False negative for testing-library/prefer-screen-queries"
Hey!

When handling the new failures in our projects due to adding `testing-library/prefer-screen-queries`, I noticed some patterns weren't noticed by the rule. Strangely other similar patterns were noticed.

This pattern is when returning the result of `render`, and then destructuring in the caller, ie some variations of:
[code]

I couldn't find what difference these cases, so I'll rather pinpoin

[2021-05-03 17:21] julienw commented on #366
Exactly. Just like `screen` itself, and ` within` too. They're all tools reexported from `dom-testing-library`.

This doesn't work, `screen.getByText` doesn't accept an Element as its first parameter, like the "global" query.

BTW I noticed that renaming the query also avoids the rule:
[code]

[2021-05-03 17:23] julienw commented on #366
Yes!
But my point is that this rule `prefer-screen-queries` doesn't sound the right location to check this. Especially the error message doesn't look right in this case.

But TBH I'd be happy as well if you said "OK this works as expected" and I'd just have to use `within` or ignore the rule here. Maybe improving the error message for this case could be nice, and maybe mentioning this in the doc w

[2021-05-03 18:48] Belco90 commented on #366
I'd say this works as expected. The error message and the rule docs can be improved to clarify this and the destructuring `screen` cases. I'm leaving this issue open so we add corresponding doc at least.

[2021-05-03 21:02] Belco90 opened #368 "no-wait-for-side-effects: not reporting VariableDeclaration nodes"
Good catch. It's not intentional, but I detected it when implementing `no-unnecessary-act`, so it will be addressed there. I'll make sure to include this case in the tests.

_Originally posted by @Belco90 in https://github.com/testing-library/eslint-plugin-testing-library/issues/363#issuecomment-830643800_

This will be finally addressed separately, after #259 gets released.

[2021-05-03 21:04] Belco90 commented on #368
@zaicevas pinging you here!

[2021-05-04 08:32] julienw commented on #367
Yes sure, this is with version 4.1.2.

And this is the config relevant to this plugin:
[code]

I believe `testing-library/prefer-screen-queries` is enabled automatically when extending `'plugin:testing-library/react'`, right?

[2021-05-04 10:55] Belco90 commented on #367
At first sight, this looks like a bug. However, I can't figure out what could be the cause of the issue, so this needs further investigation.

[2021-05-04 11:23] MichaelDeBoey opened #370 "`no-wait-for-empty-callback`: report empty `Promise.resolve()`"
I think that `await waitFor(() => Promise.resolve())` should be reported by `no-wait-for-empty-callback` too.

I know @kentcdodds [showed an alternative to wait for a mocked promise](https://kentcdodds.com/blog/fix-the-not-wrapped-in-act-warning#an-alternative-waiting-for-the-mocked-promise) and in theory we could rewrite the `act(() => promise)` call in his example as `await waitFor(() => promise

[2021-05-04 13:10] kentcdodds commented on #370
Agreed

[2021-05-04 23:22] mpeyper opened #371 "@testing-library/react-hooks specific rules"
I'd like to propose a new rule for a `testing-library` that I do not believe is currently covered in this plugin.  I'm not sure if it would be part of `testing-library/react` rules or if a new set of rules (`testing-library/react-hooks`) should be introduced.  Reading [this](https://github.com/testing-library/eslint-plugin-testing-library#shareable-configurations), it's very possible that people w

[2021-05-05 09:15] Belco90 commented on #371
Hey @mpeyper! Thanks for creating this issue, a really interesting idea (I've made this mistake many times).

I think it could be included in this plugin, but there are several things to handle:
- I wouldn't worry about the Shareable Configs note where we warn about not mixing more than one. Technically it's possible to do so, we only wanted to avoid people enabling both `dom` and `react` one sinc

[2021-05-05 10:36] mpeyper commented on #371
Sounds good to me.  I'm not sure where to start, but let me know how I can help.

While it would be uncommon, there's technically no reason why you can't.  I have seen examples of context providers being rendered with RTL and hooks consuming the context being rendered with RHTL in the same file, or making their own render helpers around `render` and `renderHook` what use common providers for both

[2021-05-05 11:15] Belco90 commented on #371
I think you can start by creating the necessary rule files first (it's a shame we don't have the scaffolding in place for it yet, but CONTRIBUTING should guide you through it) and extending [`SUPPORTED_TESTING_FRAMEWORKS`](https://github.com/testing-library/eslint-plugin-testing-library/blob/632b492612d9b03d4f56926e2924399a049a3fb0/lib/utils/types.ts#L30-L35) to include `react-hooks` one (you'll h

[2021-05-05 22:12] mpeyper commented on #371
Thanks for the pointers. I'll try to get started on this soon, but if anyone else reading this wants to take it on, please feel free to do so. I'm also available to give input, opinions and reviews for it if that helps.

[2021-05-06 08:12] Belco90 commented on #371
Cool! I'm busy with other issues at the moment, but I can take care of this one when I handle all of them.

Leaving here more pointers for the rule implementation:
- I think it could be called `no-destructure-result-current`
- The basic idea for detecting the code violation would be:
  1. Look for destructured values: `VariableDeclarator` with `id` of type `ObjectPattern`
  2. From nodes obtained

[2021-05-06 09:37] mpeyper commented on #371
I know I've used destructuring in all my examples, but the same would be true for a regular old variable declaration:

[code]

I assume that would still be a `VariableDeclarator` but with a different `id` type?

[2021-05-06 10:16] Belco90 commented on #371
Of course, 🤦 that's a really good point!

Indeed, that's a `VariableDeclarator` with an `id` of type `Identifier`.

You can compare both here: https://astexplorer.net/#/gist/4fc3a82a692a2a82cab52e7c8371b2bb/66e9e82eab4a9814cadd22631364847b0e2ad1bc

[2021-05-06 10:27] florianmatz opened #372 "Allow saving "within" to variable for rule "Suggest using screen while querying (testing-library/prefer-screen-queries)""
According to the rule using

[code]
is allowed.

However, saving the result to a variable

[code]

to re-use it, results in the warning.

[2021-05-06 11:09] Belco90 commented on #372
Hi @florianmatz!

Could you confirm what version of the plugin are you using? Thanks!

[2021-05-06 11:39] florianmatz commented on #372
Hi, thanks for the fast reply:

Using the following eslint / testing-library related packages:

[code]

Config:

[code]

[2021-05-06 13:27] Belco90 commented on #372
This is a legit bug, thanks for reporting! I think I have an idea where the issue is located. I'll try to handle this one soon after #359 and #368.

[2021-05-06 14:37] julienw commented on #367
So I tried to find smaller testcases. In our project we use a custom module, and we make a heavy use of "setup" functions returning `getByXXX` functions. But as far I understand this plugin should agressively find them because we didn't disable the agressive behavior.
I think that all cases where the plugin wouldn't find an incorrect usage in our code comes from this pattern. All usages where we u

[2021-05-06 19:56] Belco90 commented on #367
Oh wow, amazing analysis! This is really helpful, thank you so much.

Interesting findings. It could definitely be the code bit you highlighted. I hope I can spend some time soon checking this.

[2021-05-07 11:42] zaicevas opened #373 "New rule proposal: `prefer-appearance`"
In a lot of cases, we're able to choose to:
- a) wait for appearance with async utility (waitFor/findBy)
- b) wait for disappearance with `waitForElementToBeRemoved` and then use synchronous query (e.g. getByText)

I am thinking we could have a rule to enforce one over the another 🤔  Example:

[code]

There are some more tricky cases:

[code]

This is more of a idea-level proposal, I haven't dived

[2021-05-07 12:14] Belco90 commented on #373
Hey @zaicevas, thanks for your proposal!

It would be nice to report such a use case, but to be honest, it seems really tricky to report this correctly.

Some tricky scenarios:
- Knowing if `waitForElementToBeRemoved` and the following query are strictly related. It might be the case that `waitForElementToBeRemoved` is used to wait until some element disappears (like a modal) but the element being

[2021-05-07 18:22] zaicevas commented on #373
Thanks for feedback! I think your 1st point (`the element being queried after is already there`) is enough to convince me that such rule is too tricky to implement, as we can't infer how the component is written :) Closing this issue.

[2021-05-07 18:22] #373 closed

[2021-05-09 11:40] Belco90 commented on #367
Ok, I think this is related to #372 and "just" reworking the rule internally will handle this properly. I'm working on this, I'll get back when I've refactored the rule to see if this is solved.

[2021-05-09 14:01] #359 closed

[2021-05-10 00:50] johan opened #375 "Slip in eslint --fix rule for `jest-dom/prefer-to-have-style`"
With `eslint --fix`, this code:
[code]
should auto-correct to:
[code]
…but currently auto-corrects to the opposite:
[code]

(The current behaviour is correct for values `null` and `undefined`; I'd expect there's a falsey-ness slip, somewhere.)

[2021-05-10 07:42] Belco90 commented on #375
Hey @johan! I'm sorry but this is the repo for `eslint-plugin-testing-library`, but the rule you have issues with is `eslint-plugin-jest-dom`. You need to [report the issue in that repo](https://github.com/testing-library/eslint-plugin-jest-dom/issues/new).

[2021-05-10 07:42] #375 closed

[2021-05-10 08:53] MichaelDeBoey commented on #375
@johan I even think this is the expected behavior tbh as you're checking for an empty string as value of an attribute, so that's the same as not having the attribute.

[2021-05-10 20:09] leosuncin commented on #367
Another example of false positive, it fails when import `queries` from `@testing-library/react`

[code]

And another one, it fails when import `getByRole` from `@testing-library/react`

[code]

[2021-05-10 20:12] leosuncin commented on #367
The version I'm using is 4.2.0 with the next settings:

[code]

[2021-05-11 21:30] #259 closed

[2021-05-12 10:10] rdelgatte opened #379 "Issue with testing-library/render-result-naming-convention"
Since migrating to the latest version of the library, I have some troubles / questions about this rule as it triggers an error whenever I have a function whose name contains `render` even though it isn't related to `testing-library` at all.

Here is the dumbest example I have:
![image](https://user-images.githubusercontent.com/11570518/117957777-ae510900-b31a-11eb-9360-22e54af56c87.png)

[code]

I

[2021-05-12 10:16] rdelgatte opened #380 "testing-library/no-node-access - recommended way to deal with children nodes / classnames"
What is the recommended way to deal with children nodes / to look for a specific item by its classname and testing library rules?

Here is an example of something I wrote earlier and I can't figure out how to fit the rules expectations to get the same result.

[code]

Also, what about looking for html elements by their classname like using `getElementsByClassName`, is there any workaround to do th

[2021-05-12 10:25] Belco90 commented on #379
Hey @rdelgatte! This is probably related to Aggressive Reporting. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

[2021-05-12 11:47] kirkobyte opened #381 "testing-library/no-debug reporting on non-React Testing Library debug methods"
The `testing-library/no-debug` rule is incorrectly reporting a warning on a line in my codebase: `Logger.getInstance().debug({})`, where `getInstance` returns an instance of a `Logger` class, which is unrelated to any of the Testing Libraries.

I'm using version `4.3.0` of the library, with the rule enabled by extending `plugin:testing-library/react`.

[2021-05-12 11:57] Belco90 commented on #380
Hey @rdelgatte! This is a tricky question.

First of all, it's really difficult to suggest "how to query elements for passing your tests" without seeing the actual test. In order to avoid using `children` or `getElementsByClassName` you could need to change the way your test is implemented.

Secondly, the purpose of the rule is actually to force you to change the way you query the elements so it's

[2021-05-12 12:18] Belco90 commented on #381
Hey @kirkobyte! This is probably related to Aggressive Reporting. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

[2021-05-12 13:14] rdelgatte commented on #380
Hello @Belco90

Thank you for your quick and relevant feedback, this definitely helps understanding the mindset here (not relying over the implementation) and I also try to challenge the way the assertions are done. I've been relying over a property-based testing library to generate random datasets (like a list of articles with randomly-generated attributes values), that's why I can't rely over so

[2021-05-12 13:14] #380 closed

[2021-05-12 13:20] rdelgatte commented on #379
Hello @Belco90 I've tried digging into this section (thank you for the link, I didn't see it) but I can't figure out how to deal with that.
Does this apply for all the rules (as `testing-library/render-result-naming-convention`)?
What if I want the examples below to not raise any issue because it is not related to testing-library `render` function?

I wouldn't expect the result variable to be eith

[2021-05-12 13:24] kirkobyte commented on #381
Hey @Belco90, oh right. Yeah, that does seem to be the case. So I suppose the solution would be to move `extends: ['plugin:testing-library/react']` to the overrides section and only apply it to test files?

[2021-05-12 13:30] MichaelDeBoey commented on #379
@rdelgatte Do you maybe have a reproduction repo where you have the least amount of code to come across this error?
That could help us in understanding your use-case.

[2021-05-13 22:48] Belco90 commented on #380
Yeah, I'm afraid there is no particular mindset around that apart from changing the approach of your asserts. Anyway, a couple of extra notes:

- [`jest-dom`](https://github.com/testing-library/jest-dom) could make it easier for you to assert the desired elements. Matchers like `toContainElement` or `toContainHTML` might be helpful for you.
- Even if generate random datasets, you should be able to

[2021-05-13 22:55] Belco90 opened #382 "`no-unnecessary-act`: option for strict reporting"
Since the current implementation of `no-unnecessary-act` doesn't report `act` usages with react-testing-library calls inside if mixed with non-react-testing-library, it would be interesting to add a new `isStrict` option (`false` by default) which makes the rule to always report react-testing-library calls inside `act` no matter if mixed with non-react-testing-library.

[2021-05-13 22:56] Belco90 commented on #382
@zaicevas this is the issue I mentioned to tackle the strict reporting in `no-unnecessary-act`.

[2021-05-13 23:01] Belco90 commented on #381
If you are getting errors from `testing-library/no-debug` in non-testing files, that would fix it.

However, if you are getting errors reported in testing files, you would need to use [the shared settings](https://github.com/testing-library/eslint-plugin-testing-library#shared-settings) to narrow `eslint-plugin-testing-library` detection. If this is the case and you are not sure how to handle it,

[2021-05-13 23:15] Belco90 commented on #379
Yes. The new detection mechanism introduced in version 4 applies to all rules. Depending on what is being reported, then different parts of the mechanism related to imports, renders, or queries would apply.

It depends on how you want to narrow `eslint-plugin-testing-library` reporting! If you are getting those errors reported in non-testing files, then [set up the plugin to be only run against yo

[2021-05-13 23:45] Belco90 commented on #294
Closing this ticket and adding the renaming to [the list of things to do on the next major](https://github.com/testing-library/eslint-plugin-testing-library/discussions/376).

[2021-05-13 23:45] #294 closed

[2021-05-14 09:23] Belco90 opened #384 "Migrate codebase ESLint config"
Our current ESLint config is based on `eslint-config-standard`, which have the following issues:

- it hasn't been updated recently, which leads to inconsistent peer deps range. This is causing peer deps issues when working with npm v7, which is preventing us from running the CI with node v16 (see #350)
- this config aims to fix style issues too, which we are not interested in since we use prettie

[2021-05-15 17:03] kirkobyte commented on #381
Fortunately, the method currently isn't used inside any tests. But if it was, it would also report the rule violation there. For the time being it fixes things for us. But do you think it would be good to change how the detection of the `debug` method works to be more specific? Checking that it's either returned from `render` or called off of `screen`?

[2021-05-15 18:03] johan commented on #375
🥂 Thanks for the redirection and sorry about the noise! 🤠

[2021-05-16 17:52] Belco90 commented on #381
This could definitely be an improvement for the rule (and probably other rules). I don't have the time to address this right now, but I'm leaving the ticket open in case someone else can take care of it.

Thanks for reporting the issue!

[2021-05-16 21:14] Snapperfish opened #386 "Library incorrectly report no-node-access when referencing props.children"
Library complains `Avoid direct Node access. Prefer using the methods from Testing Library.` for the following code `props.children`:

I want to be able to insert children, or a default node.

[code]

See [https://stackoverflow.com/q/67099835/481207](https://stackoverflow.com/q/67099835/481207)

[2021-05-16 23:11] Belco90 commented on #367
Hey @julienw! I made some progress and identified the problem, but will take me a while to solve it. I basically got the rule refactored so it's easier to spot the issue, but there are different things to improve to solve the problem described here.

[2021-05-17 07:58] Belco90 commented on #386
Hey @Snapperfish, thanks for reporting this issue!

For clarifying the issue: this happens on testing files too, so restricting the plugin to be run against test files only won't fix it.

I think we should treat this as a bug then, but not really sure how to prevent it. The rule shouldn't report node accesses if coming from function args? There are still some cases that should be reported:

[code]

[2021-05-17 20:40] MichaelDeBoey commented on #386
That could already be a start I think.

[2021-05-18 15:30] #384 closed

[2021-05-18 22:49] Belco90 commented on #372
Hi again @florianmatz! I've tried to reproduce the problem you described, but it seems to be working fine. Could you check if the example you mentioned is the correct one to reproduce the issue, please?

[2021-05-22 21:01] #367 closed

[2021-05-23 14:43] julienw commented on #367
Thanks so much for the fix !

[2021-05-26 07:08] florianmatz commented on #372
Hi, yeah it still is. Kind of...

It does not warn, when I save the context directly in a test:

[code]

But, when I have for instance a helper function that returns a context

[code]

So, there is some improvement but in some conditions the problem still exists. Sorry for the late response.

[2021-05-26 07:38] Belco90 commented on #372
Thanks for the new example. I don't think this rule is ready nested variables like this, so it would need some improvements. I can't handle this at the moment, but leaving it as a bug in case someone else can take care of it.

[2021-05-26 07:51] Belco90 commented on #242
Any ideas about how to suggest updating the plugin to v4 in a CRA project using v3 when dependencies are managed with npm? The only thing I can think of is disabling CRA internal ESLint and reinstall ESLint + plugins directly in the project so the user has full control of it, but I would like to avoid this way.

[2021-05-26 09:54] YozhEzhi commented on #381
Hi! Have same trouble.

`running eslint-plugin-testing-library only against testing files` didn't help me.

[2021-05-26 09:59] YozhEzhi commented on #381
For now I'm using this workaround.

[code]

[2021-05-26 10:10] Belco90 commented on #381
@YozhEzhi thanks for sharing!

Regarding your `overrides` config, I'm not sure if the `files` glob pattern is correct. Could you try with `"**/__tests__/**/*.[jt]s?(x)"` so you indicate the file extension properly?

[2021-05-26 14:18] YozhEzhi commented on #381
Sorry, forget to mention that I've tried this:

[code]

And it works as I expected: all codebase has OFF rule, but tests have ERROR for this rule.

[2021-05-31 08:15] julienw opened #391 "Some more false negative for testing-library/prefer-screen-queries"
Hey @Belco90
I just upgraded to the new version that fixed #367, and I am reporting that it indeed reported new cases...but not all of them!

For example these cases aren't reported still: https://github.com/firefox-devtools/profiler/blob/1c5dfed055f864413b3a62e43ca2d27b074d6108/src/test/components/CallNodeContextMenu.test.js#L107-L112

I'm pretty sure this is because of the spread operator. And i

[2021-05-31 08:55] Belco90 commented on #391
Hey @julienw! Thanks for reporting more feedback about `prefer-screen-queries` rule. It definitely seems the rule is not ready for the spread operator.

[2021-06-04 13:18] ryanjwessel commented on #80
One thing I noticed when extending the React preset rules for a React Native project, this rule leads to a significant amount of errors: `"testing-library/prefer-screen-queries"`

React Native Testing Library does not export `screen` and recommends you destructure the queries from the render method itself.

[2021-06-04 14:48] Belco90 commented on #80
Hello @ryanjwessel! We still need to work on proper preset rules for React Native, so I'm afraid the React one won't fit 100%. A good example is `prefer-screen-queries`, but we need to double-check other rules.

[2021-06-08 11:53] rosczja commented on #348
Hi @Belco90 , thanks again. Works for me, too.

[2021-06-08 13:15] Belco90 commented on #348
@rosczja I'm glad it works! I'm closing the issue then.

[2021-06-08 13:15] #348 closed

[2021-06-12 14:58] gndelia commented on #261
I'm taking this one so stale bot doesn't close it 😆  I'll tackle it during the week

[2021-06-14 11:36] zaicevas opened #396 "`await-async-query` does not report inside waitFor"
[code]

I would expect `await-async-query` to report such usage ⬆️ As I understand it, there is little sense in mixing `waitFor` and `find*`. You either use on or the another 🤷

[2021-06-14 12:46] gndelia commented on #396
Hi @zaicevas ! Thanks for posting. The rule you mentioned seems to be related to handling the promises from findBy* methods [as the docs state](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/await-async-query.md)

In that sense, I don't think it should worry about mixing those methods with `waitFor`. I do agree with you that the scenario you pointed out makes

[2021-06-14 13:07] Belco90 commented on #396
I agree with @gndelia: this makes more sense withing `prefer-find-by` rule, since from a point of view of handling promises your example is fine for `await-async-query`.

[2021-06-15 17:22] robatwilliams commented on #345
I'm going to close this myself. It's such a basic issue that anybody writing tests should understand.

[2021-06-15 17:22] #345 closed

[2021-06-20 12:47] Belco90 commented on #279
I still want to implement this one!

[2021-06-24 15:38] zaicevas opened #399 "New rule: reporting `getBy*` inside `waitForElementToBeRemoved`"
[Docs](https://testing-library.com/docs/guide-disappearance#waiting-for-disappearance) use `queryBy*` in examples of waiting for disappearance. AFAICS one could use either `getBy` or `queryBy` and both would work with `waitForElementToBeRemoved`. However, different error messages are displayed if the element is initially not present:

[code]

The error message when using `queryBy` is more descript

[2021-06-28 09:41] Belco90 commented on #399
Hey @zaicevas! This looks like a nice proposal for a new rule. I guess it could be named `prefer-wait-for-removed-query` or something similar (I don't have anything better in mind).

Would you like to work on this?

[2021-06-28 16:57] Belco90 opened #400 "Add template for Pull Requests"
Add template for Pull Requests so:

- user can follow some guidelines to fill in the details about the PR
- flag and track necessary checks have been addressed

Necessary checkbox to track necessary checks are:
- Rules list has been regenerated if any rule has been created/updated/removed (as discussed in https://github.com/testing-library/eslint-plugin-testing-library/issues/397#issuecomment-8697

[2021-07-02 15:04] zaicevas commented on #399
I'll take a look at it this weekend and evaluate how big of an effort it is going to be.

[2021-07-03 14:49] zaicevas commented on #399
Yes, I'll work on it. I've already started implementing the new rule.

Regarding the name - what about `prefer-query-by-disappearance` ?

[2021-07-03 15:42] Belco90 commented on #399
I like that name! 🚀

[2021-07-03 16:12] julienw commented on #366
I was thinking that another workaround is doing something like
[code]
By avoiding the destructuring.

[2021-07-03 16:39] julienw commented on #391
If I understand properly the current implementation for the rule, it tries to follow where variables were declared, so that when there's a call with eg `getByText` the rule can decide if the variable is legit. My understanding is that the rule minimizes the false positives. I would like to suggest that it could minimize false negatives instead: the reason is that it's easy to silence false positiv

[2021-07-04 12:25] #261 closed

[2021-07-05 11:36] mpeyper commented on #371
This is still on my todo list, but I haven't had much time to look at it recently and not sure when I will have time.

[2021-07-05 18:44] nickmccurdy opened #403 "False positive for testing-library/no-await-sync-events"
Using `await` with `userEvent.type`'s `delay` option is correct, but is incorrectly flagged as a lint error.

[code]

[2021-07-06 10:36] #399 closed

[2021-07-06 11:46] zaicevas commented on #382
@Belco90 do you mind if I'll try to implement it?

[2021-07-06 11:54] Belco90 commented on #382
By all means! I won't have much spare time during summer, so I'd really appreciate if you can take care of this one.

[2021-07-06 14:26] #382 closed

[2021-07-09 05:53] AriPerkkio opened #405 "prefer-user-event: Cannot read property 'value' of undefined"
Hello, `prefer-user-event` rule seems to crash in certain cases. This issue was spotted by automated CI run - it is not blocking my development or anything.

https://github.com/AriPerkkio/eslint-remote-tester/issues/210#issue-940151923

[code]

[code]

### Minimal repro:

[code]

[code]

<details>
  <summary>Crash reports from real projects</summary>

## Rule: prefer-user-event

-   Message: `Cann

[2021-07-09 11:26] Belco90 commented on #405
@AriPerkkio Interesting, thanks for reporting!

@gndelia do you think it could be related to #261 ?

[2021-07-09 13:31] cuongluu8 opened #406 "testing-library/prefer-find-by doesn't seem to be working"
I have it enabled in my `eslintrc.js` config file.

[code]

[code]

The above code doesn't seen to be coming up with an error.

Using v4.9.0

[2021-07-09 16:43] IAMtheIAM opened #407 "Definition for rule 'testing-library/no-wait-for-multiple-assertions' was not found testing-library/no-wait-for-mult iple-assertions"
This rule does not work following the documentation:

        "eslint-plugin-testing-library": "4.9.0"

[code]
[code]

What is the correct way to use this rule?

[2021-07-10 09:02] Belco90 commented on #406
Hello @cuongluu8!

Since you are restricting `eslint-plugin-testing-library` to `"*.test.js"` files, could you share the path and name of the file where the error is not reported? Are other `eslint-plugin-testing-library` problems reported in that file?

[2021-07-10 09:11] Belco90 commented on #407
Hi @IAMtheIAM!

I've installed v4.9.0 and mimic your config, but I'm not able to reproduce this error. Can you share a small demo or more context of your ESLint config?

[2021-07-10 10:36] cuongluu8 commented on #406
Yes, changing `testing-library/no-node-access` to `error` will report errors in the same test file, so I know my setup is working

[2021-07-10 15:18] gndelia commented on #405
There's a high chance. I'll look into it during the weekend!

[2021-07-10 18:05] Belco90 commented on #406
Ok, I think I just found out why

[code]

The callback you are passing to `waitFor` is not returning anything. I'd say from memory the rule only reports queries returned from the callback. Can you try returning the query?

That's potentially an issue since you need to return something to be awaited.

[2021-07-11 21:54] nickmccurdy commented on #403
This might be just another reason for us to always return a Promise on `userEvent.type` in the next major.
@ph-fritsche in https://github.com/testing-library/user-event/pull/693#discussion_r664250440

[2021-07-12 07:25] cuongluu8 commented on #406
you're right!

But I'm thinking this rule should pick this up?  Also why playing around I'm also thinking this rules should error on this
[code]
This is based on https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#using-waitfor-to-wait-for-elements-that-can-be-queried-with-find

[2021-07-12 08:04] Belco90 commented on #406
I guess that should be another rule, another ESLint plugin, or even caught with TS if possible.

I'd say that's also out of the scope of this rule since there is an assertion inside `waitFor` and you might want that rather than using a `findBy*` query.

Closing the issue then since the original problem is solved.

[2021-07-12 08:04] #406 closed

[2021-07-13 18:18] MichaelDeBoey commented on #400
This one can be interesting too 👀
https://github.blog/2021-07-13-whats-new-github-changelog-june-2021/#github-issues

[2021-07-13 18:39] Belco90 commented on #400
Yes! I asked beta access to it but still nothing. I'll enable it as soon as we have it.

[2021-07-14 17:19] IAMtheIAM commented on #407
Hey, so the error strangely only occurred when running `react-scripts start`, but not when running `react-scripts test`.  So I'm not sure why that would happen, any ideas?

.eslintrc config below

[code]

[2021-07-15 09:58] Belco90 commented on #407
Ooh, I see, so you are using Create React App. There are few things when using this plugin with it.

First of all, `react-scripts` is using version `^3.9.0` of this plugin. That means that if you install this plugin independently, `react-scripts` will still use a version previous than 4. This is causing the issue mentioned in the description of this issue, since version 3 doesn't have the rule `no

[2021-07-15 09:58] #407 closed

[2021-07-16 23:04] Belco90 commented on #386
I definitely need to avoid stalebot to close issues with bug label 😅

[2021-07-18 11:41] zaicevas opened #409 "Extend `prefer-explicit-assert` to report `findBy*` and `waitFor`"
With `prefer-explicit-assert` enabled, `getBy*` usages without `expect` are reported, but `findBy*` and `waitFor` are not reported:

[code]

What if we extended `prefer-explicit-assert` to report all of the above cases? 🤔

[2021-07-18 12:04] zaicevas opened #411 "New rule: force `waitForElementToBeRemoved` when `waitFor` is used to wait for disappearance"
We could have a new rule that reports `waitFor` in cases where `waitForElementToBeRemoved` could be used. Could be named `prefer-waiting-for-disappearance` or something similar.
From the implementational side, it'd probably make sense to look for RTL queries inside `waitFor` and some specific matchers, such as `.not.toBeInTheDocument()`, `.toBeFalsy()`, etc.

[code]

I am also curious about the fa

[2021-07-18 12:42] zaicevas opened #415 "New rule: force passing a callback to `waitForElementToBeRemoved`"
`waitForElementToBeRemoved` takes either a callback or an element as a parameter:

[code]

Most of the time both would work, but these 2 notations are not equivalent. When passing an element, we depend on React to mount/unmount a DOM node. In some cases, React can choose to update element's `textContent`, but keep the underlying DOM node intact. You can read more about it and play with a codesandb

[2021-07-18 19:48] Belco90 commented on #409
Hey @zaicevas! Few comments about this improvement idea.

What about `findBy*` usage saving returned element within a var? That should not be reported.

Not really sure about reporting `waitFor` + `getBy*` query, since inside `waitFor` callback the user might have other necessary stuff there.

I'd go just for reporting `findBy*` usages for now. What do you think?

[2021-07-18 19:58] Belco90 commented on #411
This is an interesting one, few comments about it.

I think the list of "disappearance matchers" is already in the codebase, so we should aim to report that list.

I don't think the 2nd case you exposed would be in the scope of this rule. `queryBy*` + presence matcher is already reported by `prefer-presence-queries`, and reporting `waitFor` + presence matcher would fit better in `prefer-find-by` o

[2021-07-18 19:59] Belco90 commented on #415
I'm not sure if I'm following at all the problem you exposed here.

Apart from that, passing an element already queried and saved in a var is interesting in some cases when using `waitForElementToBeRemoved`.

[2021-07-19 07:03] zaicevas opened #416 "Bug: `isStrict` option in `no-unnecessary-act` only reports strict violations"
With `isStrict: true` the `no-unnecessary-act` rule only reports mixed RTL+non RTL calls, but does not report `act` with only RTL calls, which is the behaviour without `isStrict` enabled.

[code]

I'll take a look at this one when I have the time.

[2021-07-19 07:41] Belco90 commented on #416
This should have been caught by some test 😞

[2021-07-19 08:20] zaicevas opened #417 "Bug: `no-unnecessary-act` reports non-RTL promise"
`no-unnecessary-act` with `isStrict` OFF reports a mocked promise that has nothing to with RTL:

[code]

[2021-07-19 18:58] zaicevas commented on #415
Consider https://codesandbox.io/s/testing-userevent-the-proper-way-forked-mx356?file=/src/App.js.

It seems counter-intuitive that passing a callback works fine, but passing the element makes the test fail:
[code]

[2021-07-19 19:48] zaicevas opened #420 "feat(prefer-find-by): report `waitFor` with presence matchers"
Originally mentioned in https://github.com/testing-library/eslint-plugin-testing-library/issues/411#issuecomment-882109271

`prefer-find-by` could report presence matchers (`.toBeInTheDocument()`, `toBeDefined()`, etc) that are used in conjunction with RTL queries. Currently, `prefer-find-by` does not report such cases:

[code]

[2021-07-19 19:49] zaicevas commented on #411
Fair point.

Makes sense! I created an issue for it https://github.com/testing-library/eslint-plugin-testing-library/issues/420

[2021-07-19 20:10] zaicevas commented on #409
Makes sense to me, since `const foo = screen.getByText('hey')` is not reported and there's no reason the behaviour should be different for `findBy*`

Can you give an example to better understand what you have in mind?

Sure, I'd imagine these 2 cases having separate PRs anyway.

[2021-07-20 01:31] #379 closed

[2021-07-20 09:21] #356 closed

[2021-07-20 09:25] #405 closed

[2021-07-20 09:38] Belco90 commented on #409
I don't have a really clear example in mind, to be honest. This is similar to `no-unnecessary-act` rule assuming there could be non-react-testing-library things inside `act`, in which case we need to allow.

This is a stupid example, but I'm not sure it should be reported:

[code]

It's obvious it should be rewritten to just do `await screen.findByRole('button')` instead of the whole `waitFor`, bu

[2021-07-20 09:46] Belco90 commented on #415
Ok, got it. I ran into this in the past, but I thought you actually were exposing a different issue!

I think it's a good idea then if:

1. we give a brief explanation of the motivation behind this rule
2. it only reports queries within `waitForElementToBeRemoved` but doesn't report callbacks or elements saved in a var.

[2021-07-20 10:25] #417 closed

[2021-07-20 11:22] #409 closed

[2021-07-21 07:49] HonkingGoose commented on #400
The Issue Forms feature is available for all public repositories, so you don't have to wait for anything. 😉

The new Forms feature is **not available** for pull requests, sadly....

---

I can make a bug report Issue Form and create a basic pull request template, if you want.
I do need a lot more information from the maintainers before I can start building the form/template. 😉

## Questions about

[2021-07-21 08:38] Belco90 commented on #400
You are right, I confused myself with the new issues board 🤦‍♂️ . The issue form is available for sure since we used it in Octoclairvoyant.

---

In order to report bugs (and also for new feature issue form), the idea would be to have something similar to ESLint one but simplified. Let me answer those questions!

**What information must a bug reporter provide (operating system, npm version, node v

[2021-07-21 09:13] #416 closed

[2021-07-22 09:33] HonkingGoose commented on #400
I think we still want forms for:

- [ ] propose a new rule
- [ ] request a rule change
- [ ] request a general change

@Belco90 Can you explain the requirements for these forms?

[2021-07-22 09:52] Belco90 opened #430 "Add remaining issue forms"
Moving remaining issue forms from https://github.com/testing-library/eslint-plugin-testing-library/issues/400#issuecomment-884778671 to this issue.

We still want issue forms for:

- [x] Propose a new rule
- [x] Request a rule change
- [x] Request a general change

Here are the details I think we need from each (heavily inspired from ESLint ones):

### Propose a new rule
Labels: `new rule`
Fields:

[2021-07-22 09:52] Belco90 commented on #400
I've moved those remaining issue forms to #430 so we can close this one. Thanks @HonkingGoose!

[2021-07-22 09:52] #400 closed

[2021-07-22 10:10] HonkingGoose opened #431 "Prevent empty issues, redirect issues that should go upstream"
Once we're done with #430, we can think about forcing contributors to use the provided forms.

We can also configure the template chooser (screen you see when you click "new issue") to show a button with a link to upstream projects like ESLint with a custom text. This can help re-direct unwanted stuff to the proper place. 😉

Example `config.yml`:

[code]

Read [GitHub Docs, configuring the templat

[2021-07-22 10:22] HonkingGoose commented on #430
@Belco90 Is this ready for me to start work on, or do you want to discuss this with your team first?

[2021-07-22 10:23] Belco90 commented on #431
Oh nice, I didn't know this was possible! I like this idea.

[2021-07-22 10:24] Belco90 commented on #430
Let's see what @MichaelDeBoey and @gndelia think about it!

[2021-07-22 10:47] MichaelDeBoey commented on #430
Looks good to me! 👍

[2021-07-22 12:48] Belco90 commented on #430
I think we are good to go, and we can update the forms later if @gndelia has some feedback.

[2021-07-23 09:27] HonkingGoose commented on #430
We now have PRs for all 3 forms. 😉

[2021-07-23 10:25] #431 closed

[2021-07-23 10:26] Belco90 commented on #430
All sorted now, thank you very much for your contribution @HonkingGoose!

[2021-07-23 10:27] Belco90 commented on #430
@all-contributors please add @HonkingGoose for maintenance

[2021-07-23 10:27] #430 closed

[2021-07-23 10:43] HonkingGoose opened #437 "Migrate from Dependabot to Renovate bot"
### Plugin version

not relevant to proposal

### What problem do you want to solve?

I see maintainers reject Dependabot updates. If you reject a Dependabot update you lose all visibility into the fact you rejected that update.

Dependabot also does not group updates together in a logical way so you need to manually change things, instead of getting a sensible PR you can merge right away.

### Yo

[2021-07-23 10:45] HonkingGoose commented on #430
You're welcome! 😄

[2021-07-23 11:38] MichaelDeBoey commented on #437
I think we're fine with Dependabot in this repo tbh.

It's a built-in tool from GitHub and we didn't reject any PR either.
All other TL repos are using Dependabot too, so it's nice to have that consistency and not to add an app to the org just for this repo.

Grouping packages is currently not possible with Dependabot, but I read a while ago that it's coming in the (near) future, so that would be

[2021-07-23 11:39] MichaelDeBoey opened #438 "Propose a new rule"

[2021-07-23 11:40] #438 closed

[2021-07-25 09:14] HonkingGoose commented on #437
If you're happy with the setup you have now, there's no need to keep this issue around.

So, I'll close the issue. If you ever do want to migrate to Renovate bot, ping me. 😉

[2021-07-25 09:48] Belco90 commented on #437
I'm happy with Renovate in my other project, but I think Dependabot is ok for this one (for now at least).

One thing I'd like to know tho: would Renovate be smart enough to trigger a semver patch release when bumping a production dependency?

[2021-07-25 10:05] HonkingGoose commented on #437
I think you use `semantic-release`, that triggers based on the commit prefix (like `chore:`, `fix:` and so on)?

Read this first: [Renovate docs covering Semantic Comits](https://docs.renovatebot.com/semantic-commits/).

Renovate comes with presets that you can put in the `extends:` array, like:

- [Renovate docs, preset `:semanticPrefixChore`](https://docs.renovatebot.com/presets-default/#semanti

[2021-07-25 10:08] Belco90 commented on #437
This is really interesting! Probably a selling point for me, but we would need to set it up so it doesn't bump the dependencies so often. I'd like to revisit this in the future then.

[2021-08-01 09:36] #242 closed

[2021-08-01 16:22] #381 closed

[2021-08-03 16:06] azarbayejani opened #445 "`testing-library/render-result-naming-convention` failing on file where testing-library is not even imported"
### Plugin version

v4.10.1

### ESLint version

v7.12.1

### Node.js version

12.x

### npm/yarn version

yarn 1.22.10

### Operating system

macOS Big Sur, version 11.5.1

### Bug description

The eslint rule `testing-library/render-result-naming-convention` is failing on a file that doesn't even import anything from `@testing-library`. Possibly due to another function named `render`?

For examp

[2021-08-03 16:22] Belco90 commented on #445
Hi @azarbayejani!

I'm afraid that const saving the returned value from `renderText` is being reported because of [`eslint-plugin-testing-library` Aggressive Reporting](https://github.com/testing-library/eslint-plugin-testing-library#aggressive-reporting).

There are different ways of addressing this, you can check that in [the Troubleshooting section](https://github.com/testing-library/eslint-plu

[2021-08-03 16:50] azarbayejani commented on #445
I also expected that to work, but it did not!

It's complaining about this assignment:

[code]

[2021-08-03 17:00] azarbayejani commented on #445
Ok, turning off `testing-library/custom-queries` also fixes this. I thought Aggressive Reporting was only going to happen if I called a function called `renderText`, not just if I reassigned it.

I ended up just renaming the variable.

[2021-08-03 17:05] Belco90 commented on #445
If that `renderHaml` function is not placed in a testing file, then I'd suggest enabling `eslint-plugin-testing-library` only on testing files through `overrides` ESLint config key. That way, you make sure the plugin will lint just code from testing files.

[2021-08-03 20:27] Quanyails opened #447 "`no-await-sync-query`: false positive in non-test code"
### Plugin version

4.6.0

### ESLint version

7.17.0

### Node.js version

12.13.1

### npm/yarn version

6.12.1

### Operating system

macOS Catalina, Version 10.15.7

### Bug description

Related to: #122

We're running into a false positive from this rule triggering outside of test files. In particular, it seems to match on any async function that starts with `getBy*`, regardless of whether th

[2021-08-03 22:53] Belco90 commented on #447
Hi @Quanyails!

I'm afraid that method is reported because of [`eslint-plugin-testing-library` Aggressive Reporting](https://github.com/testing-library/eslint-plugin-testing-library#aggressive-reporting), which is assuming `getBytes` is a Testing Library related util since starts by `getBy*`.

There are different ways of addressing this, you can check that in [the Troubleshooting section](https://

[2021-08-03 22:54] #445 closed

[2021-08-09 09:11] julienw opened #449 "Please provide an option to remove the matching of findBy queries by the prefer-explicit-assert rule"
### What rule do you want to change?

prefer-explicit-assert

### Does this change cause the rule to produce more or fewer warnings?

Fewer warnings

### How will the change be implemented?

An option `matchFindByQueries` will be added, true by default.
When it's set to `false` the rule won't match these queries.

### Example code

[code]

### How does the current rule affect the code?

The curren

[2021-08-09 09:29] julienw commented on #449
Alternatively, as I see there's no option in the existing rules, maybe we can make these 2 use cases 2 separate rules? What do you think?

[2021-08-09 11:52] YozhEzhi commented on #381
Reopen, please.

[2021-08-09 12:06] Belco90 commented on #381
Hey @YozhEzhi! Not sure what's the expected outcome for this ticket.

I just realized about an issue in your config now:

[code]

The line where you are pointing the error is setting the wrong rule: it should be `testing-library/no-debug` instead of `create-widget/testing-library/no-debug` (not really sure from where you got that prefix).

[2021-08-09 12:09] Belco90 commented on #449
Hi @julienw! Thanks for your suggestion, I think it definitely makes sense to have this as a rule option, but I'd like to mention something:

I think this is debatable, since could end up in the same problem as using `get*` variants as assertions. Quoting [Common mistakes with RTL](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library#using-get-variants-as-assertions) post from wh

[2021-08-09 17:06] julienw commented on #449
Yeah, I fully agree for the `getBy*` assertions :-)
But I very often use the `findBy*` as a `waitFor` rather than as a `waitFor and fail if not here`. When I looked at my codebase I found 2 places where I was using it as an assertion, but dozens where it was merely a `waitFor`.

Would you rather have it as an option or as 2 different rules? My concern with having an option is that as far as I know

[2021-08-09 23:04] wingy3181 commented on #55
Question: looking at the code and the tests...is it true that this only works for JSX?
I am trying to use this rule on an angular app but can't seem to get it working...im assuming the rule doesn't support html (from what i can see from browsing the code)

[2021-08-10 00:50] tknickman commented on #55
@wingy3181 that is correct - see [here](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/lib/rules/consistent-data-testid.ts#L101) for detail on the rule.

I'm sure contributions would be welcome to make it work for angular/html as well, I sadly don't have the time at the moment to make those additions.

[2021-08-10 00:52] wingy3181 commented on #55
@tknickman thanks for the quickly reply...yep that's the same line i saw...if i have some time i will see if i can make those additions.....

[2021-08-10 07:57] Belco90 commented on #55
Hey @wingy3181, thanks for bringing this up!

I didn't realize this was an exclusive React rule, to be honest, we should have made that clear in the rule description at least.

Would you mind reporting this in a new issue so we can track and handle it properly? Thanks!

[2021-08-10 08:26] Belco90 commented on #449
I'd have it as a rule option enabled by default.

I don't get this bit tho.

[2021-08-10 08:46] wingy3181 opened #451 "`testing-library/consistent-data-testid` is an exclusive React rule"
### Plugin version

v4.10.1

### ESLint version

v7.24.0

### Node.js version

v12.16.3

### npm/yarn version

npm 6.14.11/yarn 1.22.11

### Operating system

macOS Big Sur, version 11.5.1

### Bug description

`testing-library/consistent-data-testid` rule does not apply to angular templates (inline or external) and looking at code [here](https://github.com/testing-library/eslint-plugin-testing-li

[2021-08-10 09:33] Belco90 commented on #451
Thanks for reporting this in a separate issue!

[2021-08-16 14:23] julienw commented on #449
Just me missing that we already use options elsewhere, including for this rule. Forget about this remark!

I'll see if I can make this work.

[2021-08-16 14:38] Belco90 commented on #449
@julienw no worries! Would you like to work on this improvement then?

[2021-08-16 14:39] julienw commented on #449
Yes, I already started with a failing test :-)

[2021-08-16 14:41] Belco90 commented on #449
That's amazing! Let us know if you need help or guidance with anything ✨

[2021-08-16 15:43] #449 closed

[2021-08-24 12:43] #420 closed

[2021-08-24 18:01] zaicevas commented on #396
Should we reopen this issue?

[2021-08-25 07:49] Belco90 commented on #396
Sure! Let's reopen it. Are you interested in implementing this improvement?

[2021-09-04 13:16] MichaelDeBoey opened #462 "Support ESLint 8.x"
ESLint v8.0.0 is [released](https://eslint.org/blog/2021/10/eslint-v8.0.0-released) 🎉

This version contains a number of breaking changes which will prevent our tooling from working at all with it.

This project is maintained by volunteers. Support will be added as time permits.

If you're not willing or able to help with adding support:

- Please do not raise issues.
- Please do not comment on th

[2021-09-04 14:44] MichaelDeBoey opened #466 "[no-unnecessary-act]: add to React config by default"

[2021-09-04 14:46] MichaelDeBoey opened #467 "[no-debug]: rename to `no-debugging-utils`"

[2021-09-06 07:20] Belco90 commented on #462
Nice job @MichaelDeBoey! I've pinned this issue so other people can track ESLint v8 progress easier.

[2021-09-06 15:17] #467 closed

[2021-09-06 15:17] #466 closed

[2021-09-07 03:15] olesiaMartushkanova commented on #451
Hey everyone, I have the same issue with using the `testing-library/consistent-data-testid` rule for react project: it does not show error message even if rule is broken.

My rule:

[code]

Component to test this rule:
`export const foo = (props: any) => <div dataTest="WRONGTestIdEXAMPLE123"></div>;`

Could someone please have a look?

[2021-09-07 07:22] Belco90 commented on #451
Hi @olesiaMartushkanova! If I understood correctly, you are using this rule with React right? If that's the case, then that's a different error.

[2021-09-16 20:01] DaJoTo opened #475 "[prefer-explicit-assert] Incomplete expect statement causes TypeError"
### Plugin version

4.12.2

### ESLint version

7.32.0

### Node.js version

15.11.0

### npm/yarn version

yarn 1.22.10

### Operating system

macOS Big Sur, version 11.6

### Bug description

Leaving an incomplete expect statement with the `prefer-explict-assert` rule active breaks the linter.

### Steps to reproduce

* configure the `prefer-explicit-assert` rule to be active
* write a basic tes

[2021-09-17 00:24] Belco90 commented on #475
Hey @DaJoTo thanks for reporting this issue! Should be an easy one to fix, I think I can take a look during the weekend.

[2021-09-19 21:56] #475 closed

[2021-09-20 07:27] Belco90 commented on #475
@all-contributors please add @DaJoTo for bug

[2021-09-20 08:46] DaJoTo commented on #475
@Belco90 awesome that you got that patched so quickly. Thank you

[2021-09-20 09:08] Belco90 opened #478 "Breaking changes for next v5"
I have a couple of breaking changes I think we should introduce in the new major version taking advantage of having to support ESLint 8

This project is maintained by volunteers. Support will be added as time permits.

If you're not willing or able to help with adding support:

- Please do not raise issues.
- Please do not comment on threads.
- Please be patient and subscribe to this issue for upd

[2021-09-20 09:42] MichaelDeBoey commented on #478
Do we enable them in all configs or only in specific framework configs?

This means we can just make `no-unnecessary-act` an `error` in the React config

I think we should keep `prefer-query-by-disappearance` as this is about the specific `queryBy*` queries.
All others are more generic, so those are better to be made consistent indeed.

[2021-09-20 09:55] Belco90 commented on #478
I'd say in all applicable ones:

- testing-library/no-render-in-setup: angular, react and vue (dom doesn't have a `render` method)
- testing-library/no-wait-for-multiple-assertions: all
- testing-library/no-wait-for-side-effects: all
- testing-library/no-wait-for-snapshot: all
- testing-library/prefer-presence-queries: all
- testing-library/prefer-query-by-disappearance: all

Indeed!

As you menti

[2021-09-25 11:34] #415 closed

[2021-10-02 18:36] sinafath opened #493 "strange error for changing the name of screen object"
### Plugin version

^4.12.4

### ESLint version

7.32.0

### Node.js version

v14.17.6

### npm/yarn version

6.14.15

### Operating system

linux

### Bug description

i see an error because I changed the name of  `screen` object to `rtlScreen`
[code]

### Steps to reproduce

change the name of `screen` to `screenrtl` and use `screenrtl` like `screenrtl.getByLabelText`

### Error output/screensho

[2021-10-03 10:17] Belco90 opened #494 "Report act from react-test-renderer"
### What rule do you want to change?

no-unnecessary-act

### Does this change cause the rule to produce more or fewer warnings?

More warnings

### How will the change be implemented?

As discussed in https://github.com/testing-library/eslint-plugin-testing-library/discussions/488 the `act` method from `react-test-renderer` must be reported too.

### Example code

[code]

### How does the current

[2021-10-03 10:19] Belco90 commented on #493
Hi @sinafath!

If I understood correctly, the plugin is reporting an error when renaming `screen` import right?

[code]

[2021-10-03 11:51] sinafath commented on #493
@Belco90
yes

[2021-10-03 16:31] #493 closed

[2021-10-03 21:50] Belco90 commented on #493
Any reason for closing the issue? 🤔

[2021-10-06 14:38] zaicevas commented on #396
Ahh, missed your comment 😶 I might take care of in an unforeseeable future. In the mean time, if anyone else wants to work on it - please do so :)

[2021-10-06 15:00] zaicevas opened #496 "Report multiple async presence matchers"
### Name for new rule

single-async-query

### Description of the new rule

AFAICS there's no use case when multiple async presence matchers should be used one after another. It means some of those could be refactored to `.getBy` and I'd argue that it's a better approach because otherwise we could use `findBy*` or `waitFor*` in all of the cases.
Hence, the rule could report subsequent `findBy*` or

[2021-10-09 11:54] zaicevas commented on #496
I think if there's any other code between 2 statements - we don't report.

This wouldn't be reported.

Hm, from what I can see, we'd have to filter out comments between 2 consecutive statements and then check if these two statements are both are async presence matchers. Not sure if that'd be difficult implementationally.

Yep, we'd have to parse and report this.

[2021-10-12 00:00] #447 closed

[2021-10-13 16:25] Belco90 commented on #496
I think everything is doable except this:

How do you propose to identify this case?

[2021-10-14 18:48] JanHuege opened #498 "Rule await-async-query "false positive" with other findBy*s"
### Plugin version

v4.12.4

### ESLint version

7.2.0

### Node.js version

14.17.4

### npm/yarn version

yarn 2.4.2

### Operating system

appears on mac, windows, does not matter

### Bug description

Analysis for hierarchies with Call- and Memberexpressions are not correctly detected if one member identifier contains "findBy" pattern and does not return a promise.

Example: Using mongoose to

[2021-10-17 14:05] #462 closed

[2021-10-17 14:05] #478 closed

[2021-10-17 19:32] Belco90 commented on #498
Hey @JanHuege! This is related to the Aggressive Reporting feature. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior? In that section, you have the info for restricting the plugin so it only reports built-in queries.

[2021-10-17 23:20] Brianzchen opened #500 "no-wait-for-side-effects erroring in promise"
### Plugin version

v4.10.1

### ESLint version

v7.31.0

### Node.js version

v12.17.0

### npm/yarn version

yarn 1.22.10

### Operating system

macOS 10.14.6

### Bug description

When I use `fireEvent` within a `.then()` of `waitFor` it throws an error

### Steps to reproduce

Basically what's shown in the screenshot. I prefer to use `.then()` as opposed to async await but it throws errors whe

[2021-10-19 08:23] zaicevas opened #501 "`prefer-find-by` reports `querySelector`"
### Plugin version

4.12.4

### ESLint version

7.24.0

### Node.js version

14.16.0

### npm/yarn version

6.14.11

### Operating system

macOS Big Sur

### Bug description

I expect this code snippet NOT to be reported. Furthermore, error message and auto-fix have `undefined` instead of a meaningful message/fix.

[code]

Auto-fixed to: `await container.findByundefined("[data-icon-name='bookmark-

[2021-10-20 11:48] zaicevas commented on #396
This should also be reported by `prefer-find-by`:
[code]

[2021-11-01 18:09] Belco90 opened #502 "Use `name` property in all tests"
### Plugin version

v5

### What problem do you want to solve?

Our current tests don't have any specific name or title to identify them. This makes it complicated to debug them, or differentiate the same test cases with different options, etc. Each test is represented by its code itself, which can be something really long, or duplicated between tests with the same code but different options.

###

[2021-11-04 09:14] zaicevas opened #503 "New rule to report selector option abuse"
### Name for new rule

no-empty-text

### Description of the new rule

The goal of this rule is to report overly-abusive usage of `selector` option in Text and LabelText queries.

Example:

[code]

can be queried with `screen.getByText('', { selector: "[data-icon-name='x']" })`.

However, that goes against RTL principle (The more your tests resemble the way your software is used, the more confiden

[2021-11-04 09:39] Belco90 commented on #503
Thanks for reporting @zaicevas!

This is a great suggestion indeed. A couple of clarifications:

The condition is fine, but we need to report all `*ByText` and `*ByLabelText` queries, including the `*All` variants and `query*/find*` kind. This should be easy to catch by using `helpers.isQuery` + checking if ends by `*ByText` or `*ByLabelText`

I'd definitely skip this for now so we have a simple r

[2021-11-11 07:51] titenis commented on #386
Hello, this is still an issue, even for simple objects that have `children` key. For example I have this object that I use in tests:
[code]
and I use this object in assertion like this:
[code]
I get eslint error `41:44  error  Avoid direct Node access. Prefer using the methods from Testing Library  testing-library/no-node-access`
This is totally a false positive

[2021-11-11 14:51] zaicevas opened #504 "New rule to report document.dispatchEvent()"
### Name for new rule

no-document-event

### Description of the new rule

I see `document.dispatchEvent(new Event('my-custom-event'))` as anti pattern. In some cases it might require a redundant wrapping in `act()` because `fireEvent` does it out of the box.

### Testing Library feature

`fireEvent`

### Testing Library framework(s)

All

### What category of rule is this?

Suggests an alternate

[2021-11-15 09:34] StefanoMagrassi opened #505 "False positive for `no-render-in-setup`"
### Plugin version

5.0.0

### ESLint version

8.2.0

### Node.js version

14.18.1

### npm/yarn version

8.1.3

### Operating system

Ubuntu 20.04

### Bug description

Using any function or method which starts with `render` in `beforeAll`/`beforeEach` is flagged as an error, even if it's not related with RTL's `render` function

### Steps to reproduce

[code]

### Error output/screenshots

_No r

[2021-11-15 09:49] Belco90 commented on #505
Hi @StefanoMagrassi! This is related to Aggressive Reporting. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

[2021-11-15 10:25] StefanoMagrassi commented on #505
@Belco90 thank you, I didn't aware of "Aggressive Renders Reporting": I'll switch off this feature, but I think that this kind of logic

it's too much "aggressive" in general.

[2021-11-15 10:25] #505 closed

[2021-11-15 10:27] Belco90 commented on #505
It might be, but we have proper settings to tweak it as needed. Otherwise, it could silent other potential errors that no one would notice.

[2021-11-22 13:22] sparker2-godaddy opened #506 "False positives for testing-library/no-debugging-utils"
### Plugin version

5.0.0

### ESLint version

8.3.0

### Node.js version

14.17.5

### npm/yarn version

yarn 1.22.15

### Operating system

macOS Big Sur, version 11.6.1

### Bug description

I created my own logging utils, one of which has a debug method (on the logger object) that only console logs messages if a debug env is set to true.
[code]

I have excluded the required files as indicated

[2021-11-22 15:00] Belco90 commented on #506
Hey @sparker2-godaddy, thanks for sharing. Let me help you with this.

You are getting this false positive in two different files:

1. `src/utils/logging-utils/logging-utils.test.ts`
2. `src/utils/monitoringutils/index.ts`

I'm afraid that you'll keep getting the error in 1) since it's a test file, so even if you set ESLint to run `eslint-plugin-testing-library` only on test files, that's a test f

[2021-11-22 15:20] sparker2-godaddy commented on #506
Incredibly detailed and swift response with useful guidance. Thank you so much for the assistance.

I misread how the override works, and have updated it according to your suggestions with great success.

In regards to the second issue, I've opted to go for disabling that rule in those files only, as the logger should only really be used in the actual codebase and not in tests, apart from the test

[2021-11-22 15:20] #506 closed

[2021-11-22 16:12] Belco90 commented on #506
I'm glad it worked!

[2021-11-24 16:07] Belco90 opened #507 "New rule to prevent awaited renders"
### Name for new rule

no-await-render

### Description of the new rule

Motivated by [this post](https://dev.to/tipsy_dev/testing-library-writing-better-async-tests-c67), there is potential to prevent awaited renders.

### Testing Library feature

All the motivation behind it can be found in the post, but this would relate to the `await` expression + `render` util combined.

### Testing Library f

[2021-11-24 16:47] zaicevas commented on #279
Note that, as of now, `role` queries are incredibly slow for larger DOM trees (see https://github.com/testing-library/dom-testing-library/issues/552). Test ids is one of the ways to mitigate this. In my experience, certain tests are almost 1 second (!) faster with test ids, as opposed to with role queries.

[2021-11-24 17:03] Belco90 commented on #279
@zaicevas that's a good point. I think the plugin should at least provide some rule to prevent or mitigate the usage of `ByTestId` queries, then it's up to each dev/team to enable it or not.

[2021-11-30 01:31] #341 closed

[2021-11-30 07:03] github-actions[bot] opened #509 "Results of weekly scheduled smoke test"
Detected 13 ESLint reports and/or crashes.
Scanned 8804 repositories.

Rules:
-   `consistent-data-testid`

<details>
    <summary>Click to expand</summary>

## Rule: consistent-data-testid

-   Message: `Invalid regular expression: /^[(__([A-Z]+[a-z]_?)+)_$/: Unmatched ')' Occurred while linting /github/workspace/node_modules/eslint-remote-tester/.cache-eslint-remote-tester/gtms-org/gtms-frontend

[2021-11-30 11:20] Belco90 commented on #509
Oh wow, really interesting issue. Basically, this is failing to get the component file name since it's named wrapped by square brackets. Not really sure what we should do here: assume there is no file name? assume the file name it's just `index`? Any ideas?

[2021-11-30 15:36] bpinto commented on #501
I have noticed the same bug when upgrading this library on our project.

[2021-12-02 16:03] zaicevas opened #516 "Report `query*` queries with wrong assertions"
### What rule do you want to change?

prefer-explicit-assert

### Does this change cause the rule to produce more or fewer warnings?

More warnings

### How will the change be implemented?

When `assertion` option is passed, `prefer-explicit-assert` will not only report `get*` queries that do not abide by the option, but also `query*` queries.

### Example code

[code]

### How does the current ru

[2021-12-02 19:39] Belco90 commented on #516
There are a couple of things I don't get:

- Why `.toBeNull()` is wrong but `.not.toBeInTheDocument()` is fine? Both are absence matchers, they both should be valid.
- Why add a new `assertion` option?

[2021-12-03 09:24] zaicevas commented on #516
Thanks for quick response!

Because in the particular example, `assertion` option is set to `toBeInTheDocument`

`prefer-explicit-assert` already has `assertion` option

[2021-12-03 09:46] Belco90 commented on #516
Ah sorry! I didn't realized the option already existed, my bad 🤦

So this should actually report `query*` similar to how `get*` is reported, not just when `assertion` is set right? From your description, I understood you only want to report this when this option is set, not sure if I'm missing something else.

[2021-12-03 09:59] zaicevas commented on #516
Yes, my initial idea was to only report `query*` with `assertion` option so that we don't have situation when you're allowed to use only a specific assertion with `get*`, but for `query*` you can use any assertion:
[code]

Not great for consistency sake ⬆️

[2021-12-07 15:37] zaicevas commented on #516
Just noticed that the above example is not real-wordish (you wouldn't use `getBy` and `toBeNull()` together), should be more like this:

[code]

[2021-12-07 15:52] zaicevas opened #517 "`prefer-presence-queries` to report `.not.toEqual(null)` and `.not.toStrictEqual(null)`"
### What rule do you want to change?

prefer-presence-queries

### Does this change cause the rule to produce more or fewer warnings?

More warnings

### How will the change be implemented?

`prefer-presence-queries` would cover `queryBy*` + `.not.toEqual(null)`/`.not.toStrictEqual(null)` when presence `getBy*` queries can be used.

### Example code

[code]

### How does the current rule affect th

[2021-12-09 10:02] JanHuege commented on #498
Hi @Belco90. Sorry for the late response. I looked into it and it worked. Thanks. Looks like I did not scroll enough in that readme. Maybe a ToC at the top would be nice :)

[2021-12-09 10:02] #498 closed

[2021-12-09 10:09] MichaelDeBoey commented on #498
@JanHuege GitHub already provides a ToC out of the box
https://github.blog/changelog/2021-04-13-table-of-contents-support-in-markdown-files

[2021-12-13 09:57] domarmstrong opened #518 "False positives with testing-library/prefer-presence-queries"
### Plugin version

v5.0.0

### ESLint version

v8.2.0

### Node.js version

14.18.0

### npm/yarn version

1.22.17

### Operating system

Big Sur

### Bug description

Generally I like this rule but we have to disable it in quite a few places due to false positives with toBeNull.

### Steps to reproduce

Examples:

[code]

[code]

[code]

### Error output/screenshots

_No response_

### ESLint co

[2021-12-13 11:23] Belco90 commented on #518
Thanks for reporting this @domarmstrong. Interesting issue, it seems it's reporting false positives when the Testing Library query is nested into something else. We will have to take a look at this at some point.

[2021-12-13 12:36] JanHuege commented on #498
Got another issue/topic related to this one not handled by turning off aggressive reporting. Inside an awaited promise-chain there are also false-positives if using testcafe for which testinglib selectors are also available:

[code]

[2021-12-13 22:39] Belco90 commented on #498
Hi again. I'm afraid testcafe isn't fully supported by this plugin: only DOM, Angular, React, and Vue are.

[2021-12-19 21:07] #496 closed

[2021-12-22 09:22] Belco90 commented on #516
Sorry for the late response.

Since the `assertion` option is expected to get a presence matcher, perhaps we would need a new option to set up the desired matcher for absence, so this solves the problem with reported `queryBy*`.

[2021-12-26 15:55] #396 closed

[2022-01-08 10:49] #502 closed

[2022-01-12 09:55] josias-r commented on #518
Another case of a false positive:
https://github.com/facebook/react/issues/23093

[2022-01-12 09:59] Belco90 commented on #518
Hey @josias-r, this is a different problem. Could you move it to a different issue? Thanks.

[2022-01-13 12:16] josias-r opened #534 "False positive: await-async-query"
### Plugin version

v5.0.3

### ESLint version

v8.6.0

### Node.js version

v16.13.1

### npm/yarn version

v8.1.2

### Operating system

macOS Monterey 12.1

### Bug description

The `await-async-query` fires a false positive for `findByProps` (used with react).

More details: https://github.com/facebook/react/issues/23093

### Steps to reproduce

1. Create react app with react-scripts v5
2. Cre

[2022-01-13 15:12] Belco90 commented on #534
Thanks for reporting @josias-r!

I'm afraid this is related to Aggressive Reporting. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

[2022-01-18 08:15] josias-r commented on #534
@Belco90 So am I understanding it correctly, that the `eslint-plugin-testing-library` has nothing to do with the react implementation?
So the react testing library is not based on this one?

If they don't relate, I can look into fixing it with one of the proposed fixes from troubleshoting. Otherwise, if the react testing-library is based on your eslint-plugin, it would make sense to fix it on thei

[2022-01-18 08:44] Belco90 commented on #534
@josias-r I think I'm not following you. `react-testing-library` was created first, then the core `dom-testing-library` was extracted, and finally packages for other frameworks were created too (e.g. `angular-testing-library`).

After this, `eslint-plugin-testing-library` was created to cover some of the functionality for a few Testing Library packages, and has been updated reflecting changes and

[2022-01-19 10:45] atsikov opened #536 "Incorrect prefer-find-by autofix when using within"
### Plugin version

v5.0.3

### ESLint version

v8.7.0

### Node.js version

v16.13.1

### npm/yarn version

pnpm v5.18.0

### Operating system

macOS Big Sur 11.6.2

### Bug description

`await waitFor` blocks with `within` and chained `getBy...` queries are not correctly autofixed

### Steps to reproduce

The following snippet raises a `prefer-find-by` error
[code]

Rule autofixer produces the f

[2022-01-19 15:31] Belco90 commented on #536
Hey @atsikov, thanks for reporting!

Good catch. To be honest, not really sure what would be the best approach from the options you suggested. I'd go for number 2, but perhaps as a suggestion rather than as a fix. If not, then I'd go for number 3 so we report it at least. What do you think?

[2022-01-19 16:38] atsikov commented on #536
Actually, my case turned out to be non-fixable.

We have a few dialogs opened one by one, with the same name, but different set of elements. So I actually awaited for the next dialog and a button inside it.
Such `findBy...` code will not work for this case, as it will find already opened dialog right away, which will doesn't contain "Proceed" button
[code]

At this point, I'm leaning towards not p

[2022-01-19 16:48] Belco90 commented on #536
Interesting case! I guess we can avoid triggering an error if a query chained to `within` is found inside a `waitFor` (option 1), and describe this situation in the rule's docs.

[2022-01-19 22:28] josias-r commented on #534
ah okay, I was not aware of how these packages relate to each other. I was just using `create-react-app` and confused about having a linting error about a react-related method whilst using the official way of bootstrapping a react app which they recommend.

The troubleshoot section seems to exactly address the problem I had, thank you

[2022-01-19 22:28] #534 closed

[2022-01-20 08:20] jmfrancois opened #537 "render-result-naming-convention match any function which start by render"
### Plugin version

v5.0.3

### ESLint version

v7.32.0

### Node.js version

v14.18.0

### npm/yarn version

yarn 1.22.15

### Operating system

Mac os 12

### Bug description

The following code is considered invalidate by the rule `testing-library/render-result-naming-convention`

[code]

`cellContent` is not a recommended name for `render` returned value. Instead, you should destructure it, or

[2022-01-20 08:20] Belco90 commented on #534
I'm glad to hear that! Don't hesitate to open more issues/discussions if have more questions.

[2022-01-20 08:23] Belco90 commented on #537
Hi @jmfrancois! This false positive is related to the Aggressive Reporting feature. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior? If you are getting the error in a non-testing file, I'd suggest you restrict the plugin so [it's only run the plugin only against test files]

[2022-01-20 08:50] jmfrancois commented on #537
Hi @Belco90
I have read it but not understood it at the begining, but after look at the code now I understand it a bit more.
Ok after switch it off and relaunch the eslint server on vscode and the command line same output it is still consider invalid code 😬

[2022-01-20 09:13] Belco90 commented on #537
I see. If this is code from a testing file then you can only tweak the Aggressive Reporting. I'd suggest [limiting or opting out the custom renders setting](https://github.com/testing-library/eslint-plugin-testing-library#testing-librarycustom-renders). There you can find how you can limit the scope for it and a deeper explanation of how it works.

Let me know if this solves the problem.

[2022-01-20 14:57] #504 closed

[2022-01-21 13:06] jmfrancois commented on #537
but adding "testing-library/custom-renders": "off" is supposed to fix the issue right ?

[2022-01-21 13:41] Belco90 commented on #537
Indeed, just setting `'testing-library/custom-renders': 'off'` should be enough. Are you adding this into the expected `settings` property within your eslintrc? Could you share your eslintrc with this option switched off perhaps?

[2022-01-21 15:19] #501 closed

[2022-01-26 09:15] JustFly1984 commented on #386
I got same false negative in one of projects I work on. props.children should be valid. added ignore comment meanwhile.

[2022-01-27 14:45] tknickman commented on #451
@olesiaMartushkanova I just took a look at your problem, and I wasn't able to reproduce it. Could you create a shareable reproduction case, and open that as a separate issue?

Here is the config I was using:
[code]

I also set the custom testId pattern on the RTL config in my `jest.setup`:

[code]

And then:
![example](https://www.tomk.link/embeds/rtl-eslint-example1.png)

[2022-01-27 19:43] #451 closed

[2022-01-28 17:08] pstrh commented on #537
Similar issue here in conjunction with "react-test-renderer/shallow" in some older test files:

[code]

Fixed by:
[code]

[2022-01-28 21:08] TrueWill opened #544 "no-debugging-utils is too sensitive"
### What rule do you want to change?

no-debugging-utils

### Does this change cause the rule to produce more or fewer warnings?

Fewer warnings

### How will the change be implemented?

Better RegEx?

### Example code

Currently `log.debug('message')` in production code is flagged by default. This is using the loglevel library, but many logging frameworks have a debug level, and it's common to le

[2022-01-30 12:41] Belco90 commented on #544
Hey @TrueWill! This is caused by the Aggressive Reporting feature. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

In your case, I'd suggest two options:

1. If you are getting false positives outside testing files, [override ESLint main config so you run `eslint-plugin-t

[2022-01-30 18:15] #507 closed

[2022-01-31 18:26] TrueWill commented on #544
@Belco90 Thank you; I had not seen that section.

I was not able to get this to work. If I add an `overrides` section to my .eslintrc.json it still applies the rule to files that do not match the glob. I've double-checked this, revised the glob, etc. without success.

I'll close this issue, though, as Troubleshooting discusses it and that rule isn't one our team needs.

[2022-01-31 18:26] #544 closed

[2022-01-31 19:06] Belco90 commented on #544
@TrueWill sad to hear it didn't fix it. I would be able to take a better look if you could provide some extract of your configs, or a small repo.

[2022-02-01 15:42] TrueWill commented on #544
@Belco90 I think I figured it out.

Here's my (simplified) .eslintrc.json with the fix:

[code]

This only runs the no-debugging-utils part against the JS/TS files under /specs.

What I didn't realize before was that the _rules still apply_ to other files. I believe you have to explicitly disable them in the top-level `rules` section (in this case with `"testing-library/no-debugging-utils": "off"`

[2022-02-01 17:51] Belco90 commented on #544
I see. You are linting all other files indeed. Rather than switching `"testing-library/no-debugging-utils"` off in the `rules` property, you need to run `eslint-plugin-testing-library` only for your testing files.

For doing this, you have set it up correctly in the `overrides` section:
[code]

But you haven't removed `eslint-plugin-testing-library` from the main config!
[code]

So if you remove `

[2022-02-01 22:01] TrueWill commented on #544
@Belco90 Perfect. Thank you!

[2022-02-12 20:46] #517 closed

[2022-02-17 16:25] fabiendem opened #551 "Make sure `no-unnecessary-act` detects unnecessary `act` called before the `render` method"
### What rule do you want to change?

no-unnecessary-act

### Does this change cause the rule to produce more or fewer warnings?

More warnings

### How will the change be implemented?

I don't have a plan to implement the change yet.
The idea is to improve the rule `no-unnecessary-act` so it can detect unnecessary `act` which are called _before_ a render.
https://github.com/testing-library/eslint

[2022-02-18 08:40] Belco90 commented on #551
Hey @fabiendem! Thanks for the suggestion, it's an interesting one. It would be great if you finally make some time and implement it yourself. I'll try to help as much as I can!

[2022-02-18 12:51] fabiendem commented on #551
Thank you 👍

[2022-02-27 12:08] #516 closed

[2022-03-03 15:17] kelly-tock opened #555 "Show eslint warnings/errors in vscode?"
### Plugin version

5.0.3

### ESLint version

8.6.0

### Node.js version

16.13.2

### npm/yarn version

yarn 1.22.17

### Operating system

macOS Monterey 12.2.1

### Bug description

I have this plugin installed and configured. I would expect to see warnings in my test files in vscode, but don't. I do see them when I run them on the command line.

### Steps to reproduce

install
https://marketp

[2022-03-03 16:22] kelly-tock commented on #555
should I log it in that plugin's repo then?  I wasn't quite sure. I see other eslint related things in test files, all except ones that are related to this plugin, so I wondered if there is something different in the way it reports issues maybe?  but i'm not familiar with how plugins do that so wasn't sure. happy to cross post?

[2022-03-03 16:50] Belco90 commented on #555
Can you try to extend from `plugin:testing-library/react` in the root of the `.eslintrc` file rather than within `overrides` property to see if that makes a difference? If not, I'd create an issue in the vscode plugin indeed. Happy to cross post!

[2022-03-03 17:06] kelly-tock commented on #555
ok, so some progress. If I extend from the root, I do get those showing, but that negates what I need to do in terms of the config. as mentioned in this read me, the overrides is the best way to say do this for only these file patterns. I did find I had an eslint config in the directory for tests, and when I put the rules only in there at the root, it shows up in vscode. maybe sharing my config th

[2022-03-03 17:17] Belco90 commented on #555
Yeah, I understand your use case. Just wanted to see if we could spot something else by extending the plugin outside the `overrides` section.

Oh, I see. If you have another ESLint config file that can take more priority than the `overrides` property from the main config file (I don't remember the exact order for this right now). You need to stick to just one of those 2 ways then: or enabling `esl

[2022-03-03 17:39] kelly-tock commented on #555
yeah, I have what I consider a workaround. my guess is the plugin is taking only the one in that directory that it finds.

[2022-03-03 17:39] #555 closed

[2022-03-11 12:13] themagickoala commented on #518
I will try and make time for this if I can, but it's unlikely as I've come down with Covid and still having to look after my 2 kids/try and work when I can! I've done a little investigation and I'm going to make some notes here in case somebody else finds it and wants to have a go (this is from the perspective of somebody who has never written anything to do with eslint before):

1. If you want to

[2022-03-11 21:28] themagickoala commented on #518
I've had a quick stab at the config version (part 1 above) here: https://github.com/testing-library/eslint-plugin-testing-library/pull/557

[2022-03-12 19:30] Belco90 commented on #518
@themagickoala thanks for your contribution! I'll take a look at the PR in a bit, then we can take care of fixing the actual bug around `within` usage.

[2022-03-14 07:06] thepuzzlemaster commented on #386
I am running into the same issue in my test. I have a helper method which renders my component, of which i can pass in a partial props object to override any defaults the test is using. I am trying to reference the `children` property of a button element that is being created, but getting the warning, which seems unnecessary in this case.

I'm just trying to avoid hard-coding the children string i

[2022-03-26 13:53] timdeschryver opened #559 "New rule: no-global-regex-flag-to-query"
### Name for new rule

no-global-regex-flag-to-query

### Description of the new rule

The rule would warn when a user uses the global regex flag to search for text/name.
A regex that uses the global flag holds the `lastIndex` state when it found a match, due to this it could be that a new match can't be found.

See https://github.com/testing-library/dom-testing-library/pull/1116 for the fix withi

[2022-03-27 13:29] Belco90 commented on #559
Hey @timdeschryver! This is a great idea, I read your explanation on Twitter the other day and was a TIL for me 🤯.

Let me know if you need help implementing this!

[2022-03-27 13:35] Belco90 commented on #559
Btw, if this has to be applied to every Testing Library util, you could just select all `CallExpression` and check if they are related to Testing Library with `isTestingLibraryUtil`, and then, if so, check the args given. Just an idea!

[2022-03-31 10:16] #559 closed

[2022-04-01 08:03] CreativeTechGuy opened #565 "no-global-regexp-flag-in-query: TypeError 'value' of undefined"
### Plugin version

5.2.0

### ESLint version

8.12.0

### Node.js version

16.8.0

### npm/yarn version

npm 7.21.0

### Operating system

Windows 10

### Bug description

I enabled the `no-global-regexp-flag-in-query` rule and received an error when linting

### Steps to reproduce

Create the following test file:

[code]

Enable the rule and lint

### Error output/screenshots

[code]

### ESLint

[2022-04-03 06:21] AriPerkkio commented on #565
This also crashed ~700 times here: https://github.com/testing-library/eslint-plugin-testing-library/issues/509#issuecomment-1086785433. Some more repros available there.

[2022-04-04 09:38] #565 closed

[2022-04-05 13:27] swissspidy opened #567 "`testing-library/no-await-sync-events` reporting false positives for `@testing-library/user-event` v14"
### Plugin version

5.0.5

### ESLint version

8.12.0

### Node.js version

16.4.2

### npm/yarn version

8.5.0

### Operating system

macOS Monterey, 12.3

### Bug description

In version 14, `@testing-library/user-event` changed all APIs to always return a Promise.

See https://github.com/testing-library/user-event/releases/tag/v14.0.0

### Steps to reproduce

Use the async APIs in `@testing-lib

[2022-04-05 13:48] Belco90 commented on #567
Thanks for reporting @swissspidy. I've been thinking about this since I saw the beta of the new `user-event`.

Ideally, this plugin should guess which `user-event` you are using to report its methods or not in this rule.

However, since we don't have that mechanism in place, I think including a new option to this rule would work as quick workaround. We can add a new option called `eventModules` ac

[2022-04-05 13:50] MichaelDeBoey commented on #567
@Belco90 I think we should add a setting to say which version of `user-event` is used and try to auto-detect it, like we have the `react` version number

[2022-04-05 14:35] Belco90 commented on #567
@MichaelDeBoey sure, but that requires more time. I can implement the option mentioned in this rule fairly quick, then we can include the mechanism set/auto-detect the `user-event` version and toggle the things to be reported based on it.

[2022-04-05 19:52] #537 closed

[2022-04-06 15:03] ThomasGHenry opened #568 "await-async-utils false positive on chained cy.wait().its().then()"
### Plugin version

v5.1.0

### ESLint version

v8.12.0

### Node.js version

16.14.0

### npm/yarn version

npm 8.3.1

### Operating system

macOS Big Sur 11.6

### Bug description

`cy.wait` getting picked up by `testing-library/await-async-utils` on a line like...

[code]

The rule documentation says chaining is ok. I assume it's the `its` that's complicating things.

Thanks!

### Steps to repr

[2022-04-06 15:12] Belco90 commented on #568
Hey @ThomasGHenry! `eslint-plugin-testing-library` doesn't support `cypress-testing-library` (there is not much to report from it actually).

We recommend you to update your ESLint config, so you only run `eslint-plugin-testing-library` on Testing Library files but not Cypress files. You can find how here: https://github.com/testing-library/eslint-plugin-testing-library#run-the-plugin-only-against

[2022-04-06 15:44] ThomasGHenry commented on #568
The most I looked, I was beginning to get that impression. 😅  Thanks for the quick turnaround!

[2022-04-07 21:41] arinthros commented on #279
Upvote on the simple rule that either warns or errors if a test id query is used. I'm happy to collab on this, and maybe open a PR if it's simple enough.

[2022-04-10 14:16] MichaelDeBoey commented on #509
@AriPerkkio Is there something you can do anything about this?

[2022-04-10 16:21] AriPerkkio commented on #509
Looks like Github API's rate limit was hit when results were being posted. Since `@testing-library` is running two `eslint-remote-tester-run-actions` for two different repositories at the same time, it's possible to hit the rate limit.

There are already some safe guards for this: https://github.com/AriPerkkio/eslint-remote-tester-run-action/blob/master/src/github-client.ts#L28-L41
Increasing the

[2022-04-11 17:09] Belco90 commented on #279
It would be great if you could open a PR! It should be fairly easy by using some of the internal helpers, you can find more indo in the contributing doc.

[2022-04-11 18:29] #567 closed

[2022-04-17 17:36] Belco90 opened #571 "☂️ Changes for the next major (v6)"
This is just an umbrella ticket for keeping track of breaking changes for the next major version (v6):

- [x] Drop support for node v12, which reaches EOL in 2022-04-30, and node v17, which reaches EOL in 2022-06-01
- [x] Enable `no-manual-cleanup` in React and Vue shareable configs (we don't know if the test runner in the codebase has the necessary setup hooks tho, so it could be risky)
- [x] Ena

[2022-04-20 10:33] fabiendem commented on #551
Feature is still relevant, I didn't have a chance to tackle it yet.

[2022-04-20 11:26] Belco90 commented on #551
This may be tricky to check tho. What if the developer is rendering the component in the `beforeEach` hook? This rule won't find any valid render within the tests so all acts could be potentially reported.

[2022-04-20 11:39] fabiendem commented on #551
We have this rule in place: https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/no-render-in-setup.md
So this is not an issue for us. But surely not everyone will have this rule enabled.

But even, we would want to detect any `act` before a `render` call.
We can start by detecting this in the same blocks. Then detect `acts` in the `before*` blocks as well.

[2022-04-20 11:45] Belco90 commented on #551
Rules must not depend on each other, so we have to assume this scenario is possible.

LGTM! So this rule would report acts for the current criteria OR for acts called before a render within the test block (ignoring them if no render is found).

[2022-04-20 15:16] fabiendem commented on #551
yeah definitely

yeah seems legit

[2022-04-21 18:18] sterlingwalsh commented on #386
I have a data structure unrelated to any html element that just uses the word 'children' as a key on an object that I have a test for and this rule is being triggered.

[2022-04-28 12:16] cburgmer commented on #568
Could we re-open and find a better solution? After all this plugin seems to be very fuzzy at looking for occurrences of `findByRole` and similar functions used in testing-library. This could lead to errors in other implementations unrelated to testing-library as well.

Currently indeed this is necessary in your .eslintrc:

[code]

[2022-04-29 10:04] cburgmer commented on #568
Ah, I see. I'm working on a legacy code base which was setup differently.

I personally feel using `overrides` is a bit of a workaround, but for now it seems to be the recommended approach here.

[2022-04-29 10:34] Belco90 commented on #568
There is another way of doing this, which is putting another `.eslintrc` file within your tests folder, so you can enable this plugin only for those files. In order to achieve this, you need to keep all your tests within a single folder tho, that's why I always recommend using the `overrides` approach.

Can we close this ticket then?

[2022-04-29 12:00] cburgmer commented on #568
Yes please close again. Thanks for clarifying.

If there's one thing I may share, then that no other eslint plugin we are using uses that setup.

My assumption is that the AST parsing of eslint does allow for narrowing down code paths that derive from a 'testing-library' import, but that would still need to be implemented with considerable cost? My thinking is that if the rules can be applied stri

[2022-04-29 12:12] Belco90 commented on #568
@cburgmer that was our original approach, but that would discard reporting related to Testing Library coming from non "testing-library" modules. It's pretty common to re-export Testing Library utils from a custom "test-utils" modules. The plugin wouldn't be aware of it. That's because we have this Aggressive Reporting in place, leaving it up to you to narrow the scope with ESLint settings or the p

[2022-04-29 20:18] #568 closed

[2022-05-06 21:56] Belco90 opened #579 "prefer-find-by autofix doesn't respect extra code"
### Plugin version

v5.3.1

### ESLint version

v8.14.0

### Node.js version

v16.3.0

### npm/yarn version

npm v8.9.0

### Operating system

macOS v12.3.1

### Bug description

The autofix of the rule `prefer-find-by` doesn't work correctly when `waitFor` options are provided, or there is an assertion involved.

### Steps to reproduce

1. Providing waitFor options:
[code]
2. There is an assertio

[2022-05-12 01:03] weyert commented on #567
Sorry, what's the expected configuration to make `await userEvent.type()` work? I tried the following configuration but it still throwing the error:

[code]

[2022-05-12 06:46] Belco90 commented on #567
@weyert [As indicated in the rule docs](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/no-await-sync-events.md#notes), you need to set `eventModules` to just `["fire-event"]`.

[2022-05-15 17:55] Belco90 opened #586 "Bug: `no-dom-import` false negatives with several Testing Library imports"
### Have you read the Troubleshooting section?

Yes

### Plugin version

5.3.3

### ESLint version

v8.14.0

### Node.js version

v16.15.0

### package manager and version

npm v8.9.0

### Operating system

macOS v12.3.1

### Bug description

If there are several Testing Library imports, `no-dom-import` doesn't report `@testing-library/dom` imports if they are other than the first occurrence betwe

[2022-05-16 12:07] Belco90 commented on #586
Actually, it doesn't need to update the internal helpers if we just look for the corresponding imports within this rule. I'll give it a try later.

[2022-05-17 19:50] Belco90 opened #589 "Internal: generate tests for all supported frameworks per rule"
### Plugin version

v5

### What problem do you want to solve?

Quoting myself from #588:

Thinking about all the changes we did to test all rules for the corresponding Testing Library frameworks, I think it makes sense to add some improvements to our `TestingLibraryRuleMeta` and `createRuleTester` to automatically generate the test cases variations for indicated frameworks.

### Your take on the

[2022-05-17 19:55] Belco90 commented on #589
@MichaelDeBoey when the rules are enabled in a recommended config yes, but I'm afraid we can't rely on this when the rule isn't enabled in any shareable config (e.g. `no-manual-cleanup`, or `prefer-explicit-assert`). So we would need this new `supportedFrameworks`.

That made me think about my approach might not be right, actually. For example, in `no-manual-cleanup` there are different outputs de

[2022-05-19 22:16] Belco90 opened #590 "Bug: `await-fire-event` doesn't show the fireEvent method correctly in the error message"
### Have you read the Troubleshooting section?

Yes

### Plugin version

v5.5.0

### ESLint version

v8.14.0

### Node.js version

v16.15.0

### package manager and version

npm v8.9.0

### Operating system

macOS v12.3.1

### Bug description

Errors reported by `await-fire-event` rule are not indicating the `fireEvent` method name correctly in the message.

### Steps to reproduce

[code]

### Err

[2022-05-20 12:28] alexey-kozlenkov commented on #380
Hey @Belco90 👋
Perhaps you could advise me on smth similar: how to correctly abide `no-node-access` rule with snapshot tests?

My tests test if some gradient component has correct colors with the help of snapshots.
[code]

`container.firstChild` above is reported with `no-node-acess` rule, however it kinda does not violates [docs](https://testing-library.com/docs/react-testing-library/api#:~:text=

[2022-05-20 14:08] Belco90 commented on #380
Hey @alexey-kozlenkov! I IMHO you could match the snapshot against the `container` itself, but I think `container.firstChild` is a valid use case for snapshots indeed.

Could you move this to a new ticket, so we can discuss it further and use it for adding a new option to the rule for this case if needed?

Thanks!

[2022-05-20 19:39] IvanAprea commented on #590
Hello, can i propose a solution for this?

[2022-05-20 20:52] Belco90 commented on #590
@IvanAprea yes please! PRs are more than welcome.

[2022-05-24 22:20] Belco90 opened #592 "[Improvement] Report RegExp with global flag saved in a variable"
### What rule do you want to change?

no-global-regexp-flag-in-query

### Does this change cause the rule to produce more or fewer warnings?

More warnings

### How will the change be implemented?

Right now, we are only checking the RegExp passed directly to Testing Library queries. If a variable is found, we should check what's the value held in it to report global flags there also.

### Example

[2022-05-25 13:01] alexey-kozlenkov opened #593 "Allow exceptions for "no-node-access""
### What rule do you want to change?

no-node-access

### Does this change cause the rule to produce more or fewer warnings?

Fewer warnings

### How will the change be implemented?

`render` method returns container which has content rendered inside it (`div` element by default - [docs](https://testing-library.com/docs/react-testing-library/api#:~:text=Tip%3A%20To%20get%20the%20root%20element%20o

[2022-05-25 18:40] #590 closed

[2022-05-26 07:57] Belco90 commented on #593
Thanks for reporting @alexey-kozlenkov!

I was tempted to suggest an option like `allowedProperties` where you could specify all the properties needed, but that could be use as an escape hatch. So my proposal is to add a new `allowContainerFirstChild` option, which would be a boolean to which prevents reporting `container.firstChild`. What do you think?

What about `no-container`? Does that rule c

[2022-05-26 23:39] Belco90 commented on #571
Sorry to hear that! They are async only from v14 tho, they were sync before such version. We updated [no-await-sync-events](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/no-await-sync-events.md) to reflect this, but we need to convert await-fire-event into await-async-events too.

[2022-05-30 12:54] smmoosavi commented on #386
as a workaround you can use this code:

[code]

[2022-06-02 23:24] Belco90 opened #600 "Bug: `prefer-query-by-disappearance` reports error in an incorrect part of the code"
### Have you read the Troubleshooting section?

Yes

### Plugin version

v5.5.0

### ESLint version

v8.14.0

### Node.js version

v16.15.0

### package manager and version

npm v8.9.0

### Operating system

macOS v12.3.1

### Bug description

When there is an error reported by `prefer-query-by-disappearance`, it's displayed at the very beginning of the callback passed to `waitForElementToBeRemove

[2022-06-30 17:52] ScubaDaniel opened #603 "I can't change rules like "testing-library/no-node-access""
### Have you read the Troubleshooting section?

Yes

### Plugin version

5.5.1

### ESLint version

8.12.0

### Node.js version

16.14.2

### package manager and version

yarn 1.22.17

### Operating system

Windows 11

### Bug description

I'm trying to add ESLint for my unit test files, but I cannot disable/modify rules from this library like I can with other rules.

.eslintrc.js:
[code]

When I

[2022-06-30 18:17] #603 closed

[2022-07-14 15:39] Belco90 commented on #207
https://kentcdodds.com/blog/avoid-nesting-when-youre-testing

(We should add this to the rule's doc)

[2022-07-14 16:02] kevinbeal commented on #207
@Belco90 Thanks for getting back so fast. Not sure I share Kent's concern, but I'm glad to have read it :). Obviously, I can just disable the rule if I want to.

[2022-07-24 09:55] Jalilvand-MJ opened #613 "false negative await-async-query error on a similar-named method from another library"
### Have you read the Troubleshooting section?

Yes

### Plugin version

5.5.0

### ESLint version

8.2.0

### Node.js version

14.20

### package manager and version

npm 8.14

### Operating system

Ubuntu 20.04.4

### Bug description

In tests I've mocked G6 Graph object and called `findById` method on the instance, which returns an object but not a promise.
Because of having same name with test

[2022-07-26 09:11] SevenOutman commented on #386
Any update on this issue? Same problem here when mocking components with jest.fn

[code]

[2022-07-30 20:22] #593 closed

[2022-07-30 22:59] Belco90 commented on #613
This false positive is related to the Aggressive Reporting feature. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

[2022-08-03 09:57] Jalilvand-MJ commented on #613
Thanks for your help

[2022-08-03 09:57] #613 closed

[2022-08-04 12:39] Belco90 opened #616 "Drop support for old node versions"
~Drop support for node v12, which reaches EOL in 2022-04-30, and node v17, which reaches EOL in 2022-06-01~

Update Node.js engine requirement to `^18.18.0 || >=20.0.0`, which is the same requirement that ESLint v9 will impose. This means we are dropping support for Node 12, 15, 16, 17, 19, and Node 18 versions prior to 18.18.0.

[2022-08-04 12:55] Belco90 commented on #571
Closing in favor of proper GitHub Project: https://github.com/orgs/testing-library/projects/14/views/1

[2022-08-04 12:55] #571 closed

[2022-08-04 12:56] Belco90 opened #617 "Enable `no-manual-cleanup` in corresponding shareable configs"
Enable no-manual-cleanup in React and Vue shareable configs (we don't know if the test runner in the codebase has the necessary setup hooks tho, so it could be risky)

[2022-08-04 12:56] Belco90 opened #618 "Enable `no-global-regexp-flag-in-query` in all shareable configs"
Enable `no-global-regexp-flag-in-query` in all shareable configs

[2022-08-04 12:56] Belco90 opened #619 "Enable no-await-sync-events in proper shareable configs"
Enable `no-await-sync-events` in DOM, Angular and React shareable configs

[2022-08-04 12:56] Belco90 opened #620 "Enable `no-node-access` in corresponding shareable config"
Enable `no-node-access` in DOM shareable config

[2022-08-04 12:56] Belco90 opened #621 "Enable reporting all methods by default in `no-debugging-utils`"
Enable reporting all methods by default in `no-debugging-utils`

[2022-08-04 12:56] Belco90 opened #622 "Change error level for `no-debugging-utils`"
Change error level for `no-debugging-utils` from "error" to "warning"

[2022-08-04 12:57] Belco90 opened #623 "Make rules naming consistent"
Make rules naming consistent (pending [rules rename from v5](https://github.com/testing-library/eslint-plugin-testing-library/issues/478))

[2022-08-04 12:57] Belco90 opened #624 "Make internal helpers aware of `renderHook` util"
Update internal helpers for considering the new React Testing Library `renderHook` util:

- The `renderHook` method shouldn't be treated as a regular `render` method.
- New utils for detecting `renderHook` are needing. Won't be used for now, but will simplify the implementation of specific react-hooks-testing-library rules.

[2022-08-04 12:57] Belco90 opened #625 "Rename `no-render-in-setup`"
Rename `no-render-in-setup` to `no-render-in-lifecycle` so it's not confused with preventing [renders nested in a setup function](https://kentcdodds.com/blog/avoid-nesting-when-youre-testing#apply-aha-avoid-hasty-abstractions).

[2022-08-04 12:57] Belco90 opened #626 "Transform `await-fire-event` into `await-async-events`"
Transform `await-fire-event` into `await-async-events`.

Since user-events v14 is async, we should transform this rule to consider both fire and user events.

It needs a new option to decide which modules are enabled or disabled:
- fire-event: disabled by default since it's only used in Vue (enabled in Vue shareable config tho)
- user-event: enabled by default since user-event 14 is async

Explain

[2022-08-04 12:57] Belco90 opened #627 "Remove `prefer-wait-for` rule"
Remove `prefer-wait-for` rule, since `wait`, `waitForElement` and `waitForDomChange` have been removed already

[2022-08-04 12:57] Belco90 opened #628 "Drop support for `{framework}-testing-library` module imports"
Drop support for `{framework}-testing-library` module imports, in favor of supporting only the testing-library scoped format (`@testing-library/{framework}`)

There is an exception for Marko Testing Library tho.

[2022-08-09 14:19] themagickoala commented on #518
@Belco90 has any work been done to look into fixing the false positive here? Just wanted to check in on it all!

[2022-08-09 14:52] Belco90 commented on #518
I'm afraid not 😞. Hopefully, I can take a look during this month.

[2022-08-24 15:34] razbensimon opened #634 "`no-await-sync-query` reports error on my `getBy*` function"
### Have you read the Troubleshooting section?

Yes

### Plugin version

v5.6.0

### ESLint version

v7.32.0

### Node.js version

v16.10.0

### package manager and version

pnpm v6.16.0

### Operating system

macOS Monterey, version 12.3.1

### Bug description

`no-await-sync-query` yells on unrelated `testing-library` code.

### Steps to reproduce

1. enable the rule
2. create `getBySomething` f

[2022-08-24 19:23] Belco90 commented on #634
Hi @razbensimon!

This false positive is related to the Aggressive Reporting feature. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

[2022-08-25 07:25] razbensimon commented on #634
Oh, I see now, missed that. Looks like I can bypass this issue with the `overrides` and use the plugin for specs only.
Thanks!

[2022-08-25 07:25] #634 closed

[2022-08-30 13:14] siminino opened #635 "False positive with `await-async-query` when followed by destructuring without declaration"
### Have you read the Troubleshooting section?

Yes

### Plugin version

v5.6.0

### ESLint version

v7.32.0

### Node.js version

16.31.1

### package manager and version

yarn 1.22.19

### Operating system

macOS Monterey

### Bug description

The rule `await-async-query` identifies error when an awaited query is followed by a destructuring array without variable declaration and semicolons is di

[2022-08-31 21:16] scottstern commented on #386
Having the same issue. destructuring children worked, but surprised this errored out

[2022-09-01 13:53] sjarva commented on #600
Thanks @Belco90  for tagging this as a "good first issue", it encouraged me to contribute to this repo! 🤗

[2022-09-02 08:58] Belco90 commented on #600
@sjarva Great! Thanks for your contribution, I'll try to review it soon.

[2022-09-03 11:53] Belco90 commented on #635
Hi @siminino! Thanks for reporting this problem, I was able to reproduce it locally, so I can confirm this is a bug.

This is affecting `testing-library/await-async-query` rule, but `prefer-destructuring` doesn't belong here.

[2022-09-03 22:44] #600 closed

[2022-09-05 07:38] siminino commented on #635
Thanks @Belco90,
A quick workaround for those facing this issue is adding semicolon on the beginning of destructuring line.
Obs: I don't know if this workaround is going to work to any other rules combination.
[code]

[2022-09-07 11:52] #403 closed

[2022-09-08 10:05] siminino commented on #635
Great explanation @sjarva. Thanks

Obs: The problem with the other workaround you suggested is that i can't reuse variables. This is needed in some cases.

[2022-09-08 10:59] sjarva opened #642 "[Relevant for contributors, not users] Fix linter errors in some files"
### Plugin version

5.6.2

### What problem do you want to solve?

For some reason, there are several files in `main` branch that have linter errors (to mention a few: `lib/rules/await-async-query.ts`, `lib/rules/await-fire-events.ts` and `lib/node-utils/index.ts`).

It would be great to have this solved, so that when a contributor will submit a PR that has bug or new rule related changes to these

[2022-09-08 16:25] Belco90 commented on #635
@sjarva Amazing explanation! I didn't know about this specific case for considering such code a call expression together with the previous line.

This made me check ESLint rules to prevent this, and I found the [`no-unexpected-multiline`](https://eslint.org/docs/latest/rules/no-unexpected-multiline) rule. It turns out this rule is catching an error in the provided example for this issue, confirmin

[2022-09-08 16:25] #635 closed

[2022-09-08 16:28] Belco90 commented on #642
Thanks for reporting! Let me check this. Our CI should prevent running into issues like this one.

[2022-09-08 16:36] Belco90 commented on #642
Hi again! Sorry, but I don't see any linter error on `main` branch.

<img width="723" alt="CleanShot 2022-09-08 at 18 32 34@2x" src="https://user-images.githubusercontent.com/2677072/189176711-87164d2d-03b4-43d4-bc76-52b734c41441.png">

Could you double-check? If this keeps happening, could you add some steps to reproduce?

[2022-09-08 19:00] sjarva commented on #642
When digging deeper, I realised that this is due to some config of mine (although what, I don't know). Clearing `eslint`'s cache helped.

For some reason my `eslint` thought that [`@typescript-eslint/prefer-optional-chain`](https://typescript-eslint.io/rules/prefer-optional-chain/) is on for this repo. At first I thought that it is part `@typescript-eslint/recommended` ruleset which this repo exte

[2022-09-08 19:00] #642 closed

[2022-09-09 07:01] siminino commented on #635
@Belco90 but don't you consider a proper detail for this kind of fail check in this rule?
While writing code now, is really hard to figure out what is happening by reading the fail message from this rule.

[2022-09-09 08:08] Belco90 commented on #635
Not for now, sorry. This is a really edge case that is caused by a different issue in the code, which is reported by another rule, so it's not worth it spending time in reporting such case.

[2022-09-09 10:10] sjarva commented on #509
I went for the "assume there is no file name" option in #643, as the `[something].js` is communicating that `something` is dynamic and can be replaced.

[2022-09-09 11:38] #509 closed

[2022-09-12 09:23] sjarva commented on #500
Thanks @Brianzchen for reporting this! This was nice and easy to fix in #645 🛠️ 🤗

[2022-09-12 09:26] sjarva commented on #586
@Belco90 I noticed that you had said that you'd like to submit a PR to fix this. Would you mind if I submit one, since you haven't done one yet?

[2022-09-12 09:35] Belco90 commented on #586
I couldn't work on this, so please feel free to submit a PR to fix it! 🙏

[2022-09-12 14:20] ghost opened #646 "Recommend using the methods on the instances returned by userEvent.setup() from userEvent"
### Name for new rule

prefer-userEvent-setup

### Description of the new rule

Rule should recommend using the methods on the instances returned by userEvent.setup() from userEvent as inline or using setup functions.

### Testing Library feature

Enforce using the methods on the instances returned by userEvent.setup()

### Testing Library framework(s)

React

### What category of rule is this?

S

[2022-09-12 14:45] Belco90 commented on #646
Thanks for your suggestion @pc-snatesan! It looks like a nice suggestion for the latest user-event version (we would have to mention that in the docs). A few clarifications:

- The rule name shouldn't contain uppercase, so it should be `prefer-user-event-setup`
- user-event actually applies to all frameworks supported by this plugin, not just the react one!

[2022-09-13 08:23] #500 closed

[2022-09-16 13:50] bennettdams opened #647 "New rule: `await-user-event`"
### Name for new rule

await-user-event

### Description of the new rule

Now that the `userEvent`'s methods are all async (with `v14`), wouldn't it make sense to add a rule to enfore `await` when using them?

A similar rule [already exists](https://github.com/testing-library/eslint-plugin-testing-library/blob/main/docs/rules/await-fire-event.md) for awaiting `fireEvent`.

### Testing Library feat

[2022-09-19 15:09] #627 closed

[2022-09-20 06:44] #625 closed

[2022-09-26 15:58] SevenOutman commented on #386
No luck here in my TypeScript project. Have to deal with props declaration if using destructuring. :(

[2022-10-01 15:32] sjarva commented on #586
Alright, the PR is now open! I noticed that other rules (`prefer-wait-for` and `no-manual-cleanup`) also use the old util function that returns just the first Testing Library import. I didn't refactor them to use this new util that returns all Testing Library imports, because I wasn't sure if there are false negatives with the old implementation. If a refactor is needed, I can work on that too, ei

[2022-10-01 16:31] sjarva commented on #386
I have opened a PR (#658) that deals with the most common and asked for cases (asked by @Snapperfish, @JustFly1984, @SevenOutman and @scottstern).

Unfortunately, this PR does not fix the errors on a) destructured props....
[code]

or b) an object that has a property named `children` (example from @titenis but @thepuzzlemaster and @sterlingwalsh had a similar cases)
[code]
I am somewhat sure that

[2022-10-02 11:58] #586 closed

[2022-10-02 12:31] Belco90 commented on #586
Refactoring those rules would be amazing! Better to open an issue for that so we can discuss the approach properly.

[2022-10-02 16:32] Belco90 commented on #386
Happy to take care of this in separate issues.

[2022-10-02 16:59] #386 closed

[2022-10-02 18:57] #617 closed

[2022-10-02 18:57] #618 closed

[2022-10-02 19:20] skovy commented on #619
Assuming this also requires updating the rule for user-event v14?

[2022-10-02 19:55] Belco90 commented on #619
That's right! I didn't think about that.

[2022-10-02 20:46] #620 closed

[2022-10-02 20:47] #626 closed

[2022-10-03 10:26] #621 closed

[2022-10-04 21:54] MichaelDeBoey commented on #622
Closed by #662

[2022-10-04 21:54] #622 closed

[2022-10-05 00:56] skovy commented on #626
@Belco90 @MichaelDeBoey assuming this was supposed to be plural? I can open a PR to fix it since it's currently `await-async-event`

[2022-10-05 08:06] Belco90 opened #669 "Add option to stop reporting user-event in `no-await-sync-events`"
`no-await-sync-events` must not report user-event methods by default since it aims user-event v14, so only fire-event it's reported. However, we need an option to decide which methods to be reported: fire-event, user-event or both.

The idea is to include an option in the same way as #626 with the following values for presets:

- dom: rule enabled with fire-event
- angular: rule enabled with fire-

[2022-10-05 08:09] Belco90 commented on #626
I didn't realize it wasn't plural! Please, open a small PR to rename it 🙏

[2022-10-05 15:01] Belco90 commented on #669
The idea is to still support `user-event` versions before v14 on v6 of the plugin. We did the same for `await-async-events` so by default it reports `user-event` as async, but can be disabled to provide backward compatibility for `user-event` prior to v14. Same here, so by default it doesn't report `user-event` as sync, unless it's enabled through its options.

[2022-10-08 23:50] Mrblackey opened #671 "Un-report react-test-renderer's findByType & findAllByType queries as async."
### What rule do you want to change?

await-async-query

### Does this change cause the rule to produce more or fewer warnings?

Fewer warnings

### How will the change be implemented?

Check that given node does not end with 'ByType'.

### Example code

	const elements = root.findAllByType('div')

### How does the current rule affect the code?

	promise returned from `findAllByType` query must be

[2022-10-09 04:28] Belco90 commented on #671
Hi @Mrblackey! This false positive is related to the Aggressive Reporting feature. Have you checked [the Troubleshooting section](https://github.com/testing-library/eslint-plugin-testing-library#troubleshooting) to find more about restricting this behavior?

[2022-10-09 07:23] Mrblackey commented on #671
Hello.
This option requires us to maintain the custom queries in two places instead of one, or ditch Aggresive Reporting altogether, which I prefer not to.
How about adding a new shared setting: `testing-library/ignore-custom-queries: ["ByType"]`?

[2022-10-09 09:58] Belco90 commented on #671
How so?

That's not necessary, you have granular control over modules and queries that would be reported without opting-out the Aggressive Reporting.

I don't have full context, but if you have a custom query, it should follow the same pattern as the built-in ones. That means that `findBy*` queries are async, and must be reported as such.

[2022-10-09 13:02] Mrblackey commented on #671
Assuming we have "findByIcon" query, we add
[code]
which is reported when not awaited. This works, as now react-test-renderer's `findByType` is not being reported, while our custom query is. What if we are adding a new custom query tomorrow? Someone has to remember to add it also to the settings section, in order to opt-in this new query to the rule. Perhaps the other way around makes more sense?

[2022-10-09 15:47] Belco90 commented on #671
Oh, wait. I didn't realize that `react-test-renderer` has its own `findByType` and `findByProps`. That definitely shouldn't be reported by any rule in this plugin (i.e. if the "query" is coming from `react-test-renderer` then should be ignored).

I think that bit is clear. What I don't get is do you actually want to stop reporting a custom `findBy*` query, or the `findByType` from `react-test-rend

[2022-10-11 08:24] Mrblackey commented on #671
Only the react-test-renderer ones.

So you're basically saying these are two separate things, right? Reports of react-test-renderer should be avoided even without this PR, right?

[2022-10-11 08:45] Belco90 opened #673 "False positives for `find*` queries from `react-test-renderer`"
### Have you read the Troubleshooting section?

Yes

### Plugin version

v5.7.2

### ESLint version

v8.25.0

### Node.js version

16.15.0

### package manager and version

n/a

### Operating system

n/a

### Bug description

[The `react-test-renderer` library provides several utils](https://reactjs.org/docs/test-renderer.html#testinstance) which match the `find*` query pattern: `findByType`, `fin

[2022-10-11 08:47] Belco90 commented on #671
Yes. I've created #673 to stop reporting utils from `react-test-renderer`.

[2022-10-11 08:54] Belco90 opened #674 "Improve `await-async-events` fixer"
As discussed in https://github.com/testing-library/eslint-plugin-testing-library/pull/656#issuecomment-1270702921, we need to improve the fixer for `await-async-events` rule. The fixer must add the `async` operator to the outer function if any and not still async.

[2022-10-11 09:15] Mrblackey commented on #673
Couldn't we just get away with explicitly excluding `/^find(All)?By(Type|Props)$/`?

[2022-10-11 09:40] Belco90 commented on #673
I'm afraid not because that would silence legit custom queries named like that.

[2022-10-14 11:54] #674 closed

[2022-10-17 17:50] sjarva commented on #368
I'm asking this again @Belco90: I see you have assigned this to yourself, but since you haven't made a PR yet, would you mind if I submit one? 🤗

[2022-10-17 18:10] Belco90 commented on #368
@sjarva By all means! I didn't realize it was assigned to me 😓

[2022-10-17 18:13] sjarva commented on #368
Thanks! Could you go through all issues that you have self-assigned and unassign yourself if aren't going to make a PR in the near future. (I found at least a couple of bugs, but not sure about feature issues.)

[2022-10-17 18:29] sjarva commented on #673
Just making a note to whomever will fix this bug, there's another issue related to `react-test-renderer`: #494
and it will be handy to re-use the new helper function that detects import from `react-test-renderer` in fixes to both issues 📝

[2022-10-17 18:31] Belco90 commented on #368
Good idea! I just reviewed the issues assigned to myself and unassigned them.

[2022-10-17 18:38] #368 closed

[2022-10-18 00:12] Mrblackey commented on #673
Indeed. Does this function already exist? Is it capable of tracking the origin of the `act` call if it is re-exported from another file, instead of directly from `react-test-renderer`?

[2022-10-18 06:42] sjarva commented on #673
No, not yet.

[2022-10-18 17:51] sjarva commented on #518
@Belco90: I started looking into this issue, and there's something wrong with `getDeepestIdentifierNode` function, either the JS Doc comment is wrong, or the implementation is buggy.

For example...
[code]

Any ideas what is happening?
And, since the `node-utils` functions aren't unit tested, I was thinking would that they catch stuff like this in the future 🤔 💭

[2022-10-19 01:12] skovy commented on #628
Is this primarily for `no-dom-import`, or does this affect other rules?

[2022-10-19 12:36] sjarva commented on #579
I started looking into this, and... I think that this issue's options part might be unnecessary 😅  Yes, the [`waitFor` can be passed options](https://testing-library.com/docs/dom-testing-library/api-async/#waitfor) that are in the shape of
[code]

However, the different queries (`ByText`, `ByLabelText`, etc) can also be passed options, but they are of totally different shape (this varies by the qu

[2022-10-19 16:14] Belco90 commented on #518
Not sure if I understood your example correctly. I'm confused about the `const rtlNode = ... // get this somehow` line, could you elaborate on this?

The JSDoc description is correct, so you should get the identifier for the last chained node. If that's not the case, we have a bug, but I didn't fully understand your example.

They are! It's difficult to spot that. If you go to the `tests/create-te

[2022-10-19 16:23] Belco90 commented on #628
This technically applies to all rules, since we check both import declarations and require call expressions in the `detect-testing-library-utils`. If you to `lib/create-testing-library-rule/detect-testing-library-utils.ts`, line 1036, you'll see we are detecting Testing Library imports with `require()` in there. We would have to remove that block entirely, and remove/update all the examples import

[2022-10-19 16:28] Belco90 commented on #579
That's right, but this is referring to `findBy*` queries, which is a wrapper over `waitFor` util + `getBy*` queries. [This is mentioned in the official docs](https://testing-library.com/docs/dom-testing-library/api-async#findby-queries) (I should have linked this in the ticket description, my bad):

So based on this, we should keep the options found in the `waitFor` util, and pass them as the last

[2022-10-19 16:31] Belco90 commented on #579
Additionally, this issue describes another issue when the `waitFor` is wrapping an assertion. Perhaps we can split these two bugs in separate issues.

[2022-10-19 18:33] Belco90 commented on #579
@sjarva that's amazing! Thanks for your efforts!

[2022-10-20 15:50] skovy commented on #628
Ah that makes sense, thanks for that additional context! I'll see if I can pick this up in the coming days/weeks

[2022-10-20 17:46] sjarva commented on #579
Okay, #679 fixes the part/scenario 1 of this issue. I'll continue working on the second part too, so I'm assigning this to myself.

[2022-10-20 19:21] sjarva commented on #518
Sorry about vagueness and/or unclear example. I meant that when I call `getDeepestIdentifierNode(rtlNode)`, I get `rtlNode`, and not the last chained node.

So we have a bug 🐛

Yay for unit testing helpers! Hmmn, I think I'll need some time to dug deeper into that test file, and probably write some notes (to myself and others) how to unit test helper functions with this file. I'll ask if I get stu

[2022-10-20 19:35] Belco90 commented on #518
But what is `rtlNode` in your example? Is not defined, so I can't say if it's a bug or not.

[2022-10-20 19:37] Belco90 commented on #518
If you are obtaining the `rtl` identifier in your `rtlNode` variable, then yes you'll obtain the node itself and it's not a bug (although it can be clarified in the JSDocs).

That util is supposed to be used with call expressions and that kind of nodes, not the identifiers themselves.

[2022-10-21 10:18] Belco90 commented on #627
I just realized there are other rules like `prefer-find-by` that are still checking these async methods. I'm going to add another ticket to check other places and remove such checks for removed async utils.

[2022-10-21 10:24] Belco90 opened #681 "Remove old async utils from the entire plugin"
Relates to #627

Since `wait`, `waitForElement` and `waitForDomChange` have been removed from latest Testing Library versions, we need to do a general clean-up to remove checks for them in the plugin.

For example, the `prefer-find-by` rule is still looking for `wait` and `waitForElement` usages. They must be removed, which would simplify the rule, and tests.

The same could apply to other rules,

[2022-10-23 14:14] sjarva opened #683 "False positive for `no-node-access` when accessing variable declaration's property `children`, `activeElement`, `firstChild` etc"
### Have you read the Troubleshooting section?

Yes

### Plugin version

v5.9.1

### ESLint version

v8.23.0

### Node.js version

16.10.0

### package manager and version

npm 7.24.0

### Operating system

macOS Big Sur, version 11.6

### Bug description

Extracted to an issue of its own from discussion in #386.

### Steps to reproduce

1. Have a unit test with a variable declaration that has a `

[2022-10-23 14:24] Belco90 commented on #683
Thanks for reporting this. We already got other complaints about this, definitely a legit bug. Not really sure what pattern we could use to decide when to report properties from this rule.

[2022-10-23 14:34] sjarva commented on #683
I have an idea of how to do this, but I'm afraid that I don't have the words to explain it clearly enough 😅

[2022-10-23 15:04] sjarva commented on #386
Turns out, that this code does not produce an error for this rule, so I haven't opened an issue for this, but added it to valid unit tests for this rule (in #684 ).

I have opened issue #683 for this scenario.

[2022-10-31 13:07] Belco90 opened #686 "False negative from `no-unnecessary-act`"
### Discussed in https://github.com/testing-library/eslint-plugin-testing-library/discussions/685

<div type='discussions-op-text'>

<sup>Originally posted by **douglasjunior** October 28, 2022</sup>
In one test case we called a function within ACT that ESLint indicates is a testing-library function, but is not.

![image](https://user-images.githubusercontent.com/1512341/198692772-eca3d026-f671-46

[2022-11-30 14:43] Cielquan opened #695 "False positive for `testing-library/render-result-naming-convention`"
### Have you read the Troubleshooting section?

Yes

### Plugin version

5.9.1

### ESLint version

8.27.0

### Node.js version

18.10.0

### package manager and version

8.19.2

### Operating system

Linux 5.15.0-53-generic #59-Ubuntu

### Bug description

I have a HOC which has the word "render" in ins name, wenn I wrote a test for it I got a false positive for the `testing-library/render-result

[2022-11-30 14:51] Cielquan commented on #695
I was a bit brain-afk. When aggressive reporting is off by setting the below the error is gone.

[code]

[2022-11-30 14:51] #695 closed

[2022-11-30 18:27] bvandercar-vt commented on #207
This is a badly coded example-- and there is no rule that can prevent badly written tests like this.

`render` in `beforeEach` is needed when the state of the component is needed to be reset, which is incredibly common in testing.

Just because you have this one-off case of a badly written test doesn't mean there should be a rule to prevent it, when there are much more likely and frequent cases wh

[2022-11-30 18:32] bvandercar-vt commented on #207
Your example is a badly coded example. There is no rule that can prevent badly written tests like your case.

`render` in `beforeEach` is used when the state of the component is needed to be reset, which is incredibly common in testing.

We all agree that in your example, it should all be in one test. But just because you have this one-off case of a badly written test suite doesn't mean there shou

[2022-11-30 18:35] bvandercar-vt commented on #207
I agree with everything in this sentiment.

In addition, the author states:

[code]

but this is just badly written code to begin with. What about the common case where no variable is assigned to?

[code]

I see no reason this shouldn't be allowed.

[2022-11-30 19:47] Belco90 commented on #207
Some rules prevent actual errors, others are recommendations. This rule won't prevent an actual error, it's just considered a best practice.

The example illustrated is a common scenario. It's true that there could be a better example. However, it doesn't matter if you need to reset the component between tests, or pass several props or none at all. The recommendation is to avoid abstractions in te

[2022-11-30 20:41] theredspoon opened #696 "Add `no-render-in-setup` rationale to docs"
### Plugin version

5.9.1

### What problem do you want to solve?

The rationale for `no-render-in-setup` is missing from the documentation.

### Your take on the correct solution?

Let's add the rationale to the documentation. This rationale was referenced in the feature request conversation [here](https://github.com/testing-library/eslint-plugin-testing-library/issues/207#issuecomment-1184596285

[2022-11-30 20:46] Belco90 commented on #696
I assume you meant `no-render-in-setup`?

[2022-11-30 20:47] theredspoon commented on #696
Oh gosh, yup. Just saw that mixup.

[2022-11-30 20:48] theredspoon commented on #696
Edited the issue and title, thanks for that.